= render :layout => "update_event_form" do |f|


  .row
    .col-xs-6
      = f.input :event_date, :label => 'Date of Disposition', :wrapper => :vertical_append do
        = f.input_field :event_date, :as => :string, :class => 'form-control datepicker', :data => {'date-container' => "##{format_as_id(@asset_event.asset_event_type.name)}_dialog"}, :value => format_as_date(f.object.event_date)
        %span.input-group-addon
          %i.fa.fa-calendar
    .col-xs-6
      = f.association :disposition_type, :label => "Disposition Type", :collection => DispositionType.active,:include_blank => false

  .row
    .col-xs-12
      = f.input :sales_proceeds, :wrapper => :vertical_prepend, :label => "Funds Received" do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input :sales_proceeds, :class => 'form-control', :min => 0, :label => false

  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any additional comments..."
  .form-group
    = f.button :submit, "Record disposition", :class => 'btn btn-primary'

= render 'disposition_form_scripts'
