<div class="row-fluid">
	<div class="span12">
		<%= simple_form_for([@asset, @asset_event], :url => @asset_event.new_record? ? inventory_asset_events_path(@asset) : inventory_asset_event_path(@asset, @asset_event), :method => @asset_event.new_record? ? 'post' : 'put', :defaults => {:disabled => @disabled }, :html => {:class => 'form-horizontal' }) do |f| %>
			<%= hidden_field_tag :event_type, @asset_event.asset_event_type.id %>

			<ul class="thumbnails">
				<%= panel_tag('Inspection', {:icon => 'fa fa-refresh', :class => "span6 form_part"}) do %>
						
					<%= f.input :event_date, :label => 'Date of change', :wrapper => :append, :class => "inline"  do %>
						<%= f.input_field :event_date, :as => :string, :class => 'span4 datepicker', :style => "margin-top:0", :disabled => @disabled %>
						<%= content_tag :span, :class => "add-on" do %><i class="icon-calendar"></i><% end %>
					<% end %>
					<%= f.association :inspector, :prompt => 'Select the inspector...' %>
	
				<% end %>
				<%= panel_tag('Disposition', {:icon => 'fa fa-refresh', :class => "span6 form_part"}) do %>						
					<%= f.association :disposition_type, :prompt => 'Select...' %>
					<%= f.input :comments, :input_html => { :class => "span12", :rows => 6 }, :placeholder => "Enter any additional comments..." %>
				<% end %>
			</ul>
			<% if ! @disabled %>
			<div class="form-actions panel-form-actions">
				<%= f.button :submit, 'Update disposition', :class=>"btn" %>
				<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
			</div>
			<% end %>
		<% end %>
	</div>
</div>	
