<div class="row-fluid">
	<div class="span12">
		<table class="table table-condensed table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>Update</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				<% @events.each do |e| %>
				<tr data-action-path = '<%= inventory_asset_event_path(@asset, e) %>'>
					<td><%= e.asset_event_type.name %></td>
					<td><%= format_as_date(e.event_date) %></td>
					<td><%= e.get_update %></td>					
					<td><%= e.comments %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
