= render :layout => "update_event_form" do |f|

  = f.input :parent_key, :as => :hidden
  = f.input :parent_name, :input_html => {:autocomplete => 'off', :class => 'form-control', :placeholder => 'Enter search text', :id => 'parent_name', :data => {:url => filter_inventory_index_path(search_params: {organization_id: @asset.organization_id})}}

  = f.input :event_date, :label => 'Date of Report', :wrapper => :vertical_append do
    = f.input_field :event_date, :class => "form-control datepicker", :as => :string, :data => {'date-container' => "##{format_as_id(@asset_event.asset_event_type.name)}_dialog"}, :value => format_as_date(f.object.event_date)
    %span.input-group-addon
      %i.fa.fa-calendar
  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any location comments..."
  .form-group
    = f.button :submit, "Update the storage location", :class => 'btn btn-primary'

:javascript

  $('#parent_name').on('focus', function() {
    _typeahead_source_url = $(this).data('url');
  });

  // Enable typeahead for the SMO filter
  $('#parent_name').typeahead({
    items: 10,
    minLength: 2,
    source: _typeahead_searcher,
    matcher: _typeahead_matcher,
    highlighter: _typeahead_highlighter,
    updater: function (obj) {
      var item = JSON.parse(obj);
      // Update the UI
      $('#parent_name').attr('value', item.name);
      $('#asset_event_parent_key').attr('value', item.id);
      return item.name;
    }
  });
