= render :layout => "update_event_form" do |f|
  = f.input :maintenance_provider_type_id, :collection => MaintenanceProviderType.active, :label => "Maintenance Provider Type", :include_blank => false
  = f.input :event_date, :label => 'Date of Report', :wrapper => :vertical_append do
    = f.input_field :event_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.event_date)
    %span.input-group-addon
      %i.fa.fa-calendar
  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any additional comments..."
  .form-group
    = f.button :submit, "Update maintenance provider", :class => 'btn btn-primary'
