= render :layout => "update_event_form" do |f|
  = f.input :event_date, :as => :hidden, :input_html => { :value => Date.today.strftime('%m/%d/%Y') }
  = f.input :rebuild_year, :label => 'Rehabilitation year', :collection => get_planning_fiscal_years, :include_blank => false
  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any additional comments..."
  .form-group
    = f.button :submit, "Schedule rehabilitation", :class => 'btn btn-primary'
