<%= render 'index_subnav' %>

<div class="row">
	<div class="col-md-12">
		<div id="timeline" class="well well-small" style="height:175px;"></div>
	</div>
</div>

<%= render 'index_table' %>

<script type="text/javascript">

	google.load("visualization", "1");

	// Set callback to run when API is loaded
	google.setOnLoadCallback(draw_timeline);

	var timeline;

	// Called when a user mouses over a row
	function select_event(row) {
		timeline.setSelection([{row: row}])
	};

	// Called when the Visualization API is loaded.
	function draw_timeline() {

		// Create a JSON data table
		data = [
			<% @events.each do |e| %>
				{
				'start': new Date(<%= js_date(e.event_date) %>),
				'content': ' <%= e.asset_event_type.name %>'
				},
			<% end %>
			<% unless @asset.policy_replacement_year.nil? %>
				{
				'start': new Date(<%= js_year(@asset.policy_replacement_year) %>),
				'content': 'End of Useful Life'
				},
			<% end %>
			<% unless @asset.estimated_replacement_year.nil? %>
				{
				'start': new Date(<%= js_year(@asset.estimated_replacement_year) %>),
				'content': 'Est. End of Service'
				}
			<% end %>
		];
	
		// specify options
		options = {
			"width" : "100%",
			"height" : "100%",
			"style" : "box" // optional
		};
	
		// Instantiate our timeline object.
		timeline = new links.Timeline(document.getElementById('timeline'));
	
		// Draw our timeline with the created data and options
		timeline.draw(data, options);
	};

</script>
