.row
  .col-md-4
    = dialog_tag('Asset', {:icon => "fa fa-list", :class => "header_part"}) do
      = render 'assets/summary'
  .col-md-8
    = render "#{@asset_event.class.name.underscore}_view"

= render 'scripts'
