<%= simple_form_for([current_user, @message], :html => {:class => 'form-horizontal' }) do |f| %>
	<%= dialog_tag('Message', {:icon => 'fa fa-envelope', :class => "form_part"}) do %>
		<%= f.association :to_user, :collection => @organization.users %>
		<%= f.input :subject, :input_html => { :class => "col-md-11" }, :placeholder => "Subject..." %>
		<%= f.association :priority_type, :include_blank => false %>
		<%= f.input :body, :input_html => { :class => "col-md-10", :rows => 10 }, :placeholder => "Enter your message..."%>
	<% end %>
	<div>
		<%= f.button :submit, :class => "btn btn-default" %>
		<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn btn-warning" %>
	</div>
</div>
<% end %>

<script type="text/javascript">
  
  // Document Ready
  $(document).ready(function(){
    $('#message_body').wysihtml5();
  });

</script>
