- available_agencies = Organization.where(id: @message_proxy.available_agencies)

%fieldset
  %legend
    = "New Message"

  = simple_form_for([current_user, @message_proxy],
    :url => user_messages_path(current_user),
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|

    = f.input :send_to_group, :as => :hidden

    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-6
        = f.input :to_user_ids, :label => "Users", :collection => available_agencies, :input_html => {:multiple => true, :size => 5}, :as => :grouped_select, :group_method => :users, :include_blank => false
        = f.input :group_agencys, :input_html => {:multiple => true, :size => 5}, :label => "Organizations", :collection => available_agencies, :include_blank => false
      .col-lg-4.col-md-4.col-sm-6.col-xs-6
        = f.input :group_roles, :input_html => {:multiple => true, :size => 5}, :label => "Roles", :collection => Role.all, :include_blank => "All Roles", :label_method => lambda {|r| "#{r.name.titleize.pluralize}"}, :value_method => lambda { |r| r.id }
      - if current_user.is_in_roles? [:admin, :manager]
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
          .pull-right{:style => 'margin-top: 25px;'}
            %input{:type => "checkbox", :id => "switch-mode", :data => {:label_text => "Group mode", :size => 'small'}}

    .row
      .col-lg-9.col-md-9.col-sm-9.col-xs-9
        = f.input :subject, :required => true, :placeholder => "Enter a brief summary..."
      .col-lg-3.col-md-3.col-sm-6.col-xs-6
        = f.input :priority_type_id, :required => true, :collection => PriorityType.active, :include_blank => false, :label => "Priority"

    = f.input :body, :required => true, :label => false, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}, :class => "form-control"}

    = f.button :submit, "Send...", :class => "btn btn-primary"


:javascript

  $(document).ready(function() {

    $("#switch-mode").bootstrapSwitch({
      onSwitchChange: switch_mode
    });

    enable_user_mode();

  });

  function switch_mode() {
    var val = $('#message_proxy_send_to_group').val();
    if (val == '0') {
      enable_group_mode();
    } else {
      enable_user_mode();
    }
  };

  function enable_user_mode() {
    var val = $('#message_proxy_send_to_group').val('1');
    $('.message_proxy_group_agencys, .message_proxy_group_roles').hide();
    $('.message_proxy_to_user_ids').show();
    $('#message_proxy_send_to_group').val('0');
    $('#switch-mode span').html('Send to group')
    $('#switch-mode i').removeClass('fa-user')
    $('#switch-mode i').addClass('fa-users')
  };
  function enable_group_mode() {
    $('.message_proxy_group_agencys, .message_proxy_group_roles').show();
    $('.message_proxy_to_user_ids').hide();
    $('#message_proxy_send_to_group').val('1');
    $('#switch-mode span').html('Send to users')
    $('#switch-mode i').addClass('fa-user')
    $('#switch-mode i').removeClass('fa-users')
  };

  $('#new_message_proxy').validate({
    ignore: [], //validate hidden fields
    submitHandler: function(form) {
      form.submit();
    }
  });

  $('#message_proxy_subject').rules("add", {
    required: true
  });
  $('#message_proxy_priority_type_id').rules("add", {
    required: true
  });
  $('#message_proxy_body').rules("add", {
    required: function()
    {
      CKEDITOR.instances.message_proxy_body.updateElement();
    }
  });
