<div class="media-body">
	<h4 class="media-heading"><%= message.subject %><small class="pull-right"><%= format_as_date_time(message.created_at) %></small></h4>
	<div class="well well-small div_thumbnail" data-action-path = '<%= user_message_path(current_user, message) %>'>
		<p class="message-header"><strong>From: <%= message.user.name %></strong></p>
		<p class="message-body">
			<%= message.body %>
		</p>
	</div>
</div>
<% if message.responses.size > 0 %>
<ul class="media-list indent" style="margin-left:40px;">
	<% message.responses.each do |response| %>
		<li class="media">
			<%= render(:partial => 'message_detail', :locals => {:message => response}) %>							
		</li>
	<% end %>											
</ul>
<% end %>
