<div class="row">
	<ul class="nav nav-pills nav-stacked" style="border:1px solid #dde4e9;border-radius:4px;background-color:#f1f4f6;padding:10px 20px 20px 20px;margin-right:20px;">
		<li class="nav-header" style="font-size:1.25em;"><strong>Messages</strong></li>
  		<li class="<%= get_nav_link_class('messages', MessagesController::SESSION_FILTER_TYPE_VAR, MessagesController::MESSAGE_TYPE_NEW) %>">
  			<%= link_to "New Messages (#{Message.where('to_user_id = ? AND opened_at IS NULL', current_user.id).count})", user_messages_path(current_user, :filter => MessagesController::MESSAGE_TYPE_NEW) %>
  		</li>
  		<li class="<%= get_nav_link_class('messages', MessagesController::SESSION_FILTER_TYPE_VAR, MessagesController::MESSAGE_TYPE_OLD) %>">
  			<%= link_to "Inbox", user_messages_path(current_user, :filter => MessagesController::MESSAGE_TYPE_OLD) %>
  		</li>
  		<li class="<%= get_nav_link_class('messages', MessagesController::SESSION_FILTER_TYPE_VAR, MessagesController::MESSAGE_TYPE_SENT) %>">
  			<%= link_to "Sent", user_messages_path(current_user, :filter => MessagesController::MESSAGE_TYPE_SENT) %>
  		</li>
		<li class="divider">
		<li>
			<%= link_to new_user_message_path(current_user) do %>
			<i class="fa fa-edit"></i> New Message
			<% end %>
		</li>
	</ul>
</div>

