
<%= render 'index_subnav' %>

<div class="row-fluid">
	<div class="span3">
		<%= render 'sidebar' %>
	</div>
	<div class="span9">
		<div class="row-fluid">
			<div class="span12">
				<%= render 'index_list' %>
			</div>
		</div>
		<div class="span12 first-in-row" style="padding-top:30px;">
			<div id="message_panel"></div>
		</div>
	</div>
</div>


<%= render 'shared/datatable_javascript' %>

<script type="text/javascript">

	function load_message(elem) {
		var url = $(elem).data('url');
    	transam.load_ajax_panel('message_panel', url, "get", "<%= raw loader_panel_tag() %>");
	}
</script>