<%= render 'message_subnav' %>

<div class="row-fluid">
	<div class="span8 offset2">
		<ul class="media-list">
			<li class="media">
				<%= render(:partial => 'message_detail', :locals => {:message => @message}) %>
			</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span8 offset2">
	<%= simple_form_for([current_user, @response]) do |f| %>
	<%= hidden_field_tag :message_id, @message.id %>
	<fieldset>
		<legend>Response</legend>
		<%= f.text_area :body, :class => "span12", :rows => 6, :placeholder => "Enter your reply..."%>
		<%= f.button :submit, 'Send Reply' %>
	</fieldset>
	<% end %>
	</div
</div>
