<%= render 'detail_subnav' %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= dialog_tag('Note', {:icon => 'fa fa-file-o', :class => "header_part"}) do %>
			<%= format_field("Note", @note.comments ) %>
			<%= format_field("Created By", @note.creator.name ) %>
			<%= format_field("Created", format_as_date_time(@note.created_at)) %>
		<% end %>
	</div>
</div>
