- if can? :update, @notice or can? :delete, @notice
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      I want to  
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}

      - if can? :update, @notice and @notice.end_datetime > DateTime.now and @notice.active
        %li
          = link_to edit_notice_path(@notice) do
            %i.fa.fa-fw.fa-edit
            = " Update this notice"
      - if can? :update, @notice and @notice.end_datetime > DateTime.now and @notice.active
        %li
          = link_to deactivate_notice_path(@notice) do
            %i.fa.fa-fw.fa-ban
            = " Deactivate this notice"
      - if can? :update, Notice and (@notice.end_datetime < DateTime.now or not @notice.active)
        %li
          = link_to reactivate_notice_path(@notice) do
            %i.fa.fa-fw.fa-check
            = " Reactivate this notice"
      - if can? :delete, @notice
        %li.divider
        %li
          = link_to notice_path(@notice), :method => :delete, :data => {:confirm => "Are you sure you want to remove this notice? The action can't be undone."} do
            %i.fa.fa-fw.fa-trash-o
            = " Remove this notice"
