.col-md-6.col-md-offset-3
  .row
    = simple_form_for(@notice,
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
      = f.input :active, :as => :hidden
      %fieldset
        %legend New Notice
        = f.input :subject
        = f.input :summary
        = f.input :details, :as => :text, :input_html => {:rows => 3}
        = f.association :organization, :include_blank => "All"
        .row
          .col-sm-9
            .form-group
              = f.input :display_datetime, :label => 'Start Displaying', :wrapper => :vertical_append do
                = f.input_field :display_datetime_date, :class => "form-control", :as => :string, :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.display_datetime)
                %span.input-group-addon
                  %i.fa.fa-calendar
          .col-sm-3
            = f.input :display_datetime_hour, :as => :select, :collection => 0..23, :label_method => lambda { |hr| Time.current.change(:hour => hr).strftime("%l:%M %p")}, :label => "Hour"
        .row
          .col-sm-9
            .form-group
              = f.input :end_datetime_date, :label => 'Stop Displaying', :wrapper => :vertical_append do
                = f.input_field :end_datetime_date, :class => "form-control", :as => :string, :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.end_datetime)
                %span.input-group-addon
                  %i.fa.fa-calendar
          .col-sm-3
            = f.input :end_datetime_hour, :as => :select, :collection => 0..23, :label_method => lambda { |hr| Time.current.change(:hour => hr).strftime("%l:%M %p")}, :requred => true, :label => "Hour"
        = f.association :notice_type, :include_blank => false
      = f.button :submit, :class => 'btn btn-primary'
