%table.table.table-hover#datatable
  %thead
    %tr
      %th.left Agency
      %th.center FY
      %th.left Project
      %th.center Scope

      %th.center Type
      %th.left Title
      %th.center Status
      %th.right Cost

      %th.right State
      %th.right Federal
      %th.right Local
      %th.right Total

  %tbody
    - @notices.each do |n|
      %tr.popup-details{:data => {:action_path => notice_path(n)}}
        %td= 
        %td.center= p.fiscal_year
        %td= p.project_number
        %td.center= p.team_ali_code.scope
        %td.center= p.capital_project_type.code

        %td= p.title
        %td.center= p.state.humanize

        %td.right= format_as_currency(p.total_cost)

        %td.right= format_as_currency(p.state_request)
        %td.right= format_as_currency(p.federal_request)
        %td.right= format_as_currency(p.local_request)
        %td.right= format_as_currency(p.total_request)


= render 'shared/datatable_javascript'
