%table.table.table-hover#datatable
  %thead
    %th.left Type
    %th.left Subject
    %th.left Summary
    %th.right Display Until
    - if can? :update, Notice
      %th.center Actions
  %tbody
    - notices.each do |notice|
      %tr
        %td.left= notice.notice_type
        %td.left= notice.subject
        %td.left= notice.summary.html_safe 
        %td.right= format_as_date_time(notice.end_datetime)
        - if can? :update, notice
          %td.center
            - if notice and notice.end_datetime > DateTime.now and notice.active
              = link_to edit_notice_path(notice) do
                %i.fa.fa-fw.fa-edit.action-icon.text-info
            - if notice.end_datetime > DateTime.now and notice.active
              = link_to deactivate_notice_path(notice) do
                %i.fa.fa-fw.fa-ban.action-icon.text-warning
            - if notice.end_datetime < DateTime.now or not notice.active
              = link_to reactivate_notice_path(notice) do
                %i.fa.fa-fw.fa-check.action-icon.text-success
            - if can? :delete, notice
              = link_to notice_path(notice), :method => :delete, :data => {:confirm => "Are you sure you want to remove this notice? The action can't be undone."} do
                %i.fa.fa-fw.fa-trash-o.action-icon.text-danger
            
= render 'shared/datatable_javascript'