= form_for @system_config do |f|
  - if @system_config.errors.any?
    #error_explanation
      %h2= "#{pluralize(@system_config.errors.count, "error")} prohibited this system_config from being saved:"
      %ul
        - @system_config.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
