.row
  = simple_form_for(@issue,
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|

    .row
      .col-sm-6.col-xs-12
        = f.association :issue_type, :required => true
      .col-sm-6.col-xs-12
        = f.association :web_browser_type, :required => true
    .row
      .col-sm-12.col-xs-12
        = f.input :comments, :required => true, :input_html => { :rows => 6 }, :placeholder => "Please provide as much detail as you can..."
    -if @resolving_issue
      .row
        .col-sm-12.col-xs-12
          = f.association :issue_status_type
      .row
        .col-sm-12.col-xs-12
          = f.input :resolution_comments, :input_html => { :rows => 6 }, :placeholder => "Please provide reason for issue resolution..."

    = f.button :submit, :class => 'btn btn-primary'

:javascript
  // jquery validations
  $('#new_issue').validate({
    ignore: [], //validate hidden fields
    submitHandler: function(form) {
      form.submit();
    }
  });
