.row
  = simple_form_for(@issue,
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
    = f.association :issue_type
    = f.association :web_browser_type
    = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Please provide as much detail as you can..."

    = f.button :submit, :class => 'btn btn-primary'
