- unless @task.completed? or @task.cancelled?
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      %i.fa.fa-cog
      = " Actions"
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      - if current_user == @task.user or current_user.has_role? :admin
        %li
          = link_to edit_user_task_path(current_user, @task) do
            %i.fa.fa-fw.fa-edit
            = " Update this task"
        %li.divider

      %li.dropdown-submenu
        = link_to "#" do
          %i.fa.fa-fw.fa-edit
          = " Update this status..."
        %ul.dropdown-menu
          - @task.allowable_events.each do |evt|
            %li
              = link_to fire_workflow_event_task_path( @task, :event => evt) do
                = evt.titleize
