- unless @task.complete?
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      I want to  
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      - if current_user == @task.from_user or current_user.has_role? :admin
        %li
          = link_to edit_user_task_path(current_user, @task) do
            %i.fa.fa-fw.fa-edit
            = " Update this task"
        %li.divider
      
      %li.dropdown-submenu
        = link_to "#" do
          %i.fa.fa-fw.fa-edit
          = " Update this status..."
        %ul.dropdown-menu
          - TaskStatusType.all.each do |t|
            %li
              = link_to update_status_user_task_path(current_user, @task, :task_status => t.id), :method => "patch" do
                = t.name
