<div class="row">
		<%= dialog_tag('New Task', {:icon => 'fa fa-calendar', :class => "form_part"}) do %>
			<%= simple_form_for([current_user, @task], :html => {:class => 'form-horizontal' }) do |f| %>
				<%= f.input :subject, :label => 'Description', :input_html => { :class => "col-md-11" }, :placeholder => "Task..." %>
				<%= f.association :assigned_to, :collection => @organization.users %>
				<%= f.input :complete_by, :wrapper => :append, :class => "inline"  do %>
					<%= f.input_field :complete_by, :as => :string, :class => 'col-md-11 datepicker', :style => "margin-top:0" %>
					<%= content_tag :span, :class => "add-on" do %><i class="icon-calendar"></i><% end %>
				<% end %>
				<%= f.input :send_reminder %>
				<%= f.association :priority_type, :include_blank => false %>
				<%= f.input :body, :label => 'Details', :input_html => { :class => "col-md-10", :rows => 6 }, :placeholder => "Enter any details about this task..."%>
				<div class="form-actions panel-form-actions">
					<%= f.button :submit %>
					<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>	


<script type="text/javascript">

  // Document Ready
  $(document).ready(function(){
    $('#task_body').wysihtml5();
  });
	
</script>
