= simple_form_for([current_user, @task],
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  = f.input :subject, :label => 'Task', :placeholder => "Task..."

  .row
    .col-md-3
      = f.association :assigned_to_user, :collection => current_user.organizations, :as => :grouped_select, :group_method => :users, :label => "Assigned To"
    .col-md-3
      = f.input :complete_by, :wrapper => :vertical_append, :label => "Complete By" do
        = f.input_field :complete_by, :as => :string, :class => 'datepicker form-control', :data => {'behavior' => 'datepicker'}, :value => f.object.complete_by.nil? ? "" : format_as_date(f.object.complete_by)
        %span.input-group-addon
          %i.fa.fa-calendar
    .col-md-3
      = f.association :priority_type, :include_blank => false, :label => "Priority"
    .col-md-3
      = f.input :send_reminder, :label => "Send Reminder"

  = f.input :body, :label => false, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'}}

  = f.button :submit, :class => "btn btn-primary"

:javascript
  $(document).ready(function(){
    $('[data-behavior~=datepicker]').datepicker({
      format: "mm/dd/yyyy"
    }).attr( 'readOnly' , 'true' );
  });
