<div class="row">
	<%= simple_form_for([current_user, @task], :html => {:class => 'form-horizontal' }, :wrapper => :horizontal_form, :wrapper_mappings => {:boolean => :horizontal_boolean}) do |f| %>
		<div class="col-md-8 col-md-offset-2">
			<%= dialog_tag('New Task', {:icon => 'fa fa-calendar', :class => "form_part"}) do %>
				<%= f.input :subject, :label => 'Description', :placeholder => "Task..." %>
				<%= f.association :assigned_to, :collection => @organization.users, :label => "Assigned To" %>
				<%= f.input :complete_by, :wrapper => :horizontal_append, :label => "Complete By" do %>
					<%= f.input_field :complete_by, :as => :string, :class => 'col-md-11 datepicker form-control', :data => {'behavior' => 'datepicker'}, :value => f.object.complete_by.nil? ? "" : f.object.complete_by.strftime("%m-%d-%Y") %>
					<span class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</span>
				<% end %>
				<%= f.input :send_reminder, :label => "Send Reminder" %>
				<%= f.association :priority_type, :include_blank => false, :label => "Priority Type" %>
				<%= f.input :body, :label => 'Details', :input_html => { :class => "col-md-10", :rows => 6 }, :placeholder => "Enter any details about this task..."%>
			<% end %>
			<div>
				<%= f.button :submit, :class => "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>	


<script type="text/javascript">

  // Document Ready
  $(document).ready(function(){
    $('#task_body').wysihtml5();
    $('[data-behavior~=datepicker]').datepicker({
      format: "mm-dd-yyyy"
    });
  });
	
</script>
