<div class="navbar-inner">
	<ul class="nav nav-pills nav-stacked" style="border:1px solid #e7e7e7;border-radius:4px;">
		<li class="nav-header" style="font-size:1.25em;padding-top:8px;padding-left:8px;">Tasks</li>
  		<li class="<%= get_nav_link_class('tasks', TasksController::SESSION_FILTER_TYPE_VAR, 0) %>">
  			<%= link_to "All", user_tasks_path(current_user, :filter => 0) %>
  		</li>
  		<li class="<%= get_nav_link_class('tasks', TasksController::SESSION_FILTER_TYPE_VAR, 1) %>">
  			<%= link_to "Not Started", user_tasks_path(current_user, :filter => 1) %>
  		</li>
  		<li class="<%= get_nav_link_class('tasks', TasksController::SESSION_FILTER_TYPE_VAR, 2) %>">
  			<%= link_to "In Progress", user_tasks_path(current_user, :filter => 2) %>
  		</li>
  		<li class="<%= get_nav_link_class('tasks', TasksController::SESSION_FILTER_TYPE_VAR, 3) %>">
  			<%= link_to "Completed", user_tasks_path(current_user, :filter => 3) %>
  		</li>
  		<li class="<%= get_nav_link_class('tasks', TasksController::SESSION_FILTER_TYPE_VAR, 4) %>">
  			<%= link_to "On Hold", user_tasks_path(current_user, :filter => 4) %>
  		</li>
  		<li class="divider"></li>
  		<li>
  			<div class="btn-group" data-toggle="buttons-radio" style="width:100%;">
				<button type="button" id="my_tasks_btn"  class="btn btn-info" style="width:50%;">My Tasks</button>
				<button type="button" id="all_tasks_btn" class="btn btn-info" style="width:50%;">Everyone's Tasks</button>
  			</div>
  		</li>
	</ul>
</div>
