= format_field("Status", @task.state.humanize )
= format_field("Due", format_as_date(@task.complete_by))
= format_field("Priority", @task.priority_type )
= format_field("From", @task.user.name )
= format_field("Assigned On", format_as_date(@task.created_at) )
- if @task.updated_at > @task.created_at
  = format_field("Last Updated On", format_as_date_time(@task.updated_at))
