.panel.panel-default{:id => "#{task.object_key}_task_panel"}
  .panel-heading
    - if can? :update, task
      %span.pull-right
        .btn-group{:style => 'margin-left: 5px;'}
          %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :aria_expanded => "false"}
            = task.state.titleize
            %span.caret
          %ul.dropdown-menu.pull-right{:role => "menu"}
            %li
              - task.allowable_events.each do |evt|
                = link_to fire_workflow_event_task_path(task, :event => evt) do
                  %i.fa.fa-fw{:class => get_workflow_event_icon(evt)}
                  = "#{evt.titleize} this task"
            %li.divider
            %li
              = link_to task_path(task), :method => :delete, :data => {:confirm => "Are you sure you want to remove this task? The action can't be undone."} do
                %i.fa.fa-trash-o.fa-fw
                = " Remove this task"
        .btn-group{:style => 'margin-left: 5px;'}
          %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", :aria_expanded => "false"}
            - if task.assigned_to_user.nil?
              Assign
            - else
              = task.assigned_to_user
            %span.caret
          %ul.dropdown-menu.pull-right.scrollable-menu{:role => "menu", :style => "overflow-y:scroll;height:300px;"}
            %li
              - User.joins(:users_organizations).where(:users_organizations => {:organization_id => @organization_list}).each do |usr|
                = link_to change_owner_task_path(task, :user => usr.object_key) do
                  %i.fa.fa-fw.fa-user
                  = usr
            - if task.assigned_to_user
              %li.divider
              %li
                = link_to change_owner_task_path(task, :user => "") do
                  %i.fa.fa-fw.fa-minus-square-o
                  Unassign

    %i.fa.fa-lg.fa-caret-right.panel-toggle{:style => 'font-size:1.25em;margin-right:5px;', :data => {:toggle => "collapse", :target => "##{task.object_key}_panel_body"}}
    = task.subject.upcase


  .panel-body.collapse{:id => "#{task.object_key}_panel_body"}
    = format_as_text(task.body)

  .panel-footer.clearfix
    %span.pull-right.text-muted
      .btn-group{:style => 'margin-left: 5px;'}
        = link_to task_path(task), :class => "btn btn-success btn-xs" do
          %i.fa.fa-fw.fa-plus
          Open

      %i.fa.fa-clock-o
      = " due #{format_as_date_time_distance(task.complete_by)}"

    - if task.taskable
      %span.pull-left
        - if task.taskable_path
          = link_to task.taskable_path do
            %i.fa.fa-fw.fa-link
            = task.taskable
        - else
          = task.taskable
