= render 'detail_subnav'

.row
  .col-md-6
    = dialog_tag(@task.subject, {:icon => 'fa fa-calendar', :class => "header_part"}) do
      = format_field("Status", @task.task_status_type )
      = format_field("Due", format_as_date(@task.complete_by))
      = format_field("Priority", @task.priority_type )
      = format_field("From", @task.from_user.name )
      = format_field("Description", @task.body.html_safe )
      = format_field("Assigned On", format_as_date(@task.created_at) )
      - if @task.updated_at > @task.created_at
        = format_field("Last Updated On", format_as_date_time(@task.updated_at))
      - if @task.completed_on
        = format_field("Completed On", format_as_date(@task.completed_on))

  .col-md-6
    = dialog_tag('Comments', {:icon => 'fa fa-comments', :class => "header_part"}) do
      .scrollable{:style => 'height:250px;overflow-y: auto;'}
        - if @task.comments.empty?
          %p There are no comments for this task.
        - else
          = render :partial => 'shared/comments', :locals => {:comments => @task.comments}

      %fieldset
        %legend Add Comment
        = form_for [@task, Comment.new], :role => 'form' do |f|
          .form-group
            = f.text_area :comment, :class => 'form-control', :placeholder => 'Enter a new comment...'
          = f.submit :class => 'btn btn-primary'

:javascript
  
  // Document Ready
  $(document).ready(function(){
    transam.make_same_height('.header_part');
  });
  

