<%= render 'task_subnav' %>

<div class="row-fluid">
	<div class="span6 offset3">
		<ul class="thumbnails">
		<%= panel_tag(@task.subject, {:icon => 'icon-calendar', :class => "span12 form_part"}) do %>
			<%= format_field("Due", format_date(@task.complete_by)) %>
			<%= format_field("From", @task.from_user.name ) %>
			<%= format_field("Description", @task.body ) %>
			<% if @task.completed_on %>
				<%= format_field("Completed On", format_date(@task.completed_on)) %>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>
