<%= dialog_tag("Resend unlock instructions", "fa fa-sign-in") do %>
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="span12">
				<%= render 'shared/messages' %>
			</div>
			<%= form_for(resource, :as => resource_name, :url => user_unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  			  <%= f.error_notification %>
			  <%= f.input :email, :autofocus => true %>

			  <div class="form-actions">
				  <%= f.button :submit, "Resend unlock instructions", :class => 'btn-primary' %>
			  </div>
			<% end %>						
			
			
			<%= render "devise/shared/links" %>			

		</div>
	</div>
<% end %>
