:ruby
  table_dom_id = SecureRandom.hex

%legend{style: 'border-bottom: none; margin-bottom: 0px;'} Message Templates

.table-responsive
  #table_actions.btn-group
    - if can? :create, MessageTemplate
      = link_to new_message_template_path, :class => 'btn btn-primary' do
        %i.fa.fa-plus.fa-fw
        = " Add New Message Template";
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :pagination => 'true',
    :show_pagination_switch => 'false',
    :page_list => "[5, 10, 20, 50, 100, 200, 10000]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :toolbar => "#table_actions",
    :export_types => "['csv', 'txt', 'excel']",
    :show_export => 'true',
    :show_columns => 'false',
    :show_toggle => 'false',
    :cookie => 'true',
    :cookie_id_table => "message_templates_table",
    :cookie_expire => "1y"}}
    %thead
      %tr
        %th.center{:data => {:sortable => 'true'}} ID
        %th.center{:data => {:sortable => 'true'}} Subject
        %th.center{:data => {:sortable => 'true'}} Description
        %th.center{:data => {:sortable => 'true'}} Active
        %th.center{:data => {:sortable => 'true'}} Message
        %th.center{:data => {:sortable => 'true'}} Email (External)
        %th

    %tbody
      - @message_templates.each do |t|
        %tr
          %td
            - if can? :update, t
              = link_to t.name, edit_message_template_path(t)
            - else
              t.name

          %td.left= t.subject
          %td.left.nowrap= format_as_text(t.description)
          %td.center.nowrap{data: {tableexport: {value: "#{(t.active && t.is_implemented) ? 'Yes' : 'No'}"}}}= format_as_boolean((t.active && t.is_implemented))
          %td.center.nowrap{data: {tableexport: {value: "#{t.message_enabled ? 'Yes' : 'No'}"}}}= format_as_boolean(t.message_enabled)
          %td.center.nowrap{data: {tableexport: {value: "#{t.email_enabled ? 'Yes' : 'No'}"}}}= format_as_boolean(t.email_enabled)
          %td.center
            - if can? :destroy, t
              = link_to message_template_path(t), :method => :delete, title: "Remove template", :data => {:confirm => "Are you sure you want to remove this template (#{t.name})? The action can't be undone."} do
                %i.fa.fa-trash-o.fa-fw.fa-2x