:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

- if show_actions == 1
  #table_actions.btn-group
    = render :partial => "activity_logs/index_actions"

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :table_code => 'activity_log',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100",
      :search => 'client',
      :export => "['csv', 'txt', 'excel']",
      :columns => '{"0":{"name":"Action","type":"drilldown-link"},
                    "1":{"name":"Activity"},
                    "2":{"name":"User"},
                    "date_time":{"name":"Date/Time","type":"right-align"},
                    "4":{"name":"Id"}}',
      :selected_columns => "0,1,2,date_time",
      :cookies => "true",
      :sort => 'client',
      :sort_params => @params,
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}
  - @activities.each_with_index do |a, index|

    :javascript
      add_row('#{table_dom_id}',
      {
        "0": '#{ link_to a.activity.truncate(64).html_safe, activity_log_path(a.id)}',
        "1": "#{a.item_type}",
        "2": "#{a.user}",
        "date_time": "#{format_as_date_time(a.activity_time)}",
        "4": "#{a.id}"
      }, #{index});










-#%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
-#  :pagination => 'true',
-#  :show_pagination_switch => 'false',
-#  :page_list => "[5, 10, 20, 50, 100, 200, 10000]",
-#  :page_size => current_user.num_table_rows,
-#  :search => 'false',
-#  :export_types => "['csv', 'txt', 'excel']",
-#  :show_export => 'true',
-#  :show_columns => 'true',
-#  :show_toggle => 'true',
-#  :cookie => 'true',
-#  :cookie_id_table => "activity_logs_id",
-#  :cookie_expire => "1y"}}
-#  %thead
-#    %tr
-#      %th.left{:data => {:visible => 'false'}} Id
-#      %th.left{:data => {:sortable => 'true'}} Date/Time
-#      %th.left{:data => {:sortable => 'true'}} User
-#      %th.left{:data => {:sortable => 'true'}} Action
-#      %th.left{:data => {:sortable => 'true'}} Activity
-#
-#  %tbody
-#    - @activities.each do |a|
-#      %tr{:id => a.id, :class => 'action-path'}
-#        %td.left= a.id
-#        %td.left= format_as_date_time(a.activity_time)
-#        %td.left= a.user
-#        %td.left= a.item_type
-#        %td.left= a.activity.truncate(64).html_safe

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => activity_log_path("xxx")}
