:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :show_columns => 'true',
  :show_toggle => 'true'}}
  %thead
    %tr
      %th.left Date/Time
      %th.left User
      %th.left Action
      %th.left Activity

  %tbody
    - @activities.each do |a|
      %tr{:data => {:action_path => activity_log_path(a)}}
        %td.left= format_as_date_time(a.activity_time)
        %td.left= a.user
        %td.left= a.item_type
        %td.left= a.activity.truncate(64).html_safe

:javascript

  $(window).resize(function() {
    $("##{table_dom_id}").bootstrapTable('resetView');
  });
