.btn-group.pull-right.panel-action
  %button.btn.btn-primary.btn-sm.dropdown-toggle#test{:data => {:toggle => 'dropdown'}}
    %i.fa.fa-cog
    = " Actions"
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    - if User.joins(:users_organizations).where(:users_organizations => {:organization_id => @organization_list}).include? @user
      - if current_user != @user and can? :create, Message
        %li
          = link_to new_user_message_path(current_user, to_user: @user) do
            %i.fa.fa-envelope.fa-fw
            = " Send #{@user.first_name} a message"
      - if can? :create, Task
        %li
          = link_to new_user_task_path(current_user, assigned_to: @user) do
            %i.fa.fa-calendar.fa-fw
            - if @user.id != current_user.id
              = " Assign #{@user.first_name} a task"
            - else
              = " Assign myself a task"
    - if can? :profile_photo, @user
      %li.divider
      %li
        = link_to profile_photo_user_path(@user) do
          %i.fa.fa-camera-retro.fa-fw
          - if @user.id != current_user.id
            = "Update #{@user.first_name}'s profile picture"
          - else
            = " Update my profile picture"
    - if can? :settings, @user
      %li
        = link_to settings_user_path(@user) do
          %i.fa.fa-cog.fa-fw
          -if @user.id != current_user.id
            = "Update #{@user.first_name}'s settings"
          -else
            = " Update my settings"
    - if can? :update, @user
      %li
        = link_to edit_user_path(@user) do
          %i.fa.fa-edit.fa-fw
          - if @user.id != current_user.id
            = " Update #{@user.first_name}'s profile"
          - else
            = " Update my profile"
    - if (@user != current_user && (can? :assign, @user.roles.roles.last))
      %li
        = link_to authorizations_user_path(@user) do
          %i.fa.fa-lock.fa-fw
          - if @user.id != current_user.id
            = " Update #{@user.first_name}'s authorizations"
          - else
            = " Update my authorizations"

    - if can? :change_password, @user
      %li
        - if @user.id != current_user.id
          = link_to reset_password_user_path(@user) do
            %i.fa.fa-key.fa-fw
            = " Reset #{@user.first_name}'s password"
        - else
          = link_to change_password_user_path(@user) do
            %i.fa.fa-key.fa-fw
            = " Change my password"

    - if @user.active && can?(:destroy, @user) && @user != current_user
      %li.divider
      %li
        = link_to user_path(@user), :method => :delete, :data => {:confirm => "Are you sure you want to deactivate this user?"}  do
          %i.fa.fa-minus-circle.fa-fw
          = " Deactivate this user"
    - elsif !@user.active && (can? :reactivate, @user) and @user != current_user
      %li.divider
      %li
        = link_to user_path(@user), :method => :delete, :data => {:confirm => "Are you sure you want to reactivate this user?"}  do
          %i.fa.fa-undo.fa-fw
          = " Reactivate this user"
