:ruby

  assignable_roles = Role.roles.map{ |r| [r.label, r.id] if can? :assign, r }.compact
  assignable_privileges = Role.privileges.where(show_in_user_mgmt: true).map{ |r| [r.id, r.label, RolePrivilegeMapping.where(privilege_id: r.id).count > 0] if can? :assign, r }.compact

%fieldset
  %legend User Organizations
  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      = f.association :organization, :collection => Organization.where(id: @organization_list), :label => 'Primary Organization', :label_method => 'coded_name', :selected => (@user.organization_id || params[:organization_id]), :include_blank => true
    .col-lg-6.col-md-6.col-sm-6.col-xs-12

      .form-group.required
        %label.required.control-label
          %abbr{title: 'required'} *
          = " Primary & Secondary Organizations"
        %a.transam-popover{data: {placement: 'left', toggle: 'popover', html: 'true', content: 'The selections made here provide the user with the ability to edit data for any selected organization.'}, tabindex: '0'}
          %i.fa.fa-info-circle
        = f.select(:organization_ids,
                Organization.where(id: @organization_list).map{|o| [o.coded_name, o.id]},
                {:include_blank => true},
                {multiple: true})

%fieldset
  %legend Roles & Privileges

  .row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      = f.input :role_ids, :label => "User Role", :collection => assignable_roles, :required => true


    - if assignable_privileges.count > 0
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        #privilege-ids-div
          %label.check_boxes.optional User Privileges
          = f.collection_check_boxes :privilege_ids, assignable_privileges, :first, :second, :item_wrapper_class => 'checkbox' do |b|
            = b.check_box(:class => (b.object.third ? 'super-privilege' : '')) + b.text

- SystemConfig.transam_module_names.each do |mod|
  - if lookup_context.template_exists?("#{mod}_authorization_fields_scripts", 'users', true)
    = render :partial => "users/#{mod}_authorization_fields_scripts"

