<div class="row">
	<%= simple_form_for(@user, :url => update_password_user_path(@user), :html => {:class => 'form-horizontal' }, :wrapper => :horizontal_form) do |f| %>
		<div class="col-md-6 col-md-offset-3">
			<%= dialog_tag('Password', {:icon => 'fa fa-key', :class => "form_part"}) do %>
				<%= f.input :password, :label => "New Password", :autocomplete => "off" %>
				<%= f.input :password_confirmation, :label => "Re-enter New Password" %>
				<%= f.input :current_password, :label => "Current Password" %>
			<% end %>
			<div class="col-md-12">
				<%= f.button :submit, :class => "btn btn-primary" %>
				<%= submit_tag 'Cancel', :name => 'cancel', :class => "btn btn-warning" %>
			</div>
		</div>
	<% end %>
</div>

