<div class="row">
	<%= simple_form_for(@user, :url => update_password_user_path(@user), :html => {:class => 'form-horizontal' }, :wrapper => :vertical_form) do |f| %>
		<div class="col-md-3">
			<%= dialog_tag("#{@user.name}", {:icon => "fa fa-user", :class => "form_part"}) do %>
				<%= render(:partial => "summary", :locals =>{:user => @user}) %>
			<% end %>
	  </div>
		<div class="col-md-6">
			<%= dialog_tag('Password', {:icon => 'fa fa-key', :class => "form_part"}) do %>
				<%= f.input :password, :label => "New Password", :autocomplete => "off" %>
				<%= f.input :password_confirmation, :label => "Re-enter New Password" %>
				<%= f.input :current_password, :label => "Current Password" %>
				<%= f.submit "Update", :class => "btn btn-primary" %>
			<% end %>
		</div>
		<div class="col-md-3">
		<%= dialog_tag("Info", {:icon => "fa fa-question-circle", :class => "form_part"}) do %>
				<%= render(:partial => "password_instructions") %>
			<% end %>
		</div>
	<% end %>
</div>
