<div class="row-fluid">
	<div class="span6 offset3">
		<%= simple_form_for(@user, :url => update_password_user_path(@user), :html => {:class => 'form-vertical' }) do |f| %>
		<ul class="thumbnails">
			<%= panel_tag('Password', {:icon => 'fa fa-key', :class => "span12 form_part"}) do %>
				<%= f.input :password, :label => "New password", :autocomplete => "off" %>
				<%= f.input :password_confirmation, :label => "Re-enter new password" %>
				<%= f.input :current_password, :label => "Current password" %>
			<% end %>
		</ul>
		<div class="form-actions">
			<%= f.button :submit %>
			<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
		</div>
		<% end %>
	</div>
</div>

