= format_field("Primary Organization", link_to(@user.organization.to_s, organization_path(@user.organization)) )

= format_field("Primary & Secondary Organizations", format_as_list(@user.organizations.map{|l| link_to(l.to_s, organization_path(l)) }), 'The selections made here provide the user with the ability to edit data for any selected organization.',nil,'','label') if @user.organizations.count > 1
= format_field("Address", format_as_address(@user.full_address) )
= format_field("Phone", format_as_phone_number(@user.phone) )
= format_field("Ext.", @user.phone_ext) unless @user.phone_ext.blank?
