- email_domains = Organization.pluck(:id,:allowed_email_domains).to_h

= simple_form_for(@user,
  :html => {:class => 'form-vertical user_profile_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - if @user.new_record?
    = render partial: "authorization_fields", :locals => {:f => f}

  %fieldset
    %legend User Details
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :first_name, :placeholder => "User's first name...", :label => "First Name"
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :last_name, :placeholder => "User's last name...", :label => "Last Name"

    = f.input :email, :as => :email, :required => true, :placeholder => "User's business email address...", :hint => 'Enter only business email addresses'
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :title, :placeholder => "User's title..."
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :external_id, :placeholder => "User's ID number...", :label => "ID Number"

  %fieldset
    %legend Contact Info

    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-6
        = f.input :phone, :as => :tel, :placeholder => "Users primary phone number...", :hint => 'Format 123-456-7890', :required => true
      .col-lg-2.col-md-2.col-sm-2.col-xs-3
        = f.input :phone_ext, :label => "Ext."
      .col-lg-6col-md-6.col-sm-6.col-xs-6
        = f.input :timezone, :as => :time_zone, priority: /US/, :prompt => "Select timezone..."


    = f.input :address1
    = f.input :address2
    .row
      .col-sm-6
        = f.input :city
      .col-sm-3
        = f.input :state, :as => :select, :collection => ISO3166::Country['US'].states.keys, :include_blank => false
      .col-sm-3
        = f.input :zip

    = f.button :submit, :class => "btn btn-primary"

:javascript

  var email_domains = JSON.parse('#{email_domains.to_json.html_safe}');

  $('.user_profile_form').validate({
    ignore: '#user_organization_ids, .filtered, .filter-input',
    rules: {
      'user[email]': {
        email: true
      },
      'user[zip]': {
        zipcodeUS: true
      },
      'user[phone]' : {
        phoneUS: true
      }
    }
  });

  $.validator.addMethod("in_email_domain_list", function(value, element) {
    var org_id;
    if ($('#user_organization_id').val() == undefined) {
      org_id = parseInt('#{@user.organization_id}');
    } else {
      org_id = parseInt($('#user_organization_id').val());
    }

    if (isNaN(org_id)) {
      console.log('pigs');
      return true;
    } else {
      var allowed_domains = email_domains[org_id].split('|')
      var domain = value.split('@')[1];

      return $.inArray( domain, allowed_domains ) >= 0;
    }
  }, "Email domain is not allowed.");

- if User.new.respond_to? :email_in_org_domain_list
  :javascript
     $('#user_email').rules("add", {
        email: true,
        in_email_domain_list: true
      });

