:ruby
  role_ids_by_org = OrganizationRoleMapping.role_ids_by_org || {}
  assignable_roles = Role.roles.map{ |r| [r.label, r.id] if can? :assign, r }.compact
  assignable_privileges = Role.privileges.where('resource_id IS NULL').map{ |r| [r.label, r.id] if can? :assign, r }.compact
  assignable_super_privileges = Role.privileges.where('resource_id IS NOT NULL').map{ |r| [r.id, r.label, r.resource_id] if can? :assign, r }.compact

= simple_form_for(@user,
  :html => {:class => 'form-vertical user_profile_form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - if @organization_list.count > 1
    %fieldset
      %legend User Organizations
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          = f.association :organization, :collection => Organization.where(id: @organization_list), :label_method => 'coded_name'
        .col-lg-6.col-md-6.col-sm-6.col-xs-12

          = f.input :organization_ids, :as => :hidden
          .form-group.required
            %label.required.control-label
              %abbr{title: 'required'} *
              = " Organizations"
            #org_select.input-large

  %fieldset
    %legend User Details
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :first_name, :placeholder => "User's first name...", :label => "First Name"
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :last_name, :placeholder => "User's last name...", :label => "Last Name"

    = f.input :email, :as => :email, :required => true, :placeholder => "User's business email address...", :hint => 'Enter only business email addresses'
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :title, :placeholder => "User's title..."
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        = f.input :external_id, :placeholder => "User's ID number...", :label => "ID Number"

    - if can? :assign, Role.find_by(name: 'user')
      %fieldset
        %legend Roles & Prvileges

        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            = f.input :role_ids, :label => "User Role", :collection => assignable_roles, :include_blank => false
            = f.collection_check_boxes :privilege_ids, assignable_super_privileges, :first, :second, :item_wrapper_class => 'checkbox' do |b|
              = b.check_box(:class => 'super-privilege', :data => { resource_id: b.object.third.to_s}) + b.text

          - if assignable_privileges.count > 0
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              = f.input :privilege_ids, :label => "User Privileges", :collection => assignable_privileges, :as => :check_boxes, :input_html => { :multiple => true }

  %fieldset
    %legend Contact Info

    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-6
        = f.input :phone, :as => :tel, :placeholder => "Users primary phone number...", :hint => 'Format 123-456-7890', :required => true
      .col-lg-2.col-md-2.col-sm-2.col-xs-3
        = f.input :phone_ext, :label => "Ext."
      .col-lg-6col-md-6.col-sm-6.col-xs-6
        = f.input :timezone, :as => :time_zone, priority: /US/, :prompt => "Select timezone..."


    = f.input :address1
    = f.input :address2
    .row
      .col-sm-6
        = f.input :city
      .col-sm-3
        = f.input :state, :as => :select, :collection => Country['US'].states, :include_blank => false
      .col-sm-3
        = f.input :zip

    = f.button :submit, :class => "btn btn-primary"

= render 'form_scripts'

:javascript

  $('.user_profile_form').validate({
    ignore: '#user_organization_ids, .filtered, .filter-input',
    submitHandler: function(form) {
      form.submit();
    },
    rules: {
      'user[email]': {
        email: true
      },
      'user[zip]': {
        zipcodeUS: true
      },
      'user[phone]' : {
        phoneUS: true
      }
    }
  });

  var role_ids_by_org = JSON.parse('#{role_ids_by_org.to_json}');

  $(document).ready(function() {
    $('#user_role_ids').change();

    $('btn.selector-clearall').hide();

    var org_id = $('#user_organization_id').val();
    update_role_list_by_organization(org_id);

    $('#selected_grantees option').attr('disabled', false);
    $('#selected_grantees option[value="' + org_id + '"]').attr('disabled', true);

  });

  $('#user_role_ids').change(function() {
    $('.super-privilege').each(function(){

      if(parseInt($(this).data('resource-id')) == parseInt($('#user_role_ids').val())) {
        $(this).parent().parent().show(); // get span of checkbox
      } else {
        $(this).parent().parent().hide();
      }
    });

  });

  // Organization change: reset role, borough, and boroughs
  $('#user_organization_id').on('change', function(e) {
    var org_id = $(this).val();
    update_role_list_by_organization(org_id);
    $('#org_select').data().bootstrapTransfer.move_all(true, false); // clear out all selected values
    $('#org_select').data().bootstrapTransfer.set_values([org_id])

    $('#selected_grantees option').attr('disabled', false);
    $('#selected_grantees option[value="' + org_id + '"]').attr('disabled', true);

    $('#user_role_ids').val('');
  });

  function update_role_list_by_organization(org_id) {
    if(org_id) {
      org_id = parseInt(org_id);
      var role_ids = role_ids_by_org[org_id];
      //console.log(role_ids);
      $('#user_role_ids option').each(function() {
        var val = $(this).val();
        if(val && role_ids != undefined && role_ids.indexOf(parseInt(val)) < 0) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    } else {
      $('#user_role_ids option').hide();
      $('#user_role_ids option[value=""]').show();
    }
  }