<div class="row">
	<div class="col-md-12">
		<%= simple_form_for(@user, :html => {:class => 'form-vertical' }) do |f| %>
		<ul>
			<div class="col-md-4">
				<%= dialog_tag('User', {:icon => 'fa fa-user', :class => "span4 form_part"}) do %>
					<%= f.input :first_name, :placeholder => "Users first name..." %>
					<%= f.input :last_name, :placeholder => "Users last name..." %>
					<%= f.input :email, :as => :email, :placeholder => "Users business email address..." %>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= dialog_tag('Contact Information', {:icon => 'fa fa-book', :class => "span4 form_part"}) do %>
					<%= f.input :phone, :as => :tel, :placeholder => "Users primary phone number..." %>
				<% end %>
			</div>
			<div class="col-md-4">
				<%= dialog_tag('Settings', {:icon => 'fa fa-cog', :class => "span4 form_part"}) do %>
					<%= f.input :timezone, :as => :time_zone, priority: /US/, :prompt => "Select timezone..." %>
					<%= f.input :external_id, :placeholder => "External id..." %>
					<%= f.input :notify_via_email %>
				<% end %>
			</div>
		</ul>
		<% if ! @disabled %>
		<div class="form-actions">
			<%= f.button :submit %>
			<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>

