<div class="row">
	<%= simple_form_for(@user, :html => {:class => 'form-vertical' }, :wrapper => :vertical_form, :wrapper_mappings => {:boolean => :vertical_boolean}) do |f| %>
		<div class="col-md-4">
			<%= dialog_tag('User', {:icon => 'fa fa-user', :class => "form_part"}) do %>
				<%= f.input :first_name, :placeholder => "Users first name..." %>
				<%= f.input :last_name, :placeholder => "Users last name..." %>
				<%= f.input :email, :as => :email, :placeholder => "Users business email address..." %>
			<% end %>
		</div>
		<div class="col-md-4">
			<%= dialog_tag('Contact Information', {:icon => 'fa fa-book', :class => "form_part"}) do %>
				<%= f.input :phone, :as => :tel, :placeholder => "Users primary phone number..." %>
			<% end %>
		</div>
		<div class="col-md-4">
			<%= dialog_tag('Settings', {:icon => 'fa fa-cog', :class => "form_part"}) do %>
				<%= f.input :timezone, :as => :time_zone, priority: /US/, :prompt => "Select timezone..." %>
				<%= f.input :external_id, :placeholder => "External id..." %>
				<%= f.input :notify_via_email %>
			<% end %>
		</div>
		<% if ! @disabled %>
			<div class="col-md-12">
				<%= f.button :submit, :class => "btn btn-primary" %>
				<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn btn-warning" %>
			</div>
		<% end %>
	<% end %>
</div>

