- if can? :create, User
  = link_to new_user_path, :class => 'btn btn-default' do
    %i.fa.fa-fw.fa-user
    = " Add a user"

= form_tag users_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
  - if @organization_list.count > 1
    .form-group
      = select_tag(:organization_id, options_for_select(Organization.all.collect{|a| [a.coded_name, a.id]}, :selected => @organization_id), :class => "form-control", :prompt => "Any organization...")

  - if current_user.has_role? :admin
    .form-group
      = select_tag(:role, options_for_select(Role.all, :selected => @role), :class => "form-control", :prompt => "Any role...")


:javascript
  $(document).ready(function() {

    $('#organization_id, #role').change(function() {
      $('#filter_form').submit();
    });

  });
