<%= sub_nav_tag({}) do %>
	<li class="<%= get_nav_link_class('users', UsersController::SESSION_VIEW_TYPE_VAR, UsersController::VIEW_TYPE_LIST) %>">
		<%= link_to users_path(:view_type => UsersController::VIEW_TYPE_LIST) do %>
			<i class="fa fa-th-large"></i> List View
		<% end %>
	</li>
	<li class="<%= get_nav_link_class('users', UsersController::SESSION_VIEW_TYPE_VAR, UsersController::VIEW_TYPE_TABLE) %>">
		<%= link_to users_path(:view_type => UsersController::VIEW_TYPE_TABLE) do %>
			<i class="fa fa-list-alt"></i> Table View
		<% end %>
	</li>
	<% if can? :create, User %>
		<li>
			<%= link_to new_user_path do %>
				<i class="fa fa-plus"></i> Add User
			<% end %>
		</li>
	<% end %>
</ul>

	<%= form_tag users_path, :id => 'search_form', :method => "get", :class => 'navbar-form form-search pull-right' do %>
		<div class="input-append">
			<%= text_field_tag :search_text, @search_text, :class => "search-query"%>
			<button type="submit" class="btn">Search</button>
		</div>
	<% end %>
<% end %>
