- if can? :create, User
  = link_to new_user_path, :class => 'btn btn-default' do
    %i.fa.fa-fw.fa-user-plus
    = " Add a user"

- if @organization_list.count > 1
  .btn-group{:style => 'margin-left: 0!important;'}
    %button.btn.btn-default.dropdown-toggle{:data => {:toggle => 'dropdown'}, :aria => {:exapanded => 'false'}}
      Agency
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      %li
        = link_to "All agencies", users_path(:role => @role)
      %li.divider
      - Organization.where('id IN (?)', @organization_list).each do |org|
        %li
          = link_to org.coded_name, users_path(:organization_id => org.id, :role => @role)

- if current_user.has_role? :admin
  .btn-group{:style => 'margin-left: 0!important;'}
    %button.btn.btn-default.dropdown-toggle{:data => {:toggle => 'dropdown'}, :aria => {:exapanded => 'false'}}
      Roles
      %span.caret
    %ul.dropdown-menu{:role => 'menu'}
      %li
        = link_to "All roles", users_path(:organization_id => @organization_id)
      %li.divider
      - Role.all.each do |role|
        %li
          = link_to role.label, users_path(:organization_id => @organization_id, :role => role.name)
