<div class="row">
	<% @users.each do |user| %>
		<%= action_thumbnail_tag({:class => 'col-md-3', :icon => "fa fa-user", :title => user.name, :path => user_path(user)}) do %>
			<%= content_tag "address" do %>
				Phone: <%= number_to_phone(user.phone, :area_code => true) %><br/>
				Email: <%= user.email %>
			<% end %>
			<% if user.id != current_user.id %>
				<%= link_to new_user_message_path(user, :to_user => user) do %>
					<i class="fa fa-envelope-o"></i> Send message
				<% end %>		
			<% end %>			
		<% end %>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		transam.make_same_height('.thumbnail-content');
		
		$(window).resize(function() {
			transam.make_same_height('.thumbnail-content');
    	});		
	});
		
</script>
