:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

#users_table_actions.row
  - if show_actions == 1
    = render :partial => "users/index_actions"

%table.table.table-hover{:id => table_dom_id,
  :data => {:toggle => 'table',
  :url => users_path(:format => :json),
  :card_view => "false",
  :pagination => 'true',
  :sort_order => 'asc',
  :sortable => 'true',
  :side_pagination => 'server',
  :show_pagination_switch => 'false',
  :page_number => '1',
  :page_list => "[5, 10, 20, 50, 100, 200, 10000]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :show_columns => 'true',
  :toolbar => "#users_table_actions",
  :row_style => 'row_style',
  :click_to_select => 'true',
  :show_export => 'true',
  :id_field => 'object_key',
  :export_types => "['csv', 'txt', 'excel']",
  :cookie => 'true',
  :cookie_id_table => "usersid",
  :cookie_expire => "1y",
  :maintain_selected => 'true',
  :single_select => 'false',
  :query_params => "query_params" }}

  %thead
    %tr
      %th.left{:data => {:field => "object_key", :visible => 'false'}} Object Key
      %th.left{:data => {:field => "external_id", :visible => 'false'}} External Id
      %th.left.nowrap{:data => {:field => "last_name", :sortable => 'true', :formatter => 'link_to_user', :switchable => 'false'}} Last
      %th.left.nowrap{:data => {:field => "first_name", :sortable => 'true'}} First
      %th.left{:data => {:field => "organization", :sortable => 'true', :formatter => 'link_to_org'}} Primary Organization
      %th.left{:data => {:field => "all_orgs", :visible => 'false', :sortable => 'false'}} All Organizations
      %th.left.nowrap{:data => {:field => "email", :sortable => 'true'}} Email
      %th.left.nowrap{:data => {:field => "phone", :sortable => 'true'}} Phone
      %th.left.nowrap{:data => {:field => "phone_ext", :sortable => 'true'}} Ext.
      %th.left.nowrap{:data => {:field => "title", :sortable => 'true'}} Title
      %th.left{:data => {:field => "role_name", :sortable => 'false'}} Role
      %th.left{:data => {:field => "privilege_names", :sortable => 'false'}} Privileges
      %th.left{:data => {:field => "active", :sortable => 'true', :formatter => 'active_formatter'}} Status
      %th.left{:data => {:field => "active", :visible => 'false', :sortable => 'true', :formatter => 'system_access_formatter'}} System Access
      %th.left{:data => {:field => "timezone", :visible => 'false', :sortable => 'true'}} Timezone
      %th.center{:data => {:field => "notify_via_email", :visible => 'false', :sortable => 'true', :formatter => 'raw_boolean_formatter'}} Send Emails
      %th.right{:data => {:field => "num_table_rows", :visible => 'false', :sortable => 'true', :formatter => 'integer_formatter'}} Table Rows
      - if current_user.has_role? :admin
        %th.right{:data => {:field => "sign_in_count", :visible => 'false', :sortable => 'true', :formatter => 'integer_formatter'}} Num Logins
        %th.right{:data => {:field => "last_sign_in_at", :visible => 'false', :sortable => 'true'}} Last Login
        %th.left.nowrap{:data => {:field => "last_sign_in_ip", :visible => 'false', :sortable => 'true'}} Last Login IP
        %th.right{:data => {:field => "failed_attempts", :visible => 'false', :sortable => 'true', :formatter => 'integer_formatter'}} Num Failed
        %th.center{:data => {:field => "locked_at", :visible => 'false', :sortable => 'true', :formatter => 'raw_boolean_formatter'}} Locked
        %th.right{:data => {:field => "created_at", :visible => 'false', :sortable => 'true'}} Created At
        %th.right{:data => {:field => "updated_at", :visible => 'false', :sortable => 'true'}} Updated At


= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => user_path("xxx"), :allow_row_click => 0}

:javascript
  $(document).ready(function() {
    $('#' + '#{table_dom_id}').bootstrapTable('resetWidth');
  });

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });
  function link_to_user(value, data) {
    return "<a href='/users/" + data.object_key + "/'><u>" + value + "</u></a>"
  };
  function link_to_org(value, data) {
    return "<a href='/org/" + data.organization_short_name + "/'>" + data.organization_short_name + " : " + data.organization_name + "</a>"
  };
  function active_formatter(value) {
    if (value) {
      return "Active";
    } else {
      return "Inactive";
    }
  }
  function system_access_formatter(value) {
    if (value) {
      return "Yes";
    } else {
      return "No";
    }
  }

  var role = "#{@role.kind_of?(Array) ? @role.join(",") : @role}";
  var show_active_only = "#{@show_active_only}";
  var search_text = "#{@search_text}";
  var organization_id = "#{@org.try(:id)}";

  function query_params(params) {
    if (parseInt(organization_id) > 0) {
      params.organization_id = organization_id;
    }

    params.role = role;
    params.show_active_only = show_active_only;
    params.search_text = search_text;
    return params;
  }