:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

- if show_actions == 1
  #table_actions.btn-group
    = render :partial => "users/index_actions"

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_toggle => 'true'}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false'}} Object Key
      %th.left{:data => {:visible => 'false'}} External Id
      %th.left{:data => {:sortable => 'true'}} Organization
      %th.left.nowrap{:data => {:sortable => 'true'}} Title
      %th.left.nowrap{:data => {:sortable => 'true'}} First
      %th.left.nowrap{:data => {:sortable => 'true'}} Last
      %th.left.nowrap{:data => {:sortable => 'true'}} Email
      %th.left.nowrap{:data => {:sortable => 'true'}} Phone
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} Timezone
      %th.center{:data => {:visible => 'false', :sortable => 'true'}} Send Emails
      %th.right{:data => {:visible => 'false', :sortable => 'true'}} Table Rows
      - if current_user.has_role? :admin
        %th.left{:data => {:sortable => 'true'}} Roles
        %th.right{:data => {:sortable => 'true'}} Num Logins
        %th.right{:data => {:sortable => 'true'}} Last Login
        %th.left.nowrap{:data => {:visible => 'false', :sortable => 'true'}} Last Login IP
        %th.right{:data => {:visible => 'false', :sortable => 'true'}} Num Failed
        %th.center{:data => {:sortable => 'true'}} Locked
        %th.center{:data => {:sortable => 'true'}} Active
        %th.right{:data => {:sortable => 'true'}} Created At
        %th.right{:data => {:visible => 'false', :sortable => 'true'}} Updated At

  %tbody
    - @users.each do |u|
      %tr{ :class => 'action-path' }
        %td= u.object_key
        %td= u.external_id
        %td= link_to( u.organization.short_name, organization_path(u.organization.short_name))
        %td= u.title
        %td= link_to u.first_name, user_path(u)
        %td= u.last_name
        %td= u.email
        %td= format_as_phone_number(u.phone)
        %td= u.timezone
        %td= format_as_boolean(u.notify_via_email)
        %td= format_as_integer(u.num_table_rows)
        - if current_user.has_role? :admin
          %td= format_as_list(u.roles.map{|r| r.label})
          %td= format_as_integer(u.sign_in_count)
          %td= format_as_date_time(u.last_sign_in_at)
          %td= u.last_sign_in_ip
          %td= format_as_integer(u.failed_attempts)
          %td= format_as_boolean(u.locked_at.present?)
          %td= format_as_boolean(u.active)
          %td= format_as_date_time(u.created_at)
          %td= format_as_date_time(u.updated_at)

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => user_path("xxx")}
