:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id}
  %thead
    %tr
      %th.left Organization
      %th.left First
      %th.left Last
      %th.left Email
      %th.left Phone
      %th.center

  %tbody
    - @users.each do |u|
      %tr.popup-details{:data => {:action_path => user_path(u)}}
        %td= u.organization.short_name
        %td= u.first_name
        %td= u.last_name
        %td= u.email
        %td= format_as_phone_number(u.phone)
        %td.center
          %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{u.name}", :content => "#{raw render :partial => 'users/summary', :locals => {:user => u}}"}}

- if @users.count > current_user.num_table_rows
  = render :partial => 'shared/datatable_javascript', :locals => {:id => table_dom_id}

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
