<div class="row-fluid">
	<div class="span12">
		<table id="datatable" class="table table-condensed table-striped table-hover table-bordered">
			<thead>
				<th>Organization</th>
				<th>First</th>
				<th>Last</th>
				<th>e-mail</th>
				<th>Phone</th>
				<th>Roles</th>
				<th>Created</th>
				<th>Last Login</th>
			</thead>
			<tbody>
				<% @users.each do |u| %>
				<tr data-action-path = '<%= user_path(u) %>'>
					<td><%= u.organization.name %></td>
					<td><%= u.first_name %></td>
					<td><%= u.last_name %></td>
					<td><%= u.email %></td>
					<td><%= format_as_phone_number(u.phone) %></td>
					<td><%= format_as_list(u.roles) %></td>
					<td><%= format_as_date_time(u.created_at) %></td>
					<td><%= format_as_date_time(u.last_sign_in_at) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= render 'shared/datatable_javascript' %>
