%table.table.table-hover{:id => 'user_role_table', :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_toggle => 'true',
  :state_save => 'true',
  :state_save_id_table => "role_history_id",
  :state_save_expire => "1y"}}
  %thead
    %tr
      %th.center.nowrap{:data => {:sortable => 'true'}} Role
      %th.center.nowrap{:data => {:sortable => 'true'}} Granted By
      %th.center.nowrap{:data => {:sortable => 'true'}} Granted On
      -# %th.center.nowrap{:data => {:sortable => 'true'}} Revoked By
      -# %th.center.nowrap{:data => {:sortable => 'true'}} Revoked On
      -# %th.center.nowrap{:data => {:sortable => 'true'}} Active

  %tbody
    - user_roles.each do |r|
      - if r.role.privilege? == false
        %tr
          %td.left= r.role.label
          %td.left= r.granted_by_user
          %td= format_as_date(r.granted_on_date)
          -# %td.left= r.revoked_by_user
          -# %td= format_as_date(r.revoked_on_date)
          -# %td= format_as_boolean(r.active)

%table.table.table-hover{:id => 'user_privilege_table', :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_toggle => 'true',
  :state_save => 'true',
  :state_save_id_table => "privilege_history_id",
  :state_save_expire => "1y"}}
  %thead
    %tr
      %th.center.nowrap{:data => {:sortable => 'true'}} Privilege
      %th.center.nowrap{:data => {:sortable => 'true'}} Granted By
      %th.center.nowrap{:data => {:sortable => 'true'}} Granted On
      -# %th.center.nowrap{:data => {:sortable => 'true'}} Revoked By
      -# %th.center.nowrap{:data => {:sortable => 'true'}} Revoked On
      -# %th.center.nowrap{:data => {:sortable => 'true'}} Active

  %tbody
    - user_roles.each do |r|
      - if r.role.privilege?
        %tr
          %td.left= r.role.label
          %td.left= r.granted_by_user
          %td= format_as_date(r.granted_on_date)
          -# %td.left= r.revoked_by_user
          -# %td= format_as_date(r.revoked_on_date)
          -# %td= format_as_boolean(r.active)
