:ruby
  table_dom_id = SecureRandom.hex
= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100",
      :search => 'client',
      :export => "['csv', 'txt', 'excel']",
      :columns => '{"0":{"name":"Session ID"},
                    "1":{"name":"User"},
                    "2":{"name":"IP Address"},
                    "3":{"name":"Organization"},
                    "4":{"name":"Started"},
                    "5":{"name":"Expires"},
                    "6":{"name":"Age"},
                    "7":{"name":"Last View Time"},
                    "8":{"name":"Inactive Time"},
                    "9":{"name":"View Count"},
                    "10":{"name":"Last View"}}',
      :selected_columns => "0,1,2,3,4,5,6,7,8,9,10",
      :cookies => "true",
      :sort => 'client',
      :sort_params => @params,
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}

  - @sessions.keys.each_with_index do |s, index|
    - user = User.find_by(:id => @sessions[s][:user_id])
    :javascript
      console.log("#{@sessions[s]}");
      add_row('#{table_dom_id}',
      {
        "1": '#{user.name unless user.blank?}',
        "2": "#{@sessions[s][:ip_addr]}",
        "3": "#{user.organization.to_s unless user.blank?}",
        "4": "#{format_as_date_time(@sessions[s][:start_time])}",
        "5": "#{format_as_date_time(@sessions[s][:expire_time])}",
        "6": "#{format_as_time_difference((Time.now - @sessions[s][:start_time]).to_i) unless @sessions[s][:start_time].blank?}",
        "7": "#{format_as_date_time(@sessions[s][:last_view])}",
        "8": "#{format_as_time_difference((Time.now - @sessions[s][:last_view]).to_i) unless @sessions[s][:last_view].blank?}",
        "9": "#{center= format_as_integer(@sessions[s][:views])}",
        "10": "#{format_as_date_time(@sessions[s][:last_view])}",
        "0": "#{@sessions[s][:path]}"
      }, #{index});

