:ruby
  table_dom_id = SecureRandom.hex
= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100,200",
      :search => 'client',
      :export => "['csv', 'txt', 'excel']",
      :columns => "Session ID,,
                  User,,
                  IP Address,,
                  Organization,,
                  Started,,
                  Expires,,
                  Age,,
                  Last View Time,,
                  Inactive Time,,
                  View Count,,
                  Last View,,",
      :selected_columns => "User,
                            IP Address,
                            Organization,
                            Started,
                            Expires,
                            Age,
                            Last View Time,
                            Inactive Time,
                            View Count,
                            Last View,
                            Session ID",
      :cookies => "true",
      :sort => 'client',
      :sort_params => @params,
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}

  - @sessions.keys.each_with_index do |s, index|
    - user = User.find_by(:id => @sessions[s][:user_id])
    :javascript
      add_row('#{table_dom_id}',
      {
        "User": '#{user.name unless user.blank?}',
        "ID Address": "#{@sessions[s][:ip_addr]}",
        "Organization": "#{user.organization.to_s unless user.blank?}",
        "Started": "#{format_as_date_time(@sessions[s][:start_time])}",
        "Expires": "#{format_as_date_time(@sessions[s][:expire_time])}",
        "Age": "#{format_as_time_difference((Time.now - @sessions[s][:start_time]).to_i) unless @sessions[s][:start_time].blank?}",
        "Last View Time": "#{format_as_date_time(@sessions[s][:last_view])}",
        "Inactive Time": "#{format_as_time_difference((Time.now - @sessions[s][:last_view]).to_i) unless @sessions[s][:last_view].blank?}",
        "View Count": "#{center= format_as_integer(@sessions[s][:views])}",
        "Last View": "#{format_as_date_time(@sessions[s][:last_view])}",
        "Session ID": "#{@sessions[s][:path]}"
      }, #{index});



-#
-#%table.table.table-hover{:id => 'user-sessions-table', :data => {:toggle => 'table',
-#  :pagination => 'true',
-#  :show_pagination_switch => 'false',
-#  :page_list => "[5, 10, 20, 50, 100, 200, 10000]",
-#  :page_size => current_user.num_table_rows,
-#  :search => 'false',
-#  :export_types => "['csv', 'txt', 'excel']",
-#  :show_export => 'true',
-#  :show_columns => 'true',
-#  :show_toggle => 'false',
-#  :cookie => 'true',
-#  :cookie_id_table => "sessionsid",
-#  :cookie_expire => "1y"}}
-#  %thead
-#    %tr
-#      %th.center.nowrap{:data => {:visible => 'false', :sortable => 'true'}} Session Id
-#      %th.center.nowrap{:data => {:sortable => 'true'}} User
-#      %th.center.nowrap{:data => {:sortable => 'true'}} IP Addr
-#      %th.center.nowrap{:data => {:sortable => 'true'}} Organization
-#      %th.center.nowrap{:data => {:sortable => 'true'}} Started
-#      %th.center.nowrap{:data => {:sortable => 'true'}} Expires
-#      %th.center.nowrap{:data => {:sortable => 'true'}} Age
-#      %th.center.nowrap{:data => {:sortable => 'true'}} Last View Time
-#      %th.center.nowrap{:data => {:sortable => 'true'}} Inactive Time
-#      %th.left.nowrap{:data => {:sortable => 'true'}} View Count
-#      %th.left.nowrap{:data => {:sortable => 'true'}} Last View
-#  %tbody
-#    - @sessions.keys.each do |s|
-#      - user = User.find_by(:id => @sessions[s][:user_id])
-#      %tr
-#        %td= s
-#        %td= user.name unless user.blank?
-#        %td= @sessions[s][:ip_addr]
-#        %td= user.organization.to_s unless user.blank?
-#        %td= format_as_date_time(@sessions[s][:start_time])
-#        %td= format_as_date_time(@sessions[s][:expire_time])
-#        %td= format_as_time_difference((Time.now - @sessions[s][:start_time]).to_i) unless @sessions[s][:start_time].blank?
-#        %td= format_as_date_time(@sessions[s][:last_view])
-#        %td= format_as_time_difference((Time.now - @sessions[s][:last_view]).to_i) unless @sessions[s][:last_view].blank?
-#        %td.center= format_as_integer(@sessions[s][:views])
-#        %td= @sessions[s][:path]
