.row
  .col-xs-12
    = render :partial => "users/user_card", :locals => {:user => user}
.row
  .col-xs-12
    = format_field("Primary Phone", format_as_phone_number(user.phone) )
    = format_field("Ext.", user.phone_ext) unless user.phone_ext.blank?
    = format_field("External ID", user.external_id ) unless user.external_id.blank?
    = format_field("Roles", format_as_list(user.roles) )
    = format_field("Address", format_as_address(user)) unless user.full_address.blank?
