.hidden-md.hidden-sm.hidden-xs
  .col-xs-12
    = render :partial => "users/user_card", :locals => {:user => user}
  .col-xs-12
    = format_field("Email", user.email)
    = format_field("Primary Phone", format_as_phone_number(user.phone) )
    = format_field("Ext.", user.phone_ext) unless user.phone_ext.blank?
    = format_field("External ID", user.external_id ) unless user.external_id.blank?
    = format_field("Address", format_as_address(user)) unless user.full_address.blank?
    = format_field("Role", user.roles.roles.last.label)
    = format_field("Privileges", format_as_list(user.roles.privileges.collect{|x| x.label}) )
.hidden-lg
  .col-sm-4
    = render :partial => "users/user_card", :locals => {:user => user}
  .col-sm-4
    = format_field("Email", user.email)
    = format_field("Primary Phone", format_as_phone_number(user.phone) )
    = format_field("Ext.", user.phone_ext) unless user.phone_ext.blank?
    = format_field("External ID", user.external_id ) unless user.external_id.blank?
  .col-sm-4
    = format_field("Address", format_as_address(user)) unless user.full_address.blank?
    = format_field("Roles", format_as_list(user.roles.collect{|x| x.label}) )
