.col-md-3
  = dialog_tag("#{@user.name}", {:icon => "fa fa-user", :class => "form_part"}) do
    = render(:partial => "summary", :locals =>{:user => @user})

.col-md-6
  = simple_form_for(@user, :html => {:class => 'form-vertical' }, :wrapper => :vertical_form, :wrapper_mappings => {:boolean => :vertical_boolean}) do |f|
    = dialog_tag('System Settings', {:icon => 'fa fa-cog', :class => "form_part"}) do
      = f.input :notify_via_email, :label => "Notify via Email"
      = f.input :num_table_rows, :collection => [5, 10, 20, 50, 100, 200], :include_blank => false, :label => "Number of table rows to display"
      .col-md-12
        = f.button :submit, :class => "btn btn-primary"
.col-md-3
  = dialog_tag("Info", {:icon => "fa fa-question-circle", :class => "form_part"}) do
    %p Uncheck <strong>Notify via Email</strong> to turn off email notifications
    %p <strong>Default Organization Filter</strong> sets the filter applied on login
    %p Table Rows controls the table rows displayed across the application.
