.panel.panel-default.dashboard-panel
  .panel-heading
    User Activity
  .panel-body
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th.left Name
          %th.right Most Recent Login
          %th.center Login Count
          %th.center Account Locked
          %th.center
          %th.center
      %tbody
        - User.unscoped.where(organization_id: @organization_list).order(last_sign_in_at: :desc).each do |u|
          %tr{:data => {:action_path => user_path(u)}}
            %td.left= u.name
            %td.right= format_as_date_time(u.last_sign_in_at)
            %td.center= format_as_integer(u.sign_in_count)
            %td.center= format_as_boolean(u.locked_at)
            %td.center
              %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{u.name}", :content => "#{raw render :partial => 'users/summary', :locals => {:user => u}}"}}
            %td.center
              = link_to new_user_message_path(current_user, to_user: u), :title => "Send #{u.first_name} a message" do
                %i.fa.fa-envelope
              = link_to new_user_task_path(current_user, user_id: u), :title => "Assign task to #{u.first_name}" do
                %i.fa.fa-calendar

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
