.row
  .col-sm-12.col-lg-3
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-10
            %h3.panel-title
              %i.fa.fa-user
              = @user
          .col-sm-2
            = render 'actions'
      .panel-body
        = render :partial => 'user_details', :locals => {:user => @user}

  .col-sm-12.col-lg-9
    = render 'details'

= render 'scripts'
