<%= dialog_tag("Forgot your password?", "fa fa-exclamation") do %>
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="span12">
				<%= render 'shared/messages' %>
			</div>
			<%= simple_form_for(resource, :as => resource_name, :url => user_unlock_path(resource_name), :html => {:method => :post, :class => 'form-vertical' }) do |f| %>
  			  <%= f.error_notification %>
			  <%= f.input :email, :required => true, :autofocus => true %>
			
			  <div class="form-actions">
			    <%= f.button :submit, "Send me reset password instructions", :class => 'btn-primary' %>
			  </div>
			
			<% end %>						
			
		  	<%= link_to "Sign in", new_user_session_path %>

		</div>
	</div>
<% end %>

