%li{:class => get_nav_link_class(['admin'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-cog.fa-2x
    %b.caret
  %ul.dropdown-menu.dropdown-menu-right{:role => 'menu'}
    %li.text-left
      = link_to notices_path do
        %i.fa.fa-thumb-tack.fa-fw
        Notices
    %li.text-left
      = link_to organizations_path do
        %i.fa.fa-building.fa-fw
        Organizations
    %li.text-left
      = link_to users_path do
        %i.fa.fa-users.fa-fw
        Users
    %li.divider
    %li.text-left
      = link_to sessions_users_path do
        %i.fa.fa-users.fa-fw
        Online Users
    %li.divider
    %li.text-left
      = link_to activities_path do
        %i.fa.fa-at.fa-fw
        Activities

    - # Load module specific tab content if they exist
    - SystemConfig.transam_module_names.each do |mod|
      - view_component = "#{mod}_admin_sub_nav"
      - Rails.logger.debug "Checking for #{view_component}: Results = #{lookup_context.template_exists?(view_component, 'shared', true)}"
      - if lookup_context.template_exists?(view_component, 'shared', true)
        = render :partial => "shared/#{view_component}"

    %li.divider
    %li.text-left
      = link_to admin_path do
        %i.fa.fa-cogs.fa-fw
        Admin Interface
