.breadcrumbs
  - if @row_number.to_i > 0
    .row
      .col-lg-10.col-md-9.col-sm-8.col.col-xs-12
        %ol.breadcrumb
          = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;"
          - if Rails.application.config.try(:help_directory).present?
            %div{style: 'font-size:18px; float:right;'}
              = link_to "#{html_help_path}##{params[:controller]}__#{params[:action]}", :target => "_blank" do
                %i.fa.fa-question.fa-fw
      .col-lg-2.col-md-3.col-sm-4.col.col-xs-12
        #row_pager
          = render 'shared/row_pager'
  - else
    %ol.breadcrumb
      = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;"
      - if Rails.application.config.try(:help_directory).present?
        %div{style: 'font-size:18px; float:right;'}
          = link_to "#{html_help_path}##{params[:controller]}__#{params[:action]}", :target => "_blank" do
            %i.fa.fa-question.fa-fw
