%ul.media-list
  - comments.each do |c|
    %li.media
      .well.well-small
        %i.fa.fa-comment.fa-3x.pull-left
        .media-body
          %h5.media-heading
            = "#{c.creator.name} at #{format_as_date_time(c.created_at)}"
            = link_to 'Edit', edit_comment_path(c), :class => "btn btn-primary btn-xs pull-right", :style => "margin-left: 5px;"
            = link_to 'Destroy', c, :method => :delete, :class => "btn btn-warning btn-xs pull-right", :style => "margin-left: 5px;", :data => { :confirm => 'Are you sure ypu want to remove this comment?' }
          = c.comment.html_safe

