%ul.list-group
  - comments.each do |c|
    %li.list-group-item.comment
      .row.row-eq
        .col-md-3.title.text-muted{:style => 'display:inline-block;'}= "#{c.creator.name}<br/>#{format_as_date_time(c.created_at)}".html_safe
        .col-md-6.title.truncated{:style => 'display:inline-block;vertical-align:top'}
          #{ c.comment.html_safe.truncate(128) }
          -if c.comment.html_safe.length > 128
            %span
              .btn.btn-default.comment-toggle Show Full Comment
        .col-md-6.title.full-comment{:style => 'display:none;vertical-align:top'}
          #{c.comment.html_safe}
        .col-md-3.pull-right{:style => 'display:inline-block;vertical-align:top'}
          - if can? :destroy, c
            = link_to [c.commentable, c], :method => :delete, :class => "btn btn-warning btn-xs pull-right", :style => "margin-left: 5px;", :data => { :confirm => 'Are you sure you want to remove this comment?' } do
              %i.fa.fa-trash
              Delete

:javascript
  $(document).ready(function(){

    $(".comment").click( function(){
      var truncated = $(this).find(".truncated");
      var fullComment = $(this).find(".full-comment");

      truncated.toggleClass("hidden");

      if (truncated.hasClass("hidden")){
        fullComment.show().css({ 'display': 'inline-block' });

      } else {
        fullComment.hide();

      }

    });

  });
