<% cache("core_main_nav", :expires_in => 5.minutes) do %>
<li class="nav-item dropdown <%= get_nav_link_class('assets') %>">
	<%= link_to inventory_index_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
		<i class="fa travelcon-bus travelcon-2x"></i><br/><span>Inventory</span>
		<b class="caret"></b>
	<% end %>
	
	<ul class="dropdown-menu multi-level" role="menu">

		<% @organization.asset_type_counts.each do | at, count | %>
			<% asset_type = AssetType.find(at) %> 
			<li class="text-left dropdown-submenu">												
				<%= link_to inventory_index_path(:asset_type => asset_type, :asset_subtype => 0, :asset_group => 0)  do %>
					<i class="<%= asset_type.display_icon_name %> fa-fw"></i> <%= asset_type.name.pluralize(2) %>								
				<% end %>
				<ul class="dropdown-menu">
					<% @organization.asset_subtype_counts(at).each do |as, count | %>
						<% asset_subtype = AssetSubtype.find(as) %>
						<li class="text-left">
							<%= link_to asset_subtype.name, inventory_index_path(:asset_subtype => asset_subtype, :asset_group => 0) %>
						</li>
					<% end %>
				</ul>
			</li>
		<% end %>

		<li class="divider"></li>			
		<li class="text-left dropdown-submenu">												
			<%= link_to asset_groups_path do %>
			<i class="fa fa-tags fa-fw"></i> Groups
			<% end %>
			<ul class="dropdown-menu">
				<% @organization.asset_groups.each do |grp| %>	
					<li class="text-left">
						<%= link_to inventory_index_path(:asset_type => 0, :asset_subtype => 0, :asset_group => grp) do %>
							<i class="fa fa-tag fa-fw"></i> <%= grp.name %>
						<% end %>
					</li>						
				<% end %>
				<li class="divider"></li>			
				<li class="text-left">												
					<%= link_to asset_groups_path do %>
						<i class="fa fa-tags fa-fw"></i> Manage Groups
					<% end %>
				</li>		
			</ul>
		</li>
		<li class="divider"></li>			
		<li class="text-left">												
			<%= link_to new_search_path(:search_type => SearchesController::ASSET_SEARCH_TYPE) do %>
				<i class="fa fa-search fa-fw"></i> Search
			<% end %>
		</li>		
		<% if can? :create, Asset %>
			<li class="divider"></li>			
			<li class="text-left">												
				<%= link_to new_asset_inventory_index_path do %>
				<i class="fa fa-plus fa-fw"></i> Add Asset
				<% end %>
			</li>
			<li class="divider"></li>			
			<li class="text-left">												
				<%= link_to templates_uploads_path do %>
				<i class="fa fa-file-excel-o fa-fw"></i> Bulk Update Templates
				<% end %>
			</li>
		<% end %>
	</ul>
</li>
<% end %>