%li.text-left
  = link_to user_tasks_path(current_user, :state => "all")  do
    %i.fa.fa-calendar.fa-fw
    = " My tasks (#{current_user.assigned_tasks.count})"
%li.text-left
  = link_to user_messages_path(current_user) do
    %i.fa.fa-envelope.fa-fw
    = " My messages (#{current_user.new_messages.count})"
%li.divider.text-left
- if current_user.organizations.count == 1
  %li.text-left
    = link_to organization_path(current_user.organization)  do
      %i.fa.fa-building-o.fa-fw
      My organization
- else

  %li.dropdown-submenu.dropdown-submenu-right
    = link_to '#', :tabindex => "-1"  do
      %i.fa.fa-building-o.fa-fw
      My organizations
    %ul.dropdown-menu
      - current_user.organizations.each do |org|
        %li
          = link_to organization_path(org)  do
            %i.fa.fa-building-o.fa-fw
            = org.short_name

%li.divider.text-left
%li.text-left
  = link_to user_path(current_user)  do
    %i.fa.fa-user.fa-fw
    My settings
