<li class="text-left">
	<%= link_to user_tasks_path(current_user, :state => "all")  do %>
		<i class="fa fa-calendar fa-fw"></i> My tasks
	<% end %>
</li>
<li class="text-left">
	<%= link_to user_messages_path(current_user) do %>
		<i class="fa fa-envelope fa-fw"></i> My messages
	<% end %>
</li>
<li class="divider text-left"></li>
<li class="text-left">
	<%= link_to organization_path(current_user.organization)  do %>
		<i class="fa fa-building-o fa-fw"></i> My organization
	<% end %>
</li>
<li class="divider text-left"></li>
<li class="text-left">
	<%= link_to user_path(current_user)  do %>
		<i class="fa fa-cog fa-fw"></i> My settings
	<% end %>
</li>
<li class="divider text-left"></li>
<li class="text-left">
	<%= link_to new_issue_path  do %>
		<i class="fa fa-bug fa-fw"></i> Report an issue
	<% end %>
</li>
