
<li class="nav-item dropdown <%= get_nav_link_class('assets') %>">
	<%= link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
		<i class="fa fa-bus fa-2x"></i><br/><span>Inventory</span>
		<b class="caret"></b>
	<% end %>

	<ul class="dropdown-menu multi-level" role="menu">

    <% Asset.unscoped.where(:organization_id => @organization_list).group(:asset_type_id).count.each do | at, count | %>
      <% asset_type = AssetType.find(at) %>
      <li class="text-left dropdown-submenu">
        <%= link_to inventory_index_path(:asset_type => asset_type, :asset_subtype => 0, :asset_group => 0)  do %>
          <i class="<%= asset_type.display_icon_name %> fa-fw"></i> <%= asset_type.name.pluralize(2) %>
        <% end %>
        <ul class="dropdown-menu">
          <% Asset.where(:organization_id => @organization_list, :asset_type_id => at).group(:asset_subtype_id).count.each do |as, count | %>
            <% asset_subtype = AssetSubtype.find(as) %>
            <li class="text-left">
              <%= link_to asset_subtype.name, inventory_index_path(:asset_subtype => asset_subtype, :asset_group => 0) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <li class="divider"></li>
    <li class="text-left dropdown-submenu">
      <%= link_to manufacturers_path do %>
        <i class="fa fa-fw fa-star"></i> Manufacturers
      <% end %>
      <ul class="dropdown-menu">
        <% Manufacturer.joins(:assets).where(assets: {organization_id: @organization_list}).distinct.each do | manufacturer | %>
          <li class="text-left">
            <%= link_to inventory_index_path(:manufacturer_id => manufacturer) do %>
              <i class="fa fa-star fa-fw"></i> <%= manufacturer.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>

    <li class="divider"></li>
    <li class="text-left dropdown-submenu">
      <%= link_to asset_groups_path do %>
      	<i class="fa fa-tags fa-fw"></i> Groups
      <% end %>
      <ul class="dropdown-menu">
        <% @organization.asset_groups.each do |grp| %>
          <li class="text-left">
            <%= link_to asset_group_path(grp) do %>
              <i class="fa fa-tag fa-fw"></i> <%= grp.name %>
            <% end %>
          </li>
      <% end %>
			<li class="divider"></li>
			<li class="text-left">
				<%= link_to asset_groups_path do %>
					<i class="fa fa-tags fa-fw"></i> Manage Groups
				<% end %>
			</li>
      </ul>
    </li>
    <li class="divider"></li>
    <li class="text-left">
      <%= link_to new_search_path(:search_type => SearchesController::ASSET_SEARCH_TYPE) do %>
        <i class="fa fa-search fa-fw"></i> Search
      <% end %>
    </li>
    <% if can? :create, Asset %>
      <li class="divider"></li>
      <li class="text-left">
        <%= link_to new_asset_inventory_index_path do %>
          <i class="fa fa-plus fa-fw"></i> Add Asset
        <% end %>
      </li>
      <li class="divider"></li>
      <li class="text-left dropdown-submenu">
        <%= link_to uploads_path do %>
          <i class="fa fa-file-excel-o fa-fw"></i> Bulk Updates
        <% end %>
        <ul class="dropdown-menu">
          <li class="text-left">
            <%= link_to templates_uploads_path do %>
              <i class="fa fa-download fa-fw"></i> Download Template
            <% end %>
          </li>
          <li class="text-left">
            <%= link_to new_upload_path do %>
              <i class="fa fa-upload fa-fw"></i> Upload Template
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</li>
