%ul.media-list
  - documents.each do |d|
    %li.media
      .well.well-small
        .row
          .media-body.col-md-12
            .row
              .col-xs-1
                %i.fa.fa-3x{:class => get_file_icon_for_filename(d.original_filename)}
              .col-xs-11
                .col-xs-9
                  %h5.media-heading.pull-left
                    = "#{d.creator.name} at #{format_as_date_time(d.created_at)}"
                .col-xs-3
                  .pull-right
                    - if can? :read, d
                      = link_to download_document_path(d), :class => "btn btn-primary btn-xs pull-right", :style => "margin-left: 5px;" do
                        %i.fa.fa-download
                        Download
                    - if can? :delete, d
                      = link_to d, :method => :delete, :class => "btn btn-warning btn-xs pull-right", :style => "margin-left: 5px;", :data => { :confirm => 'Are you sure you want to remove this document?' } do
                        %i.fa.fa-trash
                        Delete

                .col-xs-12
                  %p= d.description.html_safe
