.container-fluid
  .visible-sm-block.visible-xs-block.hidden-lg-block.hidden-md-block
    .col-sm-12.col.col-xs-12
      %p.text-muted.credit.text-center
        = link_to 'Help', html_help_pdf_path, :download => '', :target => "_blank"
        -#= link_to 'Privacy Policy', page_path('privacy_policy')
        -#&#8226;
        -#= link_to 'Security Policy', page_path('security_policy')
        -#&#8226;
        -#= link_to 'About', page_path('about')
    .col-sm-12.col.col-xs-12
      %p.text-muted.credit.text-center
        = "&copy; 2013-#{Date.today.year}".html_safe
        = link_to "Cambridge Systematics", "http://camsys.com", :target => "_blank"
  .visible-lg-block.visible-md-block.hidden-sm-block.hidden-xs-block
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      %p.text-muted.credit
        = "&copy; 2013-#{Date.today.year}".html_safe
        = link_to "Cambridge Systematics", "http://camsys.com", :target => "_blank"
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      %p.text-muted.credit.text-center
        = link_to 'Help', html_help_pdf_path, :download => '', :target => "_blank"
        -#= link_to 'Privacy Policy', page_path('privacy_policy')
        -#&#8226;
        -#= link_to 'Security Policy', page_path('security_policy')
        -#&#8226;
        -#= link_to 'About', page_path('about')
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      %p.text-muted.credit.text-right
        = "Build #{app_version}"
        Powered by
        - if Rails.env == 'production'
          = link_to "TransAM Ver #{transam_version}", "http://camsys.software/products/transam", :target => "_blank", title: SystemConfig.transam_modules.map{|t| "#{t.name}: #{t.version}"}.join("\n")
        - else
          = link_to "TransAM Ver #{transam_version}", "http://camsys.software/products/transam", :target => "_blank", title: `bundle show | grep transam`
