.col-md-12
  .container-fluid
    .col-md-4
      %p.text-muted.credit
        &copy; 2013-2014
        = link_to "Cambridge Systematics", "http://camsys.com", :target => "_blank" 
    .col-md-4
      %p.text-muted.credit.text-center
        = link_to 'Privacy Policy', page_path('privacy_policy')
        &#8226;
        = link_to 'Security Policy', page_path('security_policy')
        &#8226;
        = link_to 'About', page_path('about')
    .col-md-4
      %p.text-muted.credit.text-right
        = "Build #{app_version}"
        Powered by 
        = link_to "TransAM Ver #{transam_version}", "https://github.com/camsys/transam_core/wiki", :target => "_blank"
