<li class="dropdown <%= get_nav_link_class('forms') %>">
	<%= link_to forms_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
		<i class="fa fa-file-text-o fa-2x"></i>
		<b class="caret"></b>
	<% end %>
	<ul class="dropdown-menu multi-level" role="menu">
		<li class="text-left">
			<%= link_to forms_path  do %>
				<i class="fa fa-file-text-o fa-fw"></i> All
			<% end %>
		</li>
		<li class="divider"></li>
		<% Form.all.each do | frm | %>
				<li>
					<%= link_to form_path(frm)  do %>
						<i class="fa fa-file-text-o fa-fw"></i> <%= frm.name.pluralize(2) %>
					<% end %>
				</li>
		<% end %>
	</ul>
</li>
