%nav.navbar.navbar-fixed-top.navbar-inverse{:role => 'navigation', :style => 'z-index:1033'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{:data => {:toggle => "collapse", :target => ".navbar-collapse"}}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to app_title, "/", :class => 'navbar-brand', :rel => 'Home'

    = render 'shared/main_nav'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right

        = render 'shared/filter_nav'
        = render 'shared/settings_nav'

      #keyword_search_div{style: 'position: absolute; padding-top: 5px; right: 340px;'}
        = form_tag keyword_searches_path, :id => 'asset_search_form', :class => 'navbar-form search-form', :role => 'search' do
          .input-group.pull-right
            = text_field_tag :search_text, nil, :class => 'form-control search-control', :placeholder => 'keywords...', :id => 'search_text', :style => 'display:none;'
            .input-group-btn.search-trigger
              = button_tag :type => 'submit', :class => 'btn' do
                %i.fa.fa-search

#wait-for-fa-wrapper
  #wait-for-fa-content
    %i.fa.fa-home.fa-lg

= render 'shared/header_nowrap_script'


:javascript

  $(document).ready(function() {
    // Start with 15px to deal with a potential vertical scroll bar
      var bp = 15;

      $('ul.nav.navbar-nav.pull-right li.dropdown').each(function() {
        bp += parseFloat($(this).css('width')) + 1;
      });

      $('#keyword_search_div').css('right', bp.toString() + 'px')
  });



  $('.search-trigger').click(function(e) {
    if ($('#search_text:hidden').length) {
      e.preventDefault();
      $('#search_text').show();
    } else if ($('#search_text').val() == "") {
      e.preventDefault();
      $('#search_text').hide();
    }
  });