%ul.media-list
  - images.each do |p|
    %li.media
      .media-left
        = link_to image_tag(p.image.url(:thumb)), p.image.url,  :class => "img-responsive gallery-image", :data => {:lightbox => "gallery"}
      .media-body
        = simple_format(p.description)
        %p.title.text-muted.small= "#{p.creator.name}<br/>#{format_as_date_time(p.created_at)}".html_safe
      .media-right
        .btn-group-vertical.btn-group-xs{:role => "group"}
          = link_to download_image_path(p), :class => "btn btn-primary" do
            %i.fa.fa-download
            Download
          - if can? :destroy, p
            = link_to p, :method => :delete, :class => "btn btn-warning", :data => { :confirm => 'Are you sure you want to remove this image?' } do
              %i.fa.fa-trash
              Delete
