%ul.nav.navbar-nav.navbar-collapse
  %li{:class => get_nav_link_class('dashboards') }
    = link_to dashboards_path, title: 'Home' do
      %i.fa.fa-home.fa-2x

  -# render the engine main nav components if there are any
  - SystemConfig.transam_module_names.each do |mod|
    - view_component = "#{mod}_main_nav"
    - Rails.logger.debug "Checking for #{view_component}: Results = #{lookup_context.template_exists?(view_component, 'shared', true)}"
    - if lookup_context.template_exists?(view_component, 'shared', true)
      = render :partial => "shared/#{view_component}"

  -# render the application main nav components if there are any
  - view_component = "app_main_nav"
  - Rails.logger.debug "Checking for #{view_component}: Results = #{lookup_context.template_exists?(view_component, 'shared', true)}"
  - if lookup_context.template_exists?(view_component, 'shared', true)
    = render :partial => "shared/#{view_component}"

  = render 'shared/policy_nav'
  = render 'shared/forms_nav'
  = render 'shared/reports_nav'
  = render 'shared/notifications_nav'

  - if current_user.has_role? :admin
    = render 'shared/admin_nav'
