<div style="width:200px;">
	<div class="row" style="border-top:1px solid #CCCCCC;">
		<div class="col-md-3">
			<i class="fa fa-3x <%= asset.asset_type.display_icon_name %>"></i>			
		</div>
		<div class="col-md-9">
			<h4><%= asset.asset_type.name %></h4>
		</div>	
	</div>
	<div class="row"  style="border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;">
		<div class="col-md-12">
			<div class="popup-content">
				<%= format_list_field("Type", asset.name ) %>
				<%= format_list_field("Asset Tag", asset.asset_tag ) %>
				<%= format_list_field("Condition", asset.reported_condition_type.name) unless asset.reported_condition_type.nil? %>		
			</dl>
		</div>
	</div>
</div>
