#messages-flash
#messages
  - flash.each do |type, msg|
    - next if type.to_s =~ /^local_/ || msg.blank?
    - alert_class = case type.to_sym
    - when :success, :info, :warning, :danger
      - "alert-#{type}"
    - when :notice
      - "alert-success"
    - else
      - "alert-danger"
    %div{:class => "alert #{alert_class} fade in #{bootstrap_class_for(type)}"}
      %a.close{"data-dismiss" => "alert"} ×
      %div{:id => "flash_#{type}"}
        = msg.html_safe