<ul class="nav">
	
  	<li class="nav-item <%= get_nav_link_class('dashboards') %>">
  		<%= link_to dashboards_path do %>
  			<i class="fa fa-dashboard fa-2x"></i><br/><span>Dashboard</span>
  		<% end %>
  	</li>
  	
  	<li class="nav-item dropdown <%= get_nav_link_class('inventory') %>">
  		<%= link_to inventory_index_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
  			<i class="fa fa-road fa-2x"></i><br/><span>Inventory</span>
  			<b class="caret"></b>
  		<% end %>
		<ul class="dropdown-menu">
			<% AssetType.all.each do | at | %>
				<% if @organization.asset_count(at) > 0 %>
					<li  class="text-left">												
						<%= link_to inventory_index_path(:asset_type => at.id)  do %>
							<i class="<%= at.display_icon_name %>"></i> <%= at.name %>								
						<% end %>
					</li>
				<% end %>
			<% end %>
			<li class="divider"></li>			
			<li class="text-left">												
				<%= link_to new_search_path do %>
					<i class="fa fa-search"></i> Search
				<% end %>
			</li>		
			<li class="divider"></li>			
			<li class="text-left">												
				<%= link_to new_asset_inventory_index_path do %>
				<i class="fa fa-plus"></i> Add Asset
				<% end %>
			</li>
		</ul>
  	</li>

  	<li class="nav-item <%= get_nav_link_class('inventory') %>">
  		<%= link_to inventory_index_path(:view_type => AssetsController::VIEW_TYPE_MAP) do %>
  			<i class="fa fa-globe fa-2x"></i><br/><span>Map View</span>
  		<% end %>
  	</li>

  	<li class="nav-item <%= get_nav_link_class('policies') %>">
  		<%= link_to policies_path do %>
  			<i class="fa fa-money fa-2x"></i><br/><span>Policies</span>
  		<% end %>
  	</li>

  	<li class="nav-item <%= get_nav_link_class('messages') %>">
  		<%= link_to user_messages_path(current_user) do %>
  			<i class="fa fa-envelope fa-2x"></i><br/><span>Messages</span>
  		<% end %>
  	</li>

  	<li class="nav-item dropdown <%= get_nav_link_class('reports') %>">
  		<%= link_to reports_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
  			<i class="fa fa-bar-chart-o fa-2x"></i><br/><span>Reports</span>
  			<b class="caret"></b>
  		<% end %>
		<ul class="dropdown-menu">
			<li class="text-left">												
				<%= link_to reports_path  do %>
					<i class="fa fa-bar-chart-o"></i> All			
				<% end %>
			</li>
			<li class="divider"></li>			
			<% Report.show_in_nav.each do |report| %>
				<li  class="text-left">												
					<%= link_to report_path(report)  do %>
						<i class="<%= report.report_type.display_icon_name %>"></i> <%= report.name %>								
					<% end %>
				</li>
			<% end %>
		</ul>
  	</li>
</ul>
