%li.list-group-item
  %i.fa.fa-fw.fa-1-5x.pull-left.media-object{:class => "#{notice.notice_type.display_icon} #{notice.notice_type.display_class}"}
  .media-body
    .media-heading{:class => notice.notice_type.display_class}
      %strong= notice.subject
      %span.pull-right.text-default.text-muted{:style => 'font-size: 0.75em'}= format_as_date_time(notice.display_datetime)
    %p.text-muted.pull-left{:style => 'font-size: 0.85em'}= notice.summary
    - if notice.details.present?
      %span.pull-right.text-default.text-muted{:style => 'font-size: 0.75em'}
        = link_to "details...", "#", :role => 'button', :tabindex => "0", :data => {:toggle => 'popover', :placement => 'left', :container => 'body', :trigger => 'focus',  :html => 'true', :title => notice.subject, :content => notice.details.html_safe}
