= link_to notice_path(notice), :class => 'list-group-item' do
  %i.fa.fa-fw.fa-1-5x.pull-left.media-object{:class => "#{notice.notice_type.display_icon} #{notice.notice_type.display_class}"}
  .media-body
    .media-heading{:class => notice.notice_type.display_class}
      %strong= notice.subject
      %span.pull-right.text-default.text-muted{:style => 'font-size: 0.75em'}= format_as_date_time(notice.display_datetime)
    %p.text-muted{:style => 'font-size: 0.85em'}= notice.summary.html_safe
