.table-responsive
  %table.table.table-hover{:id => 'notifications_table', :data => {:toggle => 'table',
    :pagination => 'true',
    :show_pagination_switch => 'true',
    :page_list => "[5, 10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :toolbar => "#table_actions",
    :export_types => "['csv', 'txt', 'excel']",
    :show_export => 'false',
    :resizable => 'true',
    :show_columns => 'false',
    :show_toggle => 'false',
    :maintain_selected => 'true',
    :single_select => 'false',
    :state_save => 'true',
    :state_save_id_table => "notificationsid",
    :state_save_expire => "1y"}}

    %tbody
      - notifications.each do |n|
        - notification = n.notification
        %tr
          %td.left
            - if notification.notifiable_type == 'Organization' && !(@organization_list.include? notification.notifiable_id)
              = link_to notification_path(notification), :data => {:confirm => "This notification is outside your filter. Reset filter?"} do
                = notification.text
            - else
              = link_to notification_path(notification) do
                = notification.text
          %td.right
            = link_to notification_path(notification), remote: true, method: :put, title: 'Mark as Read', style: 'padding-right: 15px;' do
              %i.fa.fa-check.fa-fw