%li{:class => get_nav_link_class(['policies'])}
  = link_to "#", :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-line-chart.fa-2x
    %b.caret
  %ul.dropdown-menu.multi-level{:role => 'menu'}
    %li.text-left
      = link_to policies_path do
        %i.fa.fa-book.fa-fw
        Policies

    - if SystemConfig.transam_module_loaded? :audit
      %li.divider
      - Audit.active.each do |audit|
        %li.text-left
          = link_to audit_results_path do
            %i.fa.fa-line-chart.fa-fw
            = "#{audit.name} results"
