<li class="nav-item dropdown <%= get_nav_link_class('reports') %>">
	<%= link_to reports_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
		<i class="fa fa-bar-chart-o fa-2x"></i><br/><span>Reports</span>
		<b class="caret"></b>
	<% end %>
	<ul class="dropdown-menu multi-level" role="menu">
		<li class="text-left">												
			<%= link_to reports_path  do %>
				<i class="fa fa-bar-chart-o fa-fw"></i> All			
			<% end %>
		</li>
		<li class="divider"></li>			
		<% ReportType.all.includes(:reports).each do | rt | %>
			<% if rt.reports.count > 0 %>
				<li class="text-left dropdown-submenu">												
					<%= link_to reports_path(:report_type => rt.id)  do %>
						<i class="<%= rt.display_icon_name %> fa-fw"></i> <%= rt.name.pluralize(2) %>								
					<% end %>
					<ul class="dropdown-menu">
						<% rt.reports.each do |report| %>
							<% if current_user.is_in_roles? report.role_names %>
								<li class="text-left">												
									<%= link_to report_path(report)  do %>
										<i class="<%= report.report_type.display_icon_name %> fa-fw"></i> <%= report.name %>								
									<% end %>
								</li>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
		<% end %>
	</ul>				
</li>

