<li class="dropdown <%= get_nav_link_class('reports') %>">
	<%= link_to reports_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do %>
		<i class="fa fa-bar-chart-o fa-2x"></i>
		<b class="caret"></b>
	<% end %>
	<ul class="dropdown-menu multi-level" role="menu">
		<li class="text-left">
			<%= link_to reports_path  do %>
				<i class="fa fa-bar-chart-o fa-fw"></i> All
			<% end %>
		</li>
		<li class="divider"></li>
		<% ReportType.all.each do | rt | %>
			<% reports = get_user_menu_reports(rt) %>
			<% if reports.size > 0 %>
				<li class="text-left dropdown-submenu">
					<%= link_to reports_path(:report_type => rt.id)  do %>
						<i class="<%= rt.display_icon_name %> fa-fw"></i> <%= rt.name.pluralize(2) %>
					<% end %>
					<ul class="dropdown-menu">
						<% reports.each do |report| %>
							<li class="text-left">
								<%= link_to report_path(report)  do %>
									<i class="<%= report.report_type.display_icon_name %> fa-fw"></i> <%= report.name %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</li>
			<% end %>
		<% end %>
	</ul>
</li>
