:css
  .select-column, .remove-column {
    cursor: pointer;
  }

  .remove-selected-column {
    cursor: pointer;
    padding-left: 10px;
  }

.panel.panel-primary.columns-panel
  .panel-heading
    %h3.panel-title
      %i.fa.fa-list
      Columns
  .panel-body
    .col-sm-12
      = render 'saved_queries/search_form/category_reset'
    .col-sm-6
      = render 'saved_queries/search_form/available_columns_panel'
    .col-sm-6
      = render 'saved_queries/search_form/selected_columns_panel'

:javascript
  function addColumnToSelectionsPanel(category_id, field_id, field_label) {
      // column selections panel
      var column_label_html = "<span data-category-id=" + category_id + " data-id=" + field_id + " class='label label-info'>" 
        + field_label 
        + "<i title='remove column' class='fa fa-close remove-selected-column'></i>"
        + "</span>";

      $('.columns-container').append(column_label_html);
    }
    
  $(function() {
    function renderColumns(category_id, new_list) {
      // remove previous
      $('.available-columns-panel .column-list li').remove();

      var selectedFieldIds = _saved_query.getSelectedOutputFieldIdsByCategory(category_id);
      // add new
      new_list.forEach(function(li) {
        var li_html = "";
        var common_html = li.label 
            + "<span class='pull-right'><i title='select column' class='fa fa-arrow-right select-column'></span>"
            + "</li>";
        if(selectedFieldIds.indexOf(li.id) >= 0) {
          // hide selected item
          li_html = "<li data-id=" + li.id + " data-name='" + li.name + "' class='list-group-item' style='display: none;'>" 
            + common_html;

          // show in selected section
          renderSelectedColumn(category_id, li.id, li.name, li.label, false)
        } else {
          li_html = "<li data-id=" + li.id + " data-name='" + li.name + "' class='list-group-item'>" 
            + common_html;
        }

        $('.available-columns-panel .column-list').append(li_html);
      });
    }

    function loadColumnsByCategory(category_id) {
      $('.available-columns-panel').data('category-id', category_id);
      $('.selected-columns-panel').data('category-id', category_id);

      $.ajax({
        url: "#{query_fields_path}?query_category_id=" + category_id
      }).done(function(data) {
        renderColumns(category_id, data);
      });
    }

    function renderSelectedColumn(category_id, field_id, field_name, field_label, is_new) {

      var li_html = "<li data-id=" + field_id + " data-name='" + field_name + "' class='list-group-item'>" 
        + field_label 
        + "<span class='pull-right'><i title='remove column' class='fa fa-close remove-column'></span>"
        + "</li>";

      $('.selected-columns-panel .column-list').append(li_html);

      if(is_new) {
        addColumnToSelectionsPanel(category_id, field_id, field_label);
      }
    }

    function selectColumn(category_id, field_id) {
      _saved_query.addColumn(category_id, field_id);
    }

    function renderColumn(category_id, field_id, field_name, field_label) {
      selectColumn(category_id, field_id);

      renderSelectedColumn(category_id, field_id, field_name, field_label, true);
    }

    function removeColumn(category_id, field_id) {
      _saved_query.removeColumn(category_id, field_id);

      $('.selected-columns-panel li[data-id=' + field_id + ']').remove();
      $('.columns-container span[data-id=' + field_id + ']').remove();
      $('.available-columns-panel .column-list li[data-id=' + field_id + ']').show();
    }

    function selectAutoshowColumns() {
      var columns = #{QueryField.auto_show.pluck(:query_category_id, :id, :label).to_json.html_safe};
      console.log(columns);
      columns.forEach(function(column) {
        selectColumn(column[0], column[1]);
        addColumnToSelectionsPanel(column[0], column[1], column[2]);
      });
    }

    if(#{@query.ordered_output_field_ids.empty?}) {
      selectAutoshowColumns();
    }

    // load query fields by category
    $('.columns-panel .category-dropdown').change(function() {
      loadColumnsByCategory(parseInt($(this).val()));

      // clear selected_columns section
      $('.selected-columns-panel .column-list li').remove();
    });
    loadColumnsByCategory(parseInt($('.columns-panel .category-dropdown').val()));

    // reset button
    $('.columns-panel .reset-button').click(function() {
      $('.columns-container span').remove();
      _saved_query.resetOutputColumns();
      $('.selected-columns-panel .column-list li').remove();
      $('.available-columns-panel .column-list li').show();

      selectAutoshowColumns();
    });

    // select column button
    $('.available-columns-panel').on('click', '.select-column', function() {
      var li = $(this).parents('li');
      li.hide();
      var field_id = li.data('id');
      var field_name  = li.data('name');
      var field_label  = li.text();

      var category_id = $('.available-columns-panel').data('category-id');
      
      renderColumn(category_id, field_id, field_name, field_label);
    });

    // remove selected column button
    $('.selected-columns-panel').on('click', '.remove-column', function() {
      
      var li = $(this).parents('li');
      var field_id = li.data('id');
      var category_id = $('.selected-columns-panel').data('category-id');

      removeColumn(category_id, field_id);
    });

    $('.columns-container').on('click', '.remove-selected-column', function() {
      
      var span = $(this).parents('span');
      var field_id = span.data('id');
      var category_id = span.data('category-id');

      removeColumn(category_id, field_id);
    });

  });