:css
  .select-column, .remove-column {
    cursor: pointer;
    border: none;
    background: none;
  }

  .remove-selected-column {
    cursor: pointer;
    padding-left: 10px;
    border: none;
    background: none;
  }

.panel.panel-primary.columns-panel
  .panel-heading
    %h3.panel-title
      %i.fa.fa-list
      Columns
  .panel-body
    .col-sm-12
      = render 'saved_queries/search_form/category_reset'
    .col-sm-6
      = render 'saved_queries/search_form/available_columns_panel'
    .col-sm-6
      = render 'saved_queries/search_form/selected_columns_panel'

:javascript
  function addColumnToSelectionsPanel(category_id, field_id, field_label) {
      // column selections panel
      var column_label_html = "<button data-category-id=" + category_id + " data-id=" + field_id + " class='label label-info'>"
        + field_label 
        + "<button title='remove column' class='fa fa-close remove-selected-column'></button>"
        + "</button>";

      $('.columns-container').append(column_label_html);
    }
    
  $(function() {
    function renderColumns(category_id, new_list) {
      // remove previous
      $('.available-columns-panel .column-list li').remove();

      var selectedFieldIds = _saved_query.getSelectedOutputFieldIdsByCategory(category_id);
      // add new
      new_list.forEach(function(li) {
        var li_html = "";
        var common_html = "<span class='pull-right'><button class='select-column'><i class='fa fa-arrow-right'/></button></span><button class='column-title' style='background: none; border: none; cursor: default;'>" + li.label + "</button></li>";
        if(selectedFieldIds.indexOf(li.id) >= 0) {
          // hide selected item
          li_html = "<li data-id=" + li.id + " data-name='" + li.name + "' class='list-group-item' style='display: none;'>" 
            + common_html;

          // show in selected section
          renderSelectedColumn(category_id, li.id, li.name, li.label, false)
        } else {
          li_html = "<li data-id=" + li.id + " data-name='" + li.name + "' class='list-group-item'>" 
            + common_html;
        }

        $('.available-columns-panel .column-list').append(li_html);
      });
    }

    function loadColumnsByCategory(category_id) {
      $('.available-columns-panel').data('category-id', category_id);
      $('.selected-columns-panel').data('category-id', category_id);

      $.ajax({
        url: "#{query_fields_path}?query_category_id=" + category_id
      }).done(function(data) {
        renderColumns(category_id, data);
      });
    }

    function renderSelectedColumn(category_id, field_id, field_name, field_label, is_new) {

      var li_html = "<li data-id=" + field_id + " data-name='" + field_name + "' class='list-group-item'><button class='column-title' style='background: none; border: none; cursor: default;'>"
        + field_label 
        + "</button><span class='pull-right'><button class='remove-column'><i title='remove column' class='fa fa-close'></button></span>"
        + "</li>";

      $('.selected-columns-panel .column-list').append(li_html);

      if(is_new) {
        addColumnToSelectionsPanel(category_id, field_id, field_label);
      }
    }

    function selectColumn(category_id, field_id) {
      _saved_query.addColumn(category_id, field_id);
    }

    function renderColumn(category_id, field_id, field_name, field_label) {
      selectColumn(category_id, field_id);

      renderSelectedColumn(category_id, field_id, field_name, field_label, true);
    }

    function removeColumn(category_id, field_id) {
      _saved_query.removeColumn(category_id, field_id);

      $('.selected-columns-panel li[data-id=' + field_id + ']').remove();
      $('.columns-container button[data-id=' + field_id + ']').remove();
      $('.available-columns-panel .column-list li[data-id=' + field_id + ']').show();
    }

    function selectAutoshowColumns() {
      var columns = #{QueryField.auto_show.pluck(:query_category_id, :id, :label).to_json.html_safe};
      console.log(columns);
      columns.forEach(function(column) {
        selectColumn(column[0], column[1]);
        addColumnToSelectionsPanel(column[0], column[1], column[2]);
      });
    }

    if(#{@query.ordered_output_field_ids.empty?}) {
      selectAutoshowColumns();
    }

    // load query fields by category
    $('.columns-panel .category-dropdown').change(function() {
      loadColumnsByCategory(parseInt($(this).val()));

      // clear selected_columns section
      $('.selected-columns-panel .column-list li').remove();
    });
    loadColumnsByCategory(parseInt($('.columns-panel .category-dropdown').val()));

    // reset button
    $('.columns-panel .reset-button').click(function() {
      $('.columns-container button').remove();
      _saved_query.resetOutputColumns();
      $('.selected-columns-panel .column-list li').remove();
      $('.available-columns-panel .column-list li').show();

      selectAutoshowColumns();
    });

    // select column button
    $('.available-columns-panel').on('click keydown', '.select-column, .column-title', function(e) {
      var keypress = e.type === 'keydown' ? e.key : null;
      if (keypress === 'ArrowRight' || ($(this)[0].className === 'select-column' && (e.type === 'click' || keypress === ' '))) {
        var li = $(this).parents('li');
        li.hide();
        var field_id = li.data('id');
        var field_name  = li.data('name');
        var field_label  = li.text();

        var category_id = $('.available-columns-panel').data('category-id');

        renderColumn(category_id, field_id, field_name, field_label);
      }
    });

    // remove selected column button
    $('.selected-columns-panel').on('click keydown', '.remove-column, .column-title', function(e) {
      var keypress = e.type === 'keydown' ? e.key : null;
      if (keypress === 'ArrowLeft' || ($(this)[0].className === 'remove-column' && (e.type === 'click' || keypress === ' '))) {
        var li = $(this).parents('li');
        var field_id = li.data('id');
        var category_id = $('.selected-columns-panel').data('category-id');

        removeColumn(category_id, field_id);
      }
    });

    $('.columns-container').on('click keydown', '.remove-selected-column', function(e) {
      var keypress = e.type === 'keydown' ? e.key : null;
      if (e.type === 'click' || keypress === ' ' || keypress === 'Enter') {
        var button = $(this).parents('button');
        var field_id = button.data('id');
        var category_id = button.data('category-id');

        removeColumn(category_id, field_id);
      }
    });

  });