<div class="row-fluid">
	<div class="span12">
		<ul class="thumbnails">
		<%= panel_tag('New Photo', {:icon => 'fa fa-file', :class => "span8 offset2"}) do %>
			<%= simple_form_for([@asset, @attachment], :url => @attachment.new_record? ? inventory_attachments_path(@asset) : inventory_attachment_path(@asset, @attachment), :method => @attachment.new_record? ? "post" : "put", :html => {:multipart => true, :class => 'form-horizontal' }) do |f| %>
				<%= f.input :attachment_type_id, :as => :hidden, :value => 1  %>
				<%= f.input :image, :label => 'Select the photo to upload' %>
				<%= f.input :name, :as => :string, :placeholder => "Enter a name for the photo...", :required => true %>
				<div class="form-actions panel-form-actions">
					<%= f.button :submit, 'Save' %>
					<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
				</div>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>	
