<div class="row">
	<%= simple_form_for([@asset, @attachment], 
		:url => @attachment.new_record? ? inventory_attachments_path(@asset) : inventory_attachment_path(@asset, @attachment), 
		:method => @attachment.new_record? ? "post" : "put", 
		:html => {:multipart => true, :class => 'form-horizontal' },
		:wrapper => :horizontal_form, 
		:wrapper_mappings => {:file => :horizontal_file_input}
		) do |f| %>
		<div class="col-md-6 col-md-offset-3">
			<%= dialog_tag('New Photo', {:icon => 'fa fa-file', :class => "form_part"}) do %>
				<%= f.input :attachment_type_id, :as => :hidden, :value => 1  %>
				<%= f.input :image, :label => 'Select a photo to upload' %>
				<%= f.input :name, :as => :string, :placeholder => "Enter a name for the photo...", :required => true %>
			<% end %>
			<div class="col-md-12">
				<%= f.button :submit, 'Save', :class => "btn btn-primary" %>
				<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn btn-warning" %>
			</div>
		</div>
	<% end %>
</div>	

<script type="text/javascript">
	
	var max_file_size_mb = <%= Rails.application.config.max_upload_file_size %>;

	$(document).ready(function() {

		// Insert a change listener to validate the file size before uplaoding.
		$('#attachment_image').change(function() {
			transam.validate_file_size(this, max_file_size_mb);
		});
			
	});
		
</script>


