<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
				  	<li>
						<%= link_to inventory_path(@asset) do %>
							<i class="fa fa-angle-left"></i> Back
						<% end %>
					</li>
				</ul>
				<%= form_tag inventory_attachments_path(@asset), :id => 'attachment_filter_form', :method => "get", :class => 'navbar-form navbar-left' do %>
					<div class="form-group">
						<span class="form-group-addon">Filter</span>
						<%= select_tag(:filter_type, options_for_select(AttachmentType.all.collect{|a| [a.name, a.id]}, :selected => @filter_type), :class => "form-control", :prompt => 'All attachment types...', :id => 'attachment_filter') %>
					</div>
				<% end %>
				<ul class="nav navbar-nav">

					<li class="<%= get_nav_link_class('attachments', AttachmentsController::SESSION_VIEW_TYPE_VAR, AttachmentsController::VIEW_TYPE_LIST) %>">
						<%= link_to inventory_attachments_path(:view_type => AttachmentsController::VIEW_TYPE_LIST) do %>
						<i class="fa fa-th-large"></i> List View
						<% end %>
					</li>
					<li class="<%= get_nav_link_class('attachments', AttachmentsController::SESSION_VIEW_TYPE_VAR, AttachmentsController::VIEW_TYPE_TABLE) %>">
						<%= link_to inventory_attachments_path(:view_type => AttachmentsController::VIEW_TYPE_TABLE) do %>
						<i class="fa fa-list-alt"></i> Table View
						<% end %>
					</li>
					<% if can? :update, @asset %>
						<li>
							<%= link_to new_inventory_attachment_path(@asset) do %>
							<i class="fa fa-plus"></i> New Attachment
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</nav>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

	// Add a listener on the event type filter that submits the form when changed
	$('#attachment_filter').change(function() {
		$('#attachment_filter_form').submit();
	});

</script>
