.row
  = simple_form_for(@vendor,
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
    .col-md-6.col-md-offset-3
      %fieldset
        %legend Vendor
        = f.input :description
        = f.input :amount
        = f.association :expense_type
        = f.input :expense_date
        = f.association :general_ledger_account
        = f.association :grant
        = f.input :pcnt_from_grant
        
        = f.button :submit, :class => 'btn btn-primary'
