= simple_form_for(@vendor,
  :html => {:class => 'form-vertical vendor_form' },
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

  = f.input :name, :required => true
  = f.input :address1, :label => "Address 1"
  = f.input :address2, :label => "Address 2"
  .row
    .col-sm-7
      = f.input :city
    .col-sm-2
      = f.input :state, :as => :select, :collection => Country['US'].states
    .col-sm-3
      = f.input :zip

  = f.input :phone, :as => :tel
  = f.input :fax, :as => :tel
  = f.input :url, :as => :url

  = f.button :submit, :class => "btn btn-primary"

:javascript

  // jquery validations
  $('.vendor_form').validate({
    ignore: [], //validate hidden fields
    submitHandler: function(form) {
      form.submit();
    }
  });
