:ruby
  table_dom_id = SecureRandom.hex

#table_actions.btn-group
  = render :partial => "index_actions"

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_toggle => 'true'}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false'}} Object Key
      %th.left{:data => {:sortable => 'true'}} Name
      %th.left{:data => {:sortable => 'true'}} Address
      %th.left{:data => {:sortable => 'true'}} City
      %th.left{:data => {:sortable => 'true'}} State
      %th.left{:data => {:sortable => 'true'}} Zip
      %th.left{:data => {:sortable => 'true'}} Phone
      %th.right{:data => {:sortable => 'true'}} Num Assets
  %tbody
    - @vendors.each do |v|
      %tr{:id => v.object_key, :class => 'action-path'}
        %td.left= v.object_key
        %td.left= v.name
        %td.left= v.address1
        %td.left= v.city
        %td.left= v.state
        %td.left= v.zip
        %td.left= format_as_phone_number(v.phone)
        %td.right= format_as_integer(v.assets.count)

:javascript

  var path = '#{vendor_path("x")}';

  $('##{table_dom_id}').on('click-row.bs.table', function (e, row, $element) {
    //alert($element.attr('id'));
    var url = path.replace("x", $element.attr('id'));
    //alert(url);
    document.location.href = url;
  }).on('post-body.bs.table', function() {
    $('.fixed-table-container').css('min-height', '300px')
  });

  $(window).resize(function() {
    $("##{table_dom_id}").bootstrapTable('resetView');
  });
