<%= dialog_tag("Log in to TransAM", "icon-signin") do %>
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="span12">
				<%= render 'shared/messages' %>
			</div>
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  			  <%= f.error_notification %>
			  <%= f.input :email, :autofocus => true %>
			  <%= f.input :password %>
			  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
			  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
			<% end %>						
			
		  	<%= link_to "Forgot your password?", new_password_path(resource_name) %>

		</div>
	</div>
<% end %>
