<%= dialog_tag("Log in to TransAM", "fa fa-sign-in") do %>
	<div class="row-fluid">
		<div class="span10 offset1">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  			  <%= f.error_notification %>
			  <%= f.input :email, :autofocus => true %>
			  <%= f.input :password %>
			  <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => 'Remember me' if devise_mapping.rememberable? %>
			  <div class="form-actions">
				  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
			  </div>
			<% end %>						
			
			<%= render "devise/shared/links" %>			

		</div>
	</div>
<% end %>
