:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

:css
  .sql-text {
    word-break: break-all;
  }

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'false',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'false',
  :show_columns => 'false',
  :show_toggle => 'false',
  :state_save => 'true',
  :state_save_id_table => "saved_queries_id",
  :state_save_expire => "1y"}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false'}} Object Key
      %th.center{:data => {:sortable => 'true'}} Name
      %th.center{:data => {:sortable => 'true'}} Description
      %th.center{:data => {:sortable => 'true'}} Shared To
      %th.center{:data => {:sortable => 'true'}} Shared From
      %th.center{:data => {:visible => 'true', :sortable => 'false'}} SQL Query
      %th.center{:data => {:visible => 'true', :sortable => 'true'}} Created Date & Time
      %th.center{:data => {:visible => 'true', :sortable => 'false'}} Created By
      %th.center{:data => {:visible => 'true', :sortable => 'false'}} Last Update Date & Time
      %th.center{:data => {:visible => 'true', :sortable => 'false'}} Last Updated By
      %th.center{:data => {:visible => 'true', :sortable => 'false'}} 

  %tbody
    - @queries.each do |s|
      %tr{:id => s.object_key}
        %td.left= s.object_key
        %td.center= s.name
        %td.lecenterft= s.description.html_safe
        %td.center
          - if s.organizations.count > 1
            %span.hidden
              Multiple
            %a.transam-popover{href: '#', data: {toggle: 'popover', content: s.organizations.pluck(:short_name).join('<br>').html_safe}, title: 'Shared To'}
              Multiple
          - else
            = s.organizations.first.try(:to_s)
        %td.center
        %td.center
          %a.sql-popover{href: '#', data: {toggle: 'popover', content: "<div class='col-sm-12 sql-text'><textarea class='form-group form-control' rows='10' cols='50' readonly>#{s.to_sql.html_safe}</textarea><button type='button' class='btn btn-primary copy-sql'>Copy SQL</button></div>"}, title: 'SQL Query'}
            Click to Show SQL
        %td.center= format_as_date_time(s.created_at)
        %td.center= s.created_by_user
        %td.center= format_as_date_time(s.updated_at)
        %td.center= s.updated_by_user
        %td.center
          = link_to saved_query_path(s), :title => "Update this query." do
            %i.fa.fa-fw.fa-edit.text-primary.fa-1-5x
          = link_to saved_query_path(s), :title => "Remove this query", :method => :delete, :data => {:confirm => "Are you sure you want to remove this query? The action can't be undone."} do
            %i.fa.fa-fw.fa-trash-o.action-icon.text-danger.fa-1-5x
          = link_to export_saved_query_path(s, format: :csv), :title => "Export CSV" do
            %i.fa.fa-fw.fa-download.fa-1-5x

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => "#"}

:javascript

  $(function(){
    $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
      $('.sql-popover').popover({
        html: 'true',
        animation: true,
        container: 'body'
      });

      $('.sql-popover').on('click', function (e) {
        $('.sql-popover').not(this).popover('hide');
      });

      $(document).on('click', '.copy-sql', function() {
        $(this).parents('.sql-text').find('textarea').select();
        document.execCommand('copy');
        $(this).text('SQL Copied');
      });

      $('body').on('click', function (e) {
        if ($(e.target).data('toggle') !== 'popover'
        && $(e.target).parents('.popover.in').length === 0) { 
          $('.sql-popover').popover('hide');
        }
      });
    });
  });


