- if can? :update, @asset or can? :delete, @asset
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      I want to  
      %span.caret
    %ul.dropdown-menu.multi-level{:role => 'menu'}

      - if can? :update, @asset
        %li.text-left.dropdown-submenu
          = link_to '#' do
            %i.fa.fa-fw.fa-edit
            = " Update"
          %ul.dropdown-menu
            - @asset.event_classes.each do |klass|
              - unless klass.name == 'DispositionUpdateEvent'
                %li.text-left
                  = link_to new_inventory_asset_event_path(@asset, :event_type => klass.asset_event_type.id) do
                    %i.fa.fa-fw{:class => klass.asset_event_type.display_icon_name}
                    = klass.asset_event_type.name
        - if @organization.asset_groups.count > 0
          %li.divider
          %li.text-left.dropdown-submenu
            = link_to '#' do
              %i.fa.fa-fw.fa-tags
              = " Add to group"
            %ul.dropdown-menu
              - @organization.asset_groups.each do |grp|
                %li.text-left
                  = link_to add_to_group_inventory_path(@asset, :asset_group => grp) do
                    %i.fa.fa-fw.fa-tag
                    = grp.name

      - if can? :update, @asset
        %li.divider
        %li
          = link_to edit_inventory_path(@asset) do
            %i.fa.fa-fw.fa-edit
            = " Update the master record"

        %li.divider      
        %li
          = link_to copy_inventory_path(@asset) do
            %i.fa.fa-fw.fa-copy
            = " Make a copy"

        %li.divider
        %li
          = link_to new_inventory_asset_event_path(@asset, :event_type => DispositionUpdateEvent.asset_event_type.id) do
            %i.fa.fa-fw{:class => DispositionUpdateEvent.asset_event_type.display_icon_name}
            = " Record final dispostion"

      - if can? :delete, @asset
        %li.divider
        %li
          = link_to inventory_path(@asset), :method => :delete, :data => {:confirm => "Are you sure you want to remove this asset?. The action can't be undone."} do
            %i.fa.fa-fw.fa-trash-o
            = " Remove this asset"