- if can? :update, @asset or can? :destroy, @asset
  .btn-group.pull-right.panel-action
    %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
      %i.fa.fa-cog
      = " Actions"
      %span.caret
    %ul.dropdown-menu.multi-level{:role => 'menu'}

      - # Load module specific tabs if they exist
      - SystemConfig.transam_module_names.each do |mod|
        - if lookup_context.template_exists?("#{mod}_detail_actions", 'assets', true)
          = render :partial => "assets/#{mod}_detail_actions"

      - # Load other core actions last into the menu
      - if can? :update, @asset
        %li.divider
        %li
          = link_to edit_inventory_path(@asset) do
            %i.fa.fa-fw.fa-edit
            = " Update the master record"

        %li.divider
        %li
          = link_to copy_inventory_path(@asset) do
            %i.fa.fa-fw.fa-copy
            = " Make a copy"

        %li.divider
        %li
          = link_to new_inventory_asset_event_path(@asset, :event_type => DispositionUpdateEvent.asset_event_type.id) do
            %i.fa.fa-fw{:class => DispositionUpdateEvent.asset_event_type.display_icon_name}
            = " Record final disposition"

      - if can? :destroy, @asset
        %li.divider
        %li
          = link_to inventory_path(@asset), :method => :delete, :data => {:confirm => "Are you sure you want to remove this asset?. The action can't be undone."} do
            %i.fa.fa-fw.fa-trash-o
            = " Remove this asset"
