- if asset
  = format_field("Owner", link_to(asset.organization.short_name, organization_path(asset.organization)) )
  = format_field("Description", asset.description )
  = format_field("Asset Tag", asset.asset_tag )
  = format_field("External ID", asset.external_id ) if asset.external_id
  = format_manufacturer_field("Manufacturer", Manufacturer.find(asset.manufacturer_id) ) unless asset.manufacturer_id.blank?
  = format_field("Class", asset.asset_type )
  = format_field("Type", asset.asset_subtype )
  = format_field("Status",  asset.service_status_type.nil? ? 'Unknown' : asset.service_status_type.name )
  = format_field("Groups",  format_asset_groups(asset)) unless asset.asset_groups.empty?
  = format_field("Parent",  link_to(asset.parent.name, inventory_path(asset.parent))) unless asset.parent.nil?
- else
  %p No asset found