:ruby
  table_dom_id = SecureRandom.hex

%ul.list-inline.pull-left
  %li
    %i.text-warning.fa.fa-flag.fa-fw
    Tasks
  %li
    %i.fa.fa-files-o.fa-fw
    Attachments
  %li
    %i.fa.fa-comments.fa-fw
    Comments

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :card_view => "false",
  :pagination => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :show_pagination_switch => 'true',
  :search => 'false',
  :show_columns => 'true',
  :show_export => 'true',
  :show_toggle => 'true',
  :resizable => 'true',
  :smart_display => 'true',
  :search => 'false'}}
  %thead
    %tr
      - SystemConfig.transam_module_names.each do |mod|
        - if lookup_context.template_exists?("#{mod}_asset_dt_head", 'assets', true)
          = render :partial => "assets/#{mod}_asset_dt_head"

      %th.center.sorting_disabled.icon-column Flags

  %tbody
    - assets.where(organization_id: current_user.organization.id ).includes(:organization, :asset_subtype).each do |a|
      %tr{:id => a.object_key, :class => 'action-path'}
        - SystemConfig.transam_module_names.each do |mod|
          - if lookup_context.template_exists?("#{mod}_asset_dt_columns", "assets", true)
            = render :partial => "assets/#{mod}_asset_dt_columns", :locals => {:a => a }

        %td.center.icon-column.nowrap
          = format_as_boolean(a.needs_attention?, 'fa-flag', 'text-warning')
          = format_as_boolean((a.documents.count > 0), 'fa-files-o')
          = format_as_boolean((a.comments.count > 0), 'fa-comments')

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => inventory_path("xxx")}
