- if asset
  = format_field("Owner", link_to(asset.organization.short_name, organization_path(asset.organization)) )
  = format_field("Description", asset.description )
  = format_field("Asset Tag", asset.asset_tag )
  = format_field("External ID", asset.external_id ) if asset.external_id
  = format_field("Manufacturer", link_to(asset.manufacturer.code, inventory_index_path(:manufacturer_id => asset.manufacturer_id)) ) unless asset.manufacturer_id.blank?
  = format_field("Class", asset.asset_subtype.asset_type )
  = format_field("Type", asset.asset_subtype )
  = format_field("Status",  asset.service_status_type.nil? ? 'Unknown' : asset.service_status_type.name )
  - unless asset.asset_groups.empty?
    - if current_user.has_role? :guest
      = format_field("Groups",  format_as_labels(asset.asset_groups))
    - else
      = format_field("Groups",  format_asset_groups(asset))
  = format_field("Parent",  link_to(asset.parent.to_s, inventory_path(asset.parent))) unless asset.parent.nil?
  = format_field("Location", link_to(asset.location.to_s, inventory_path(asset.location))) unless asset.location.nil?
- else
  %p No asset found
