%fieldset
  %legend.panel-legend Replacement/Rehabilitation
  = format_field("Scheduled Year", format_as_fiscal_year(asset.scheduled_replacement_year)) unless asset.scheduled_replacement_year.blank?
  = format_field("Scheduled Rehabilitation", format_as_fiscal_year(asset.scheduled_rehabilitation_year)) unless asset.scheduled_rehabilitation_year.blank?
  = format_field("Disposition", format_as_fiscal_year(asset.disposition_year)) unless asset.disposition_year.blank?
  = format_field("Policy Year", format_as_fiscal_year(asset.policy_replacement_year))
  = format_field("Est. Year", format_as_fiscal_year(asset.estimated_replacement_year))
  = format_field("Est. Cost", format_as_currency(asset.estimated_replacement_cost))