<div class="row">
	<%= dialog_tag('Identification', {:icon => 'fa fa-refresh', :class => "header_part col-md-4"}) do %>
		<%= format_field("Owner", @asset.organization.name ) %>
		<%= format_field("Asset Tag", @asset.asset_tag ) %>
		<%= format_field("Type", @asset.asset_subtype.name ) %>
		<%= format_field("Status",  @asset.service_status_type.nil? ? 'Unknown' : @asset.service_status_type.name ) %>
	<% end %>
	<%= dialog_tag('Condition', {:icon => 'fa fa-refresh', :class => "header_part col-md-4"}) do %>
		<%= format_field("Reported condition", @asset.reported_condition_type.nil? ? 'Unknown' : @asset.reported_condition_type.name ) %>
		<%= format_field("Reported on", format_as_date(@asset.reported_condition_date) ) %>
		<%= format_field("Est. rating", format_as_decimal(@asset.estimated_condition_rating, 1)) %>
		<%= format_field("Est. condition", @asset.estimated_condition_type.nil? ? 'Unknown' : @asset.estimated_condition_type.name ) %>
	<% end %>
	<%= dialog_tag('Replacement', {:icon => 'fa fa-refresh', :class => "header_part col-md-4"}) do %>
		<%= format_field("Age", @asset.age.to_s + " years") %>
		<%= format_field("Policy year", @asset.policy_replacement_year ) %>
		<%= format_field("Est. Year", @asset.estimated_replacement_year ) %>
		<%= format_field("Est. cost", format_as_currency(@asset.estimated_replacement_cost)) %>
	<% end %>
</div>
