<div class="row-fluid">
	<div class="span12">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li>
						<%= link_to back_inventory_index_path do %> <i class="icon-angle-left"></i> Back
						<% end %>
					</li>
					<li>
						<%= link_to  inventory_asset_events_path(@asset) do %> <i class="icon-calendar"></i> History (<%= @asset.asset_events.length %>)
						<% end %>
					</li>
					<li>
						<%= link_to  inventory_attachments_path(@asset) do %> <i class="icon-file"></i> Attachments (<%= @asset.attachments.length %>)
						<% end %>
					</li>
					<li>
						<%= link_to edit_inventory_path(@asset) do %> <i class="icon-edit"></i> Update
						<% end %>
					</li>
					<li>
						<%= link_to copy_inventory_path(@asset) do %> <i class="icon-copy"></i> Copy
						<% end %>
					</li>
					<li>
						<%= link_to inventory_path(@asset), :title => "Delete the asset?", :method => :delete, :confirm => "Are you sure you want to delete this asset?" do %> 
							<i class="icon-remove"></i> Delete
						<% end %>
					</li>

					<li>
						<% if @prev_asset_id %>
							<%= link_to inventory_path(@prev_asset_id) do %>
								<i class="icon-angle-left"></i> Prev
							<% end %>
						<% else %>
							<%= link_to '#', :disabled => true do %>
								<i class="icon-angle-left"></i> Prev
							<% end %>
						<% end %>
					</li>
					<li>
						<% if @next_asset_id %>
							<%= link_to inventory_path(@next_asset_id) do %>
								<i class="icon-angle-right"></i> Next
							<% end %>
						<% else %>
							<%= link_to '#', :disabled => true do %>
								<i class="icon-angle-right"></i> Next
							<% end %>
						<% end %>
					</li>
				</ul>
				<%= form_tag new_inventory_asset_event_path(@asset), :id => 'asset_action_form', :method => "get", :class => 'navbar-form pull-right form-inline' do %>
				<div class="input-append span2">
					<%= select_tag(:event_type, options_for_select(AssetEventType.all.collect{|a| [a.name, a.id]}), :class => "inline", :style => "margin-top:0;", :prompt => 'Select action...') %>
					<button class="btn" type="submit">
						Go!
					</button>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
