:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :card_view => "false",
  :pagination => 'true',
  :show_columns => 'false',
  :show_export => 'false',
  :show_toggle => 'false',
  :resizable => 'false',
  :search => 'false'}}
  %thead
    %tr
      %th.left{:data => {:sortable => 'true', :order => 'desc'}} Agency
      %th.left{:data => {:sortable => 'true', :order => 'desc'}} Type
      %th.left{:data => {:sortable => 'true', :order => 'desc'}} Asset Tag
      %th.left{:data => {:sortable => 'true', :order => 'desc'}} Description

      %th.right{:data => {:sortable => 'true', :order => 'desc'}} In Service
      %th.right{:data => {:sortable => 'true', :order => 'desc'}} Age
      %th.center{:data => {:sortable => 'true', :order => 'desc'}} Condition
      %th.center{:data => {:sortable => 'true', :order => 'desc'}} Status

  %tbody
    - assets.each do |a|
      %tr{:id => a.object_key, :class => 'action-path'}
        %td.left= a.organization
        %td.left= a.asset_subtype
        %td.left= a.asset_tag
        %td.left= a.description

        %td.right= format_as_date(a.in_service_date)
        %td.right= format_as_integer(a.age)
        %td.center= format_as_decimal(a.reported_condition_rating, 1)
        %td.center= a.service_status_type.code unless a.service_status_type.nil?

:javascript

  var path = '#{inventory_path("0")}';

  $('##{table_dom_id}').on('click-row.bs.table', function (e, row, $element) {
    //alert($element.attr('id'));
    var url = path.replace("0", $element.attr('id'));
    //alert(url);
    document.location.href = url;
  }).on('all.bs.table', function(evt, name, args) {
    transam.make_same_height('.header-part');
  });

  $(window).load(function() {
    transam.make_same_height('.header-part');
  });

  $(window).resize(function() {
    $("##{table_dom_id}").bootstrapTable('resetView');
  });
