<table id="datatable" class="table table-condensed table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th class="center" colspan="7">Asset</th>
			<th class="center" colspan="6">Condition</th>
			<th class="center" colspan="3">Replacement</th>
		</tr>
		<tr>
			<th class="center">Agcy</th>
			<th class="center">Type</th>
			<th class="center">Tag</th>					
			<th class="center">Description</th>
			<th class="center">Stat</th>
			<th class="center">Cost</th>
			
			<th class="center">Age</th>
			<th class="center">Backlog</th>
			<th class="center">Rating</th>
			<th class="center">Rep.</th>
			<th class="center">Est.</th>
			<th class="center">Value</th>
			

			<th class="center">Cost</th>
			<th class="center">Policy</th>
			<th class="center">Est.</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @assets.each do |a| %>
			<tr data-action-path = '<%= inventory_path(a) %>'>
				<td class="left"><%= a.organization.short_name %></td>
				<td class="left"><%= a.asset_subtype.name %></td>
				<td class="left"><%= a.asset_tag %></td>
				<td class="left"><%= a.description %></td>
				<td class="center"><%= a.service_status_type.code unless a.service_status_type.nil? %></td>
				<td class="right"><%= format_as_currency(a.cost) %></td>

				<td class="right"><%= a.age %></td>
				<td class="center"><%= format_as_boolean(a.in_backlog) %></td>
				<td class="center"><%= format_as_decimal(a.reported_condition_rating, 1) %></td>
				<td class="center"><%= a.reported_condition_type.name unless a.reported_condition_type.nil? %>
				<td class="center"><%= a.estimated_condition_type.name unless a.estimated_condition_type.nil? %>
				<td class="right"><%= format_as_currency(a.estimated_value) %></td>
				
				<td class="right"><%= format_as_currency(a.estimated_replacement_cost) %></td>
				<td class="right"><%= a.policy_replacement_year %></td>
				<td class="right"><%= a.estimated_replacement_year %></td>
				
				<td class="center"><%= render :partial => 'assets/asset_info_detail_popup', :locals => {:asset => a} %>
			</tr>
		<% end %>
	</tbody>
</table>	

<script type="text/javascript" charset="utf-8">

  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'    
  });  

</script>
