%table.table.table-hover#assets_datatable
  %thead
    %tr
      - SystemConfig.transam_module_names.each do |mod|
        = render :partial => "#{mod}_asset_dt_head" rescue nil
      %th.center
      
  %tbody
    - assets.each do |a|
      %tr{:data => {:action_path => inventory_path(a)}}
        - SystemConfig.transam_module_names.each do |mod|
          = render :partial => "#{mod}_asset_dt_columns", :locals => {:a => a } rescue nil
        %td.center= render :partial => 'assets/asset_info_detail_popup', :locals => {:asset => a}
                
= render :partial => 'shared/datatable_javascript', :locals => {:id => 'assets_datatable'}