= format_field("Cost", format_as_currency(@asset.purchase_cost) )
= format_field("Purchase Date", format_as_date(@asset.purchase_date) )
= format_field("In Service Date", format_as_date(@asset.in_service_date) )
= format_field("Purchased New", format_as_boolean(@asset.purchased_new) )
= format_field("Vendor", link_to(@asset.vendor, vendor_path(@asset.vendor))) unless @asset.vendor.nil?

= format_field("Expected Useful Life", "#{format_as_integer(@asset.expected_useful_life)} months")
