%li
  %a{:href => "#conf", :data =>{:toggle => 'tab'}}
    Configuration
%li
  %a{:href => "#purc", :data =>{:toggle => 'tab'}}
    Purchase
%li
  %a{:href => "#hist", :data =>{:toggle => 'tab'}}
    %span{:style => 'white-space: nowrap !important;'}
      History
      %span.badge= @asset.asset_events.count
- if @asset.occupants.present?
  %li
    %a{:href => "#occ", :data =>{:toggle => 'tab'}}
      %span{:style => 'white-space: nowrap !important;'}
        Occupants
        %span.badge= @asset.occupants.count
%li
  %a{:href => "#depd", :data =>{:toggle => 'tab'}}
    %span{:style => 'white-space: nowrap !important;'}
      Dependents
      %span.badge= @asset.dependents.count
%li
  %a{:href => "#task", :data =>{:toggle => 'tab'}}
    %span{:style => 'white-space: nowrap !important;'}
      Tasks
      %span.badge= @asset.tasks.count
%li
  %a{:href => "#comm", :data =>{:toggle => 'tab'}}
    %span{:style => 'white-space: nowrap !important;'}
      = "Comments"
      %span.badge= @asset.comments.count
%li
  %a{:href => "#docs", :data =>{:toggle => 'tab'}}
    %span{:style => 'white-space: nowrap !important;'}
      = "Documents"
      %span.badge= @asset.documents.count
%li
  %a{:href => "#imag", :data =>{:toggle => 'tab'}}
    %span{:style => 'white-space: nowrap !important;'}
      = "Photos"
      %span.badge= @asset.images.count
%li
  %a{:href => "#chrt", :data =>{:toggle => 'tab'}}
    Charts
