%td.left= a.organization
%td.left= a.asset_subtype
%td.left= a.asset_tag
%td.left= a.external_id
%td.left= a.description

%td.left= a.location
%td.right= format_as_date(a.in_service_date)
%td.right= format_as_integer(a.age)
%td.center= format_as_decimal(a.reported_condition_rating, 1)
%td.center= a.service_status_type.code unless a.service_status_type.nil?

%td.center= format_as_fiscal_year(a.scheduled_rehabilitation_year)
%td.center= format_as_fiscal_year(a.scheduled_rehabilitation_year)