.tab-pane.fade#hist
  .tab-content
    = render 'history'
- if @asset.occupants.operational.present?
  .tab-pane.fade#occ
    .tab-content
      = render :partial => 'asset_compact_datatable', :locals => {:assets => @asset.occupants.operational}
.tab-pane.fade#depd
  .tab-content
    = render 'dependents'
.tab-pane.fade#task
  .tab-content
    = render 'tasks'
.tab-pane.fade#comm
  .tab-content
    = render 'comments'
.tab-pane.fade#docs
  .tab-content
    = render 'documents'
.tab-pane.fade#imag
  .tab-content
    = render 'photos'
.tab-pane.fade#chrt
  .tab-content
    = render 'charts'