.row
  .col-md-12{:style => 'height:150px;overflow-y:auto;'}
    - if @asset.documents.empty?
      %p There are no documents for this asset.
    - else
      = render :partial => 'shared/documents', :locals => {:documents => @asset.documents}

.row
  .col-md-12
    %fieldset
      %legend Add Document
      = simple_form_for([@asset, Document.new],
          :html => {:multipart => true, :class => 'form-vertical' },
          :url => inventory_documents_path(@asset, Document.new),
          :wrapper => :vertical_form,
          :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
        = f.input :document, :required => true
        = f.input :description, :as => :text, :placeholder => 'Enter a brief description of the document...', :required => true, :minlength => 10
        = f.submit "Add Document", :class => 'btn btn-primary', :id => "document_submit"

