.row
  .col-sm-12
    .well.well-small
      #timeline{:style => 'height:175px;background-color:#FFF;'}

.row
  .col-sm-12
    %table.table.table-hover{:id => 'asset-history-table', :data => {:toggle => 'table',
      :card_view => "false",
      :pagination => 'true',
      :page_list => "[5, 10, 20, 50, 100, 200]",
      :page_size => current_user.num_table_rows,
      :show_columns => 'false',
      :show_export => 'false',
      :show_toggle => 'false',
      :resizable => 'false',
      :search => 'false'}}
      %thead
        %tr
          %th Event
          %th Date
          %th Update
          %th Notes
      %tbody
        - @asset.history.order(:event_date => :desc, :created_at => :desc).each do |evt|
          %tr{:data => {:action_path => "#{inventory_asset_event_path(@asset, evt)}"}}
            %td
              = evt.asset_event_type.description
            %td
              = format_as_date(evt.event_date)
            %td
              = evt.get_update
            %td
              = evt.comments.blank? ? " " : evt.comments.html_safe

:javascript
  $(window).resize(function() {
    $('#asset-history-table').bootstrapTable('resetView');
  });
