-#.row
-#  .col-sm-12
-#    .well.well-small
-#      #timeline{:style => 'background-color:#FFF;'}

.row
  .col-sm-12
    %table.table.table-hover{:id => 'asset-history-table', :data => {:toggle => 'table',
      :card_view => "false",
      :pagination => 'true',
      :show_pagination_switch => 'false',
      :page_list => "[5, 10, 20, 50, 100, 200, 10000]",
      :page_size => current_user.num_table_rows,
      :show_columns => 'false',
      :cookie => 'true',
      :cookie_id_table => "asset_events_id",
      :cookie_expire => "1y",
      :show_export => 'true',
      :export_types => "['csv', 'txt', 'excel']",
      :show_toggle => 'false',
      :resizable => 'true',
      :search => 'false'}}
      %thead
        %tr
          %th{:data => {:sortable => 'true'}} Event
          %th Event Activity
          %th Comments
          %th{:data => {:sortable => 'true', :formatter => 'date_time_formatter'}} Entry Date & Time
          %th{:data => {:sortable => 'true'}} Event By
      %tbody
        -# EarlyDispositionRequestUpdateEvent is a special case as it is state-ful and each state represent one history
        - @asset.history.each do |evt|
          - evt = AssetEvent.as_typed_event(evt)
          - if evt.asset_event_type.try(:class_name) == 'EarlyDispositionRequestUpdateEvent'
            - unless evt.is_new?
              %tr{:data => {:action_path => "#{inventory_asset_event_path(evt.transam_asset.object_key, evt.object_key)}"}}
                %td
                  = evt.asset_event_type.description
                %td
                  = "#{evt.get_latest_update} on #{format_as_date(evt.event_date)}"
                %td
                  = (evt.comments.blank? ? " " : evt.comments).html_safe
                %td
                  = evt.updated_at
                %td
                  = evt.updater

            %tr{:data => {:action_path => "#{inventory_asset_event_path(evt.transam_asset.object_key, evt.object_key)}"}}
              %td
                = evt.asset_event_type.description
              %td
                = "#{evt.get_update} on #{format_as_date(evt.event_date)}"
              %td
                = (evt.comments.blank? ? " " : evt.comments).html_safe
              %td
                = evt.created_at
              %td
                = evt.creator

          - else
            %tr{:data => {:action_path => "#{inventory_asset_event_path(evt.transam_asset.object_key, evt.object_key)}"}}
              %td
                = evt.asset_event_type.description
              %td
                = "#{evt.get_update} on #{format_as_date(evt.event_date)}"
              %td
                = (evt.comments.blank? ? " " : evt.comments).html_safe
              %td
                = evt.updated_at
              %td
                = evt.updater || evt.creator

:javascript
  $(window).resize(function() {
    $('#asset-history-table').bootstrapTable('resetView');
  });

