-#.row
-#  .col-sm-12
-#    .well.well-small
-#      #timeline{:style => 'background-color:#FFF;'}

.row
  .col-sm-12
    %table.table.table-hover{:id => 'asset-history-table', :data => {:toggle => 'table',
      :card_view => "false",
      :pagination => 'true',
      :page_list => "[5, 10, 20, 50, 100, 200]",
      :page_size => current_user.num_table_rows,
      :show_columns => 'false',
      :state_save => 'true',
      :state_save_id_table => "asset_events_id",
      :state_save_expire => "1y",
      :show_export => 'true',
      :export_types => "['csv', 'txt', 'excel']",
      :show_toggle => 'false',
      :resizable => 'true',
      :search => 'false'}}
      %thead
        %tr
          %th{:data => {:sortable => 'true'}} Event
          %th{:data => {:sortable => 'true', :formatter => 'date_formatter'}} Date
          %th Update
          %th Notes
      %tbody
        -# EarlyDispositionRequestUpdateEvent is a special case as it is state-ful and each state represent one history
        - @asset.history.each do |evt|
          - if evt.asset_event_type.try(:class_name) == 'EarlyDispositionRequestUpdateEvent'
            %tr{:data => {:action_path => "#{inventory_asset_event_path(evt.transam_asset, evt.object_key)}"}}
              %td
                = evt.asset_event_type.description
              %td
                = evt.created_at
              %td
                = evt.get_update
              %td
                = (evt.comments.blank? ? " " : evt.comments).html_safe
            - unless AssetEvent.as_typed_event(evt).is_new?
              %tr{:data => {:action_path => "#{inventory_asset_event_path(evt.transam_asset, evt.object_key)}"}}
                %td
                  = evt.asset_event_type.description
                %td
                  = evt.updated_at
                %td
                  = AssetEvent.as_typed_event(evt).get_latest_update
                %td
                  = (evt.comments.blank? ? " " : evt.comments).html_safe
          - else
            %tr{:data => {:action_path => "#{inventory_asset_event_path(evt.transam_asset, evt.object_key)}"}}
              %td
                = evt.asset_event_type.description
              %td
                = evt.event_date
              %td
                = evt.get_update
              %td
                = (evt.comments.blank? ? " " : evt.comments).html_safe

:javascript
  $(window).resize(function() {
    $('#asset-history-table').bootstrapTable('resetView');
  });

