- if @organization_list.count > 1
  = form_tag inventory_index_path, :id => 'filter_form', :method => "get", :class => 'navbar-form navbar-right panel-action' do
    = hidden_field_tag :asset_type, @asset_type
    = hidden_field_tag :asset_subtype, @asset_subtype
    = hidden_field_tag :start_row, 0
    .form-group
      = select_tag(:org_id, options_for_select(Organization.where('id IN (?)', @organization_list).collect{|a| [a.coded_name, a.id]}, :selected => @org_filter), :class => "form-control", :style => "width: 200px;", :prompt => "Any Organization...")

:javascript
  $(document).ready(function() {

    $('#org_id').change(function() {
      $('#filter_form').submit();
    });

  });
