<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<%= form_tag inventory_index_url, :id => 'asset_filter_form', :method => "get", :class => 'navbar-form navbar-left' do %>
					<%= hidden_field_tag :asset_type, @asset_type  %>
					<%= hidden_field_tag :asset_subtype, @asset_subtype  %>
					<%= hidden_field_tag :view_type, @view_type  %>
					<div class="form-group">
						<span class="form-group-addon">Asset Type</span>
						<%= text_field_tag :filter, @filter, :autocomplete => "off", :class => "form-control ajax-typeahead", :data => {:link => filter_inventory_index_path, :provide => "typeahead"} %>
					</div>
					<button type="submit" id="clear_selection", class="btn btn-default">Clear</button>
				<% end %>
				<ul class="nav navbar-nav">
					<% if @assets.count > 0 %>
					<li>
						<%= link_to inventory_index_path(:format => 'xls'), :data => {:confirm => "Do you want to download these assets as an XLS?"} do %>
						<i class="fa fa-download"></i> Export to Excel
						<% end %>
					</li>
					<% end %>
	
					<% if can? :create, Asset %>
						<li>
							<%= link_to new_asset_inventory_index_path do %>
							<i class="fa fa-plus"></i> Add Asset
							<% end %>
						</li>
					<% end %>
					<li>
						<%= link_to new_search_path do %>
						<i class="fa fa-search"></i> Search
						<% end %>
					</li>
				</ul>
				<%= form_tag inventory_index_path, :id => 'asset_search_form', :method => "get", :role => "search", :class => 'navbar-form navbar-right' do %>
					<%= hidden_field_tag :asset_type, @asset_type %>
						<div class="input-group" style="width:300px;">
							<div class="input-group-btn search-panel">
					            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					            	<span id="search_concept">Filter by</span> <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" role="menu">
					              <li><a href="#equals">Equals</a></li>
					              <li><a href="#contains">Contains</a></li>
					              <li><a href="#starts_with">Starts with</a></li>
					              <li><a href="#end_with">Ends with</a></li>
					            </ul>
				            </div>
            				<input type="hidden" name="search_param" value="all" id="search_param">         
							<%= text_field_tag :search_text, @search_text, :class => "form-control", :placeholder => "Filter text..."%>
				            <span class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</span>
					</div>
				<% end %>
			</div>
		</nav>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function(e){
    	$('.search-panel .dropdown-menu').find('a').click(function(e) {
			e.preventDefault();
			var param = $(this).attr("href").replace("#","");
			var concept = $(this).text();
			$('.search-panel span#search_concept').text(concept);
			$('.input-group #search_param').val(param);
		});
	});
  	// Configure UI behaviors
  	var typeahead_delay = <%= Rails.application.config.ui_typeahead_delay %>
  	var typeahead_min_chars = <%= Rails.application.config.ui_typeahead_min_chars %>
  	var typeahead_list_length = <%= Rails.application.config.ui_typeahead_list_length %>
  	var timeout;

	// install a click handler for clearing the selection
	$('#clear_selection').click(function() {
        $('#filter').attr('value', '');
        $('#asset_subtype').attr('value', 0);
        // Submit the form
        $('#asset_filter_form').submit();		
	});
	
	  // Enable typeahead for the filter
	  $('#filter').typeahead({
	      items: typeahead_list_length,
	      minLength: typeahead_min_chars,
	      source: function(query, process) {
	          if (timeout) {
	            clearTimeout(timeout);
	          }
	          timeout = setTimeout(function() {
	            return $.ajax({
	                url: $('#filter').data('link'),
	                type: 'get',
	                data: {
	                  query: query,
	                  asset_type: $('#asset_type').val()
	                },
	                dataType: 'json',
	                success: function(result) {
	  
	                  var resultList = result.map(function (item) {
	                      var aItem = { id: item.id, name: item.name };
	                      return JSON.stringify(aItem);
	                  });
	  
	                  return process(resultList);
	                }
	            });
	          }, typeahead_delay);
	      },
	    matcher: function (obj) {
	        var item = JSON.parse(obj);
	        return ~item.name.toLowerCase().indexOf(this.query.toLowerCase())
	    },
	
	    sorter: function (items) {          
	       var beginswith = [], caseSensitive = [], caseInsensitive = [], item;
	        while (aItem = items.shift()) {
	            var item = JSON.parse(aItem);
	            if (!item.name.toLowerCase().indexOf(this.query.toLowerCase())) beginswith.push(JSON.stringify(item));
	            else if (~item.name.indexOf(this.query)) caseSensitive.push(JSON.stringify(item));
	            else caseInsensitive.push(JSON.stringify(item));
	        }
	
	        return beginswith.concat(caseSensitive, caseInsensitive)
	
	    },
	
	
	    highlighter: function (obj) {
	        var item = JSON.parse(obj);
	        var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
	        return item.name.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
	            return '<strong>' + match + '</strong>'
	        })
	    },
	
	    updater: function (obj) {
	        var item = JSON.parse(obj);
	        	        
	        // Update the UI
	        $('#filter').attr('value', item.name);
	        $('#asset_subtype').attr('value', item.id);
	        // Submit the form
	        $('#asset_filter_form').submit();
	        return item.name;
	    }  
	  });  

</script>
