<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= dialog_tag('New Asset', {:icon => 'fa fa-plus', :class => 'form_part'}) do %>
			<div class="col-md-6">							
				<%= form_tag new_inventory_path, :id => 'asset_subtype_form', :method => "get", :class => 'form-horizontal', :role => 'form' do %>
					<div class="form-group">
						<label class="col-sm-4 control-label string required" for="filter">
							<abbr title="required">*</abbr>
							Asset Type
						</label>
						<div class="col-sm-8">
							<%= select_tag(:asset_subtype, option_groups_from_collection_for_select(@asset_types, :asset_subtypes, :name, :id, :name), :class => 'form-control string required', :prompt => 'Select asset type...', :id => 'asset_subtype_filter') %>
						</div>
					</div>
					<div class="col-sm-8 col-sm-offset-4">
						<%= submit_tag 'Create New Asset', :class => "btn btn-primary", :id => "submit_button" %>
					</div>						
				<% end %>
			</div>
			<div class="col-md-6" id="subtype_details">
				<%= render 'subtype_details' %>							
			</div>
		<% end %>
	</div>
</div>		

<script type="text/javascript" charset="utf-8">

  	// Configure UI behaviors
  	
	$(document).ready(function() {  	
  		// Disable the submit button
  		$('#submit_button').attr("disabled", "disabled");
  		// Add an event listener on the selector
  		$('#asset_subtype_filter').change(function() {
  			var val = $('#asset_subtype_filter').val();
  			if (val) {
				$('#submit_button').removeAttr("disabled");    
		        var url = '/inventory/details/?asset_subtype=' + val;
		        transam.ajax_render_action(url, 'get');  			
  			} else {
  				$('#submit_button').attr("disabled", "disabled");
				$('#subtype_details').html("");
  			}
  		});
	});
	
</script>
