.row
  .col-md-12
    - if @asset.images.empty?
      %p There are no photos for this asset.
    - else
      = render :partial => 'shared/images', :locals => {:images => @asset.images}

- if can? :create, @asset.images.build
  .row
    .col-md-12
      %fieldset
        %legend Add Photo
        = simple_form_for([@asset, Image.new],
            :url => inventory_images_path(@asset, Image.new),
            :html => {:multipart => true, :class => 'form-vertical' },
            :wrapper => :vertical_form,
            :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
          = f.input :image, :required => true
          = f.input :description, :as => :text, :placeholder => 'Enter a brief description of the photo...', :required => true, :input_html => { :minlength => 10, :maxlength => 254 }
          = f.submit "Add Photo", :class => 'btn btn-primary', :id => 'image_submit'
