- # Load module specific details if they exist
- a = Asset.get_typed_asset(asset)
- SystemConfig.transam_module_names.each do |mod|
  - view_component = "#{mod}_asset_info_detail"
  - Rails.logger.debug "Checking for #{view_component}: Results = #{lookup_context.template_exists?(view_component, 'assets', true)}"
  - if lookup_context.template_exists?(view_component, 'assets', true)
    = render :partial => "assets/#{view_component}", locals: {:asset => a}
