:css
  .panel-body-fixed {
    height: 300px;
    overflow: scroll;
  }

.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Highlights
      .panel-body.panel-body-fixed
        = render 'details'        
.row
  .col-sm-12.col-md-3
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-6
            %h3.panel-title
              %i.fa.fa-star
              = @asset
          .col-sm-6
            = render 'actions'
      .panel-body
        = render :partial => 'summary', :locals => {:asset => @asset}

  .col-sm-12.col-md-9#profile
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Profile
      .panel-body
        = render 'profile'

=render 'show_scripts'