= render :layout => "search_panel" do |f|
  .row
    .col-lg-3.col-md-6
      %fieldset
        %legend.panel-legend Asset
        = f.input :organization_id, :collection => Organization.where(id: @organization_list), :label_method => 'coded_name' unless @organization_list.count < 2
        = f.input :manufacturer_model, :placeholder => "Enter The Manufacturer Model"
        = f.input :keyword, :placeholder => "Enter A Query Term"
        = f.input :asset_type_ids, :collection => AssetType.all, input_html: { multiple: true }, :label => "Type"
        = f.input :asset_subtype_ids, :collection => AssetSubtype.all, :label => "Subtype", input_html: { multiple: true }
        = f.input :disposition_date, :collection => get_fiscal_years
        = f.input :in_backlog, :as => :boolean, :label => "In Backlog"
    .col-lg-3.col-md-6
      %fieldset
        %legend.panel-legend Purchase
        = f.input :manufacturer_ids, collection: Manufacturer.all, label_method: :full_name, input_html: { multiple: true }
        = f.input :manufacture_date, :wrapper => :vertical_prepend, :label => "Manufacture Year" do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Before
              %li
                %a{:data => {:compare => "0"}} During
              %li
                %a{:data => {:compare => "1"}} After
            = f.input_field :manufacture_date_comparator, :as => :hidden, :value => '0'
          = f.input_field :manufacture_date, :class => "form-control"
        = f.input :vendor_ids, collection: Vendor.all, label: 'Vendor', input_html: { multiple: true }
        = f.input :in_service_date, :wrapper => :vertical_prepend, :label => "Year Placed in Service" do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Before
              %li
                %a{:data => {:compare => "0"}} During
              %li
                %a{:data => {:compare => "1"}} After
            = f.input_field :in_service_date_comparator, :as => :hidden, :value => '0'
          = f.date_field :in_service_date, :class => "form-control"
        = f.input :purchase_cost, :wrapper => :vertical_prepend do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Less Than
              %li
                %a{:data => {:compare => "1"}} Greater Than
            = f.input_field :purchase_cost_comparator, :as => :hidden, :value => '1'
          = f.input_field :purchase_cost, :class => "form-control", :as => :integer, :label => "Original Purchase Cost", input_html: { :min => '0'}
        = f.input :purchase_date, :wrapper => :vertical_prepend, :label => "Purchase Year" do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Before
              %li
                %a{:data => {:compare => "0"}} During
              %li
                %a{:data => {:compare => "1"}} After
            = f.input_field :purchase_date_comparator, :as => :hidden, :value => '0'
          = f.input_field :purchase_date, :class => "form-control"
        = f.input :book_value, :wrapper => :vertical_prepend do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Less Than
              %li
                %a{:data => {:compare => "1"}} Greater Than
            = f.input_field :book_value_comparator, :as => :hidden, :value => '1'
          = f.input_field :book_value, :class => "form-control", :label => "Book Value"
        = f.input :purchased_new, :as => :boolean, :label => "Purchased New", :label_html => { :class => 'bold' }
    .col-lg-3.col-md-6
      %fieldset
        %legend.panel-legend Condition
        = f.input :reported_mileage, :wrapper => :vertical_prepend, :label => "Mileage" do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Less Than
              %li
                %a{:data => {:compare => "1"}} Greater Than
            = f.input_field :reported_mileage_comparator, :as => :hidden, :value => '1'
          = f.input_field :reported_mileage, :class => "form-control"
        = f.input :scheduled_replacement_year, :wrapper => :vertical_prepend do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Before
              %li
                %a{:data => {:compare => "0"}} During
              %li
                %a{:data => {:compare => "1"}} After
            = f.input_field :scheduled_replacement_year_comparator, :as => :hidden, :value => '0'
          = f.input_field :scheduled_replacement_year, :collection => get_fiscal_years, :class => "form-control"
        = f.input :policy_replacement_year, :wrapper => :vertical_prepend, :label => "Policy Replacement Year" do
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:data => {:compare => "-1"}} Before
              %li
                %a{:data => {:compare => "0"}} During
              %li
                %a{:data => {:compare => "1"}} After
            = f.input_field :policy_replacement_year_comparator, :as => :hidden, :value => '0'
          = f.input_field :policy_replacement_year, :collection => get_fiscal_years, :class => "form-control"
        = f.input :condition_type_ids, :label => "Condition Type", :collection => ConditionType.all, input_html: { multiple: true }
        = f.input :service_status_type_ids, :label => "Service Status", :collection => ServiceStatusType.all, input_html: { multiple: true }
    .col-lg-3.col-md-6
      %fieldset
        %legend.panel-legend FTA
        = f.input :fta_vehicle_type_ids, :collection => FtaVehicleType.all, input_html: { :multiple => true }, :label => "FTA Vehicle Type"
        = f.input :fta_ownership_type_ids, :collection => FtaOwnershipType.all, input_html: { :multiple => true }, :label => "FTA Ownership Type"
        = f.input :fta_funding_type_ids, :collection => FtaFundingType.all, input_html: { :multiple => true }, :label => "FTA Funding Type"
        = f.input :ada_accessible_lift, :as => :boolean, :label => "ADA Accessible Lift"
        = f.input :ada_accessible_ramp, :as => :boolean, :label => "ADA Accessible Ramp"
        = f.input :fta_emergency_contingency_fleet, :as => :boolean, :label => "Emergency Contingency Fleet"
