.panel.panel-info
  .panel-heading
    = link_to 'Types & Subtypes', '#type-subtype-panel', :role => 'button', :data => {:toggle => 'collapse'}, :aria => {:expanded => true}

  .panel-body#type-subtype-panel.collapse.in
    #types
      .row
        .col-md-3
          %fieldset
            %legend.panel-legend Select Asset Type(s)
            #type-selector
              = f.input :asset_type_id, :collection => AssetType.active.map { |type| [type.name, type.id, :class => type.class_name] },  input_html: { multiple: true }, :label => "Type"
            .general-fields
              = f.input :keyword, :placeholder => "Enter A Query Term"
        .col-md-3.general-fields#subtype-selector
          %fieldset
            %legend.panel-legend Subtypes
            = f.input :asset_subtype_id, collection: AssetType.active, as: :grouped_select, group_method: :asset_subtypes, input_html: { multiple: true }, :label => "Asset Subtype"
        .col-md-3.general-fields
          %fieldset
            %legend.panel-legend Status
            = f.input :asset_scope, collection: ["Disposed", "Operational"], :label => "Operational Status"

#general.general-fields.panel.panel-info
  .panel-heading
    = link_to 'Common Fields', '#common-panel', :role => 'button', :data => {:toggle => 'collapse'}, :aria => {:expanded => true}

  .panel-body#common-panel.collapse
    .row.row-eq
      .col-md-3
        %fieldset
          %legend.panel-legend Vendor & Manufacturer Information
          #vendor-selector
            = f.input :vendor_id, collection: Vendor.active.where(organization_id: @organization_list).map { |vendor| [vendor.name, vendor.id, { class: vendor.organization_id } ]}, label: 'Vendor', input_html: { multiple: true }
          #manufacturers
            = f.input :manufacturer_id, collection: Manufacturer.active.map { |manufacturer| [ " #{ manufacturer.name } (#{ manufacturer.filter.titleize.pluralize })", manufacturer.id, { class: manufacturer.filter }] }, input_html: { multiple: true }
          = f.input :manufacturer_model, :placeholder => "Enter The Manufacturer Model", :label => "Manufacturer Model"
          = f.input :manufacture_year, :wrapper => :vertical_prepend, :label => "Manufacture Year" do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Before
                %li
                  %a{:data => {:compare => "0"}} During
                %li
                  %a{:data => {:compare => "1"}} After
              = f.input_field :manufacture_year_comparator, :as => :hidden, :value => '0'
            = f.input_field :manufacture_year, :class => "form-control"

      .col-md-3
        %fieldset
          %legend.panel-legend Funding Source, Value
          = f.input :fta_funding_type_id, :label => "Fta Funding Type", :collection => FtaFundingType.active, input_html: { multiple: true }
          = f.input :federal_funding_source_id, :label => "Federal Funding Source", :collection => FundingSource.active.select { |source| source.federal? }, input_html: { multiple: true }
          = f.input :non_federal_funding_source_id, :label => "Non-Federal Funding Source", :collection => FundingSource.active.select { |source| !source.federal? }, input_html: { multiple: true }
          = f.input :purchase_cost, :label => "Purchase Cost", :wrapper => :vertical_prepend do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Less Than
                %li
                  %a{:data => {:compare => "0"}} Equal To
                %li
                  %a{:data => {:compare => "1"}} Greater Than
              = f.input_field :purchase_cost_comparator, :as => :hidden, :value => '0'
            = f.input_field :purchase_cost, :class => "form-control", :as => :integer, :label => "Original Purchase Cost", input_html: { :min => '0'}
          = f.input :book_value, :label => "Book Value", :wrapper => :vertical_prepend do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Less Than
                %li
                  %a{:data => {:compare => "0"}} Equal To
                %li
                  %a{:data => {:compare => "1"}} Greater Than
              = f.input_field :book_value_comparator, :as => :hidden, :value => '0'
            = f.input_field :book_value, :class => "form-control", :as => :integer, :label => "Book Value", input_html: { :min => '0'}

      .col-md-3
        %fieldset
          %legend.panel-legend Condition & Status
          = f.input :service_status_type_id, :label => "Service Status", :collection => ServiceStatusType.active, input_html: { multiple: true }
          = f.input :reported_condition_type_id, :label => "Reported Condition Type", :collection => ConditionType.active, input_html: { multiple: true }
          = f.input :in_backlog, :as => :boolean, :label => "In Backlog"
          = f.input :purchased_new, :as => :boolean, :label => "Purchased New", :label_html => { :class => 'bold' }


      .col-md-3
        %fieldset
          %legend.panel-legend Important Dates & Years
          = f.input :in_service_date, :wrapper => :vertical_prepend, :label => "In Service Date" do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Before
                %li
                  %a{:data => {:compare => "1"}} After
              = f.input_field :in_service_date_comparator, :as => :hidden, :value => '1'
            = f.date_field :in_service_date, :class => "form-control"
          = f.input :purchase_date, :wrapper => :vertical_prepend, :label => "Purchase Date" do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Before
                %li
                  %a{:data => {:compare => "1"}} After
              = f.input_field :purchase_date_comparator, :as => :hidden, :value => '1'
            = f.date_field :purchase_date, :class => "form-control"
          = f.input :disposition_date, :wrapper => :vertical_prepend, :label => "Disposition Date" do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Before
                %li
                  %a{:data => {:compare => "1"}} After
              = f.input_field :disposition_date_comparator, :as => :hidden, :value => '1'
            = f.date_field :disposition_date, :class => "form-control"
          = f.input :scheduled_replacement_year, :label => "Scheduled Replacement Year", :wrapper => :vertical_prepend do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Before
                %li
                  %a{:data => {:compare => "0"}} During
                %li
                  %a{:data => {:compare => "1"}} After
              = f.input_field :scheduled_replacement_year_comparator, :as => :hidden, :value => '0'
            = f.input_field :scheduled_replacement_year, :collection => get_fiscal_years, :class => "form-control"
          = f.input :policy_replacement_year, :wrapper => :vertical_prepend, :label => "Policy Replacement Year" do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Before
                %li
                  %a{:data => {:compare => "0"}} During
                %li
                  %a{:data => {:compare => "1"}} After
              = f.input_field :policy_replacement_year_comparator, :as => :hidden, :value => '0'
            = f.input_field :policy_replacement_year, :collection => get_fiscal_years, :class => "form-control"


        - view_component = "app_core_asset_search_form_common_fields"
        - if lookup_context.template_exists?(view_component, 'searches', true)
          = render :partial => "searches/#{view_component}", :locals => {:f => f}

#equipment.equipment-related-only.panel.panel-info
  .panel-heading
    = link_to 'Equipment Specific Fields', '#equipment-panel', :role => 'button', :data => {:toggle => 'collapse'}, :aria => {:expanded => true}
  .panel-body#equipment-panel.collapse
    .row.row-eq
      .col-md-3
        %fieldset
          %legend.panel-legend Equipment Features
          = f.input :equipment_description, :label => "Description", :placeholder => "Enter the Description"
          = f.input :equipment_quantity, :label => "Quantity", :wrapper => :vertical_prepend do
            .input-group-btn
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:data => {:compare => "-1"}} Less Than
                %li
                  %a{:data => {:compare => "0"}} Equal To
                %li
                  %a{:data => {:compare => "1"}} Greater Than
              = f.input_field :equipment_quantity_comparator, :as => :hidden, :value => '0'
            = f.input_field :equipment_quantity, :class => "form-control", :as => :integer, input_html: { :min => '0'}

        - view_component = "app_core_asset_search_form_equipment_fields"
        - if lookup_context.template_exists?(view_component, 'searches', true)
          = render :partial => "searches/#{view_component}", :locals => {:f => f}
