<div class="row-fluid">
	<div class="span12">
	<%= simple_form_for(:searcher, :url => searches_path, :html => {:class => '' }) do |f| %>
	<ul class="thumbnails">
		<%= panel_tag('Asset Characteristics', {:icon => 'fa fa-refresh', :class => "form_part span3"}) do %>
			<%= f.input :asset_type_id, :collection => AssetType.all, :include_blank => "Any...", :multiple => true %>
			<%= f.input :asset_subtype_id, :collection => AssetSubtype.all, :include_blank => "Any...", :multiple => true %>
			<%= f.input :asset_tag %>
			<%= f.input :condition_type_id, :collection => ConditionType.all, :include_blank => "Any...", :multiple => true %>
			<%= f.input :replacement_year, :as => :integer %>
		<% end %>
	</ul>
	<% if ! @disabled %>
	<div class="form-actions">
		<%= f.button :submit, 'Search', :id => 'submit_btn' %>
		<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
	</div>
	<% end %>
	<% end %>
	</div>
</div>
