.row#search-panel-controller
  .col-sm-12
    .panel.panel-primary
      .panel-heading
        .row
          .col-sm-6
            .panel-title
              %h3.panel-title
                %i.fa.fa-search.fa-fw
                = link_to 'Search Parameters', '.search-panel', :role => 'button', :data => {:toggle => 'collapse'}, :aria => {:expanded => true}
          .col-sm-6
            = render 'actions'

.search-panel#asset_search_form.collapse.in
  = simple_form_for(@searcher,
  :as => :searcher,
  :url => searches_path,
  :method => 'post',
  :html => {:class => 'form-vertical'},
  :remote => true,
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean},
  :defaults => {:include_blank => "Any...", :required => false} ) do |f|
    = hidden_field_tag :search_type, @search_type.id
    = yield f
    .row
      .col-md-12
        = f.button :submit, 'Query', :class=>"btn btn-primary", :id => 'submit_btn'
        = link_to 'Reset', reset_searches_path(:search_type => @search_type.id), :class=> 'btn btn-warning'