.row#search-panel-controller
  .col-sm-12
    .panel.panel-primary
      .panel-heading
        .row
          .col-sm-6
            .panel-title
              %h3.panel-title
                %i.fa.fa-search.fa-fw
                Search Results
          .col-sm-6
            .btn-group.pull-right.panel-action
              %button.btn.btn-primary.btn-sm#collapse.panel-toggle{:data => {:toggle => "collapse", :target => ".search-panel"}}
                %i.fa.fa-fw.fa-plus
            = render 'actions'

.search-panel#asset_search_form.collapse.in
  = simple_form_for(@searcher,
  :as => :searcher,
  :url => searches_path,
  :method => 'post',
  :html => {:class => 'form-vertical'},
  :remote => true,
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :horizontal_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean},
  :defaults => {:include_blank => "Any...", :required => false} ) do |f|
    = hidden_field_tag :search_type, @search_type
    = yield f
    .row
      .col-md-12
        = f.button :submit, 'Query', :class=>"btn btn-primary", :id => 'submit_btn'
        = button_tag 'Reset', :type => 'reset', :class=> 'btn btn-warning reset-button'

:javascript
  $(document).ready(function() {
    // Set btn-dropdown text from set values in the hidden fields
    var hidden_fields = $(".input-group-btn input[type='hidden']");
    hidden_fields.each(function(selector) {
      var selected_link = $(this).prev("ul").find("a[data-compare=" + this.value+ "]");
      var text = selected_link.html() + " ";
      var btn = $(this).prevAll("button");
      btn.html(text).append("<span class='caret'></span>");
    });
  });

  // When selecting from the button-dropdowns, set a hidden field appropriately
  $(".input-group-btn a").on("click", function() {
    // Handle btn-dropdown by setting relevant variable in hidden field
    $(this).parents("ul").siblings("input:hidden").val($(this).attr("data-compare"));
    $(this).parents("ul").prev("button").text($(this).text() + " ");
    $(this).parents("ul").prev("button").append("<span class='caret'></span>");
  });
