%table.table.table-hover#datatable
  %thead
    %tr
      %th.left Organization
      %th.left Name
      %th.left Address
      %th.left Phone
      %th.left Fax
      %th.left Web Site

      %th.center
              
  %tbody
    - @user_organization_filter.organizations.each do |o|      
      %tr.popup-details{:data => {:action_path => organization_path(o)}}
        %td= o.short_name
        %td= o.name
        %td= format_as_address(o)
        %td= format_as_phone_number(o.phone)
        %td= format_as_phone_number(o.fax)
        %td= format_as_url(o.url)
        %td.center
          %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{o.short_name}", :content => "#{raw render :partial => 'organizations/summary', :locals => {:org => o}}"}}

= render 'shared/datatable_javascript'

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'    
  });  
