.row
  = simple_form_for([current_user, @user_organization_filter], :html => {:id => 'filter_form', :class => 'form-vertical' }, :wrapper => :vertical_form, :wrapper_mappings => {:boolean => :vertical_boolean}) do |f|
    .col-md-6
      = dialog_tag('Details', {:icon => 'fa fa-list', :class => "form-part"}) do
        = f.input :name, :placeholder => "Enter a name for this filter", :required => true
        = f.input :description, :as => :text, :placeholder => "Enter a description for this filter.", :rows => 3, :required => true

        - if can? :share, @user_organization_filter
          .form-group
            = check_box_tag :share_filter, 1, @user_organization_filter.users.count > 1, style: 'margin-left: 10px;'
            Share this filter?

    .col-md-6
      = dialog_tag('Organizations Filter', {:icon => 'fa fa-list', :class => "form-part"}) do

        .form-group.required
          %label.required.control-label
            %abbr{title: 'required'} *
            Organizations
          = f.select(:organization_ids,
                  current_user.viewable_organizations.map{|o| [o.coded_name, o.id]},
                  {:include_blank => true},
                  {multiple: true})

 
    .col-md-12
      - unless current_user.user_organization_filter == @user_organization_filter
        = f.button :submit, "Update Organization Filter", :class => "btn btn-primary"
      = f.button :submit, "Update and Select This Filter", :class => "btn btn-primary"

:javascript

  $(document).ready(function(){
    $(function() {
      $("#user_organization_filter_organization_ids").selectize({
          plugins: ['remove_button'],
          delimiter: ',',
          persist: false,
          create: function(input) {
            return {
                value: input,
                text: input
            }
          }
      });
    });
  });

  $('#filter_form').validate({
    submitHandler: function(form) {
      form.submit();
    }
  });