.row
  = simple_form_for([current_user, @user_organization_filter], :html => {:id => 'filter_form', :class => 'form-vertical' }, :wrapper => :vertical_form, :wrapper_mappings => {:boolean => :vertical_boolean}) do |f|
    .col-md-6
      = dialog_tag('Details', {:icon => 'fa fa-list', :class => "form-part"}) do
        = f.input :name, :placeholder => "Enter a name for this filter", :required => true
        = f.input :description, :as => :text, :placeholder => "Enter a description for this filter.", :rows => 3, :required => true
        = f.input :organization_ids, :as => :hidden

        - if can? :share, @user_organization_filter
          .form-group
            = check_box_tag :share_filter, 1, @user_organization_filter.users.count > 1, style: 'margin-left: 10px;'
            Share this filter?

    .col-md-6
      = dialog_tag('Organizations Filter', {:icon => 'fa fa-list', :class => "form-part"}) do
        #org_select.input-xlarge

 
    .col-md-12
      = f.button :submit, "Update Organization Filter", :class => "btn btn-primary"
      = f.button :submit, "Update and Select This Filter", :class => "btn btn-primary"

= render 'form_scripts'

:javascript

  $('#filter_form').validate({
    ignore: '#user_organization_filter_organization_ids, .filtered, .filter-input',
    submitHandler: function(form) {
      form.submit();
    }
  });

  $('input[name="commit"]').attr('disabled', '#{@user_organization_filter.new_record?}' == 'true');

  $('#org_select').on('click', 'btn', function(){
    if ($('#selected_grantees option').length > 0) {
      $('input[name="commit"]').attr('disabled', false);
    } else {
      $('input[name="commit"]').attr('disabled', true);
    }
  });