:ruby
  table_dom_id = SecureRandom.hex
:css
  table .tooltip .tooltip-arrow {
    display: none !important;
  }

- if show_actions == 1
  #table_actions.btn-group
    = render :partial => "user_organization_filters/index_actions"

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :card_view => "false",
  :pagination => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :show_pagination_switch => 'true',
  :search => 'false',
  :toolbar => "#table_actions",
  :show_columns => 'true',
  :show_export => 'true',
  :show_toggle => 'true',
  :resizable => 'true',
  :search => 'false',
  :state_save => 'true',
  :state_save_id_table => "user_org_filters_id",
  :state_save_expire => "1y"}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false'}} Object Key
      %th.left{:data => {:sortable => 'true', :order => 'desc'}} Name
      %th.left{:data => {:sortable => 'true', :order => 'desc'}} Description
      %th.right{:data => {:sortable => 'true', :order => 'desc'}} Org Count

      %th.left{:data => {:sortable => 'true', :order => 'desc'}} Created By
      %th.right{:data => {:visible => 'false', :sortable => 'true', :order => 'desc'}} Created On
      %th.right{:data => {:visible => 'false', :sortable => 'true', :order => 'desc'}} Last Updated
      %th.center{data: {:sortable => 'true', :order => 'desc', :formatter => 'properties_formatter'}}

  %tbody
    - @user_organization_filters.sorted.each do |f|
      %tr{:id => f.object_key, :class => 'action-path'}
        %td.left= f.object_key
        %td.left= f.name
        %td.left= f.description
        - orgs = f.get_organizations
        %td.right
          = orgs.count
          %a.transam-popover{data: {placement: 'left', toggle: 'popover', html: 'true', content: orgs.map{|o| o.short_name}.join(', ')}, title: 'Organizations', tabindex: '0'}
            %i.fa.fa-info-circle

        %td.left= f.creator
        %td.right= format_as_date_time(f.created_at)
        %td.right= format_as_date_time(f.updated_at)
        %td.center= [(f.system_filter? ? 1 : 0), f.users.count ]

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => user_user_organization_filter_path(current_user, "xxx")}

:javascript

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });

  function properties_formatter(value, data) {
    vals = JSON.parse(value);
    html_str = "";
    if((vals[0] == 1) && (data)) {
      html_str += '<a class="transam-tooltip" data-placement="top" data-title="System executed query" data-toggle="tooltip" tabindex="0" data-original-title="" title=""><i class="fa fa-cog" style="color: green !important;margin-right:10px;"></i></a>';
    }
    if((vals[1] != 1) && (data)) {
      html_str += '<a class="transam-tooltip" data-placement="top" data-title="Shared with '+ vals[1] +' users" data-toggle="tooltip" tabindex="0" data-original-title="" title=""><i class="fa fa-users" style="color: orange !important;"></i></a>';
    }

    return html_str;
  }