- results.each do |a|
  - asset_type = ""
  - if level == 'subtype'
    - assets = Rails.application.config.asset_base_class_name.constantize.operational.where(organization_id: a['organization_id'], asset_subtype_id: a['asset_subtype_id'])
    - url = inventory_index_path(:asset_subtype => a['asset_subtype_id'], :asset_group => 0)
  - else
    - asset_type = a['asset_type_id']
    - assets = Rails.application.config.asset_base_class_name.constantize.operational.where(organization_id: a['organization_id'], asset_subtype_id: AssetSubtype.where(asset_type_id: asset_type).ids)
    - url = inventory_index_path(:asset_type => asset_type, :asset_subtype => 0, :asset_group => 0)

  %tr{data: {org: a['organization_id'], asset_type: asset_type}}
    - if @organization_list.count > 1
      %td.left= "#{a['org_short_name']} #{a['subtype_name']}"
    - else
      %td.left= a['subtype_name']
    %td.right= format_as_decimal((assets.inject(0) { |sum, x| sum += x.age }/assets.count.to_f),1)
    %td.right= a['assets_count']
    %td.right= format_as_currency(a['sum_purchase_cost'])
