%p{:style => 'margin-bottom: 0;'}= "#{label}: #{count}"
.progress{:style => 'margin-bottom: 5px;'}
  .progress-bar{:class => "progress-bar-#{display_class}", :role => "progressbar", :style => "width: #{pcnt}%"}
  