= simple_form_for([@policy, @policy_item],
    :html => {:class => 'form-vertical' },
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|
  .col-md-3
    %fieldset
      %legend Asset Type
      = f.association :asset_subtype

  .col-md-3
    %fieldset
      %legend Service Life
      = f.input :max_service_life_months, :collection => [4, 6, 10, 12, 25, 40], :label_method => {|years| "#{years} yrs"}, :value_method => lambda {|years| years * 12 }
      = f.input :pcnt_residual_value

  .col-md-3  
    %fieldset
      %legend Replacement
      = f.input :replacement_cost
      = f.input :replacement_ali_code
      = f.association :replace_asset_subtype

  .col-md-3  
    %fieldset
      %legend Rehabilitation
      = f.input :rehabilitation_cost
      = f.input :rehabilitation_ali_code
      = f.input :rehabilitation_year
      = f.input :extended_service_life_months

  .col-md-12  
    = f.button :submit, :class => 'btn btn-primary'
