<table id="datatable" class="table table-hover", width="100%">
	<thead>
		<tr>
			<th colspan="2" class="center">Asset Type</th>
			<th colspan="2" class="center">Service Life (yrs.)</th>
			<th colspan="3" class="center">Replace</th>
			<th colspan="4" class="center">Rehabilitate</th>
			<th class="center"></th>

		</tr>
		<tr>
			<th class="left">Class</th>
			<th class="left">Subclass</th>

			<th class="right">Years</th>
			<th class="right">% Resid</th>

			<th class="center">ALI Code</th>
			<th class="left">With</th>
			<th class="right">Avg. Cost</th>			

			<th class="right">In Year</th>
			<th class="center">ALI Code</th>
			<th class="right">Avg. Cost</th>
			<th class="right">Ext Years</th>

			<th class="center">Actions</th>

		</tr>
	</thead>
	<tbody>
		<% @rules.each do |pi| %>
		<tr>
			<td class="left"><%= pi.asset_subtype.asset_type %></td>
			<td class="left"><%= pi.asset_subtype %></td>

			<td class="right"><%= format_as_decimal(pi.max_service_life_years) %></td>
			<td class="right"><%= format_as_percentage(pi.pcnt_residual_value) %></td>

			<td class="center"><%= pi.replacement_ali_code %></td>
			<td class="left"><%= pi.replace_asset_subtype %></td>
			<td class="right"><%= format_as_currency(pi.replacement_cost) %></td>

			<td class="right"><%= format_as_integer(pi.rehabilitation_year) %></td>
			<td class="center"><%= pi.rehabilitation_ali_code %></td>
			<td class="right"><%= format_as_currency(pi.rehabilitation_cost) %></td>
			<td class="right"><%= format_as_decimal(pi.extended_service_life_years) %></td>

            <td class="center">
            	<% if can? :update, @policy %>
	            	<%= link_to policy_policy_item_path(@policy, pi), :method => :delete, :data => {:confirm => "Are you sure? The action cannot be undone!"} do %>
	                	<i class="fa fa-times-circle action-icon text-danger"></i>
	            	<% end %>
	            	<%= link_to edit_policy_policy_item_path(@policy, pi) do %>
	                	<i class="fa fa-edit action-icon text-success"></i>
	            	<% end %>
	            <% end %>
            </td>

		</tr>
		<% end %>
	</tbody>
</table>

<%= render 'shared/datatable_javascript' %>
