<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <NumberFormat ss:Format="&quot;$&quot;#,##0"/>
  </Style>
 </Styles>
  <Worksheet ss:Name="Policy Rules">
    <Table>
		<Column ss:AutoFitWidth="1" ss:Width="81"/>
		<Column ss:AutoFitWidth="1" ss:Width="81"/>

		<Column ss:AutoFitWidth="1" ss:Width="81"/>			
	    <Column ss:AutoFitWidth="1" ss:Width="81"/>
	    
	    <Column ss:AutoFitWidth="1" ss:Width="81"/>
	    <Column ss:AutoFitWidth="1" ss:Width="81"/>
	    <Column ss:AutoFitWidth="1" ss:Width="81"/>
	
	    <Column ss:AutoFitWidth="1" ss:Width="81"/>
	    <Column ss:AutoFitWidth="1" ss:Width="81"/>
	    <Column ss:AutoFitWidth="1" ss:Width="81"/>
		<Column ss:AutoFitWidth="1" ss:Width="81"/>
      <Row>
		<Cell><Data ss:Type="String">Class</Data></Cell>
		<Cell><Data ss:Type="String">Subclass</Data></Cell>

		<Cell><Data ss:Type="String">Years</Data></Cell>
		<Cell><Data ss:Type="String">% Resid</Data></Cell>

		<Cell><Data ss:Type="String">ALI Code</Data></Cell>
		<Cell><Data ss:Type="String">With</Data></Cell>
		<Cell><Data ss:Type="String">Avg. Cost</Data></Cell>

		<Cell><Data ss:Type="String">In Year</Data></Cell>
		<Cell><Data ss:Type="String">Ext Years</Data></Cell>
		<Cell><Data ss:Type="String">ALI Code</Data></Cell>
		<Cell><Data ss:Type="String">Avg. Cost</Data></Cell>
      </Row>
    <% @rules.each do |pi| %>
      <Row>
        <Cell><Data ss:Type="String"><%= pi.asset_subtype.asset_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pi.asset_subtype %></Data></Cell>
        
        <Cell><Data ss:Type="Number"><%= format_as_decimal(pi.max_service_life_years) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= format_as_percentage(pi.pcnt_residual_value) %></Data></Cell>
		
        <Cell><Data ss:Type="String"><%= pi.replacement_ali_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pi.replace_asset_subtype %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= format_as_currency(pi.replacement_cost) %></Data></Cell>

        <Cell><Data ss:Type="Number"><%= format_as_integer(pi.rehabilitation_year) %></Data></Cell>
		<Cell><Data ss:Type="Number"><%= format_as_decimal(pi.extended_service_life_years) %></Data></Cell>
		<Cell><Data ss:Type="String"><%= pi.rehabilitation_ali_code %></Data></Cell>
		<Cell><Data ss:Type="Number"><%= format_as_currency(pi.rehabilitation_cost) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

