%ul.nav.nav-tabs
  %li
    %a{:href => "#service", :data =>{:toggle => 'tab'}}
      = "Services"
  %li
    %a{:href => "#map", :data =>{:toggle => 'tab'}}
      = "Map"
  %li
    %a{:href => "#assets", :data =>{:toggle => 'tab'}}
      = "Asset Summary"
  %li
    %a{:href => "#users", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @org.users.count
      = "Users"

.tab-content
  .tab-pane.fade#service
    .tab-content
      = render 'services'
  .tab-pane.fade#map
    .tab-content
      = render 'map'
  .tab-pane.fade#assets
    .tab-content
      = render 'asset_summary'
  .tab-pane.fade#users
    .tab-content
      = render 'users/index_table'
