<% if @organization.errors.count > 0 %>
<%= render(:partial => 'shared/form_errors', :locals => {:obj => @organization}) %>
<% end%>
<div class="row-fluid">
	<div class="span12">
		<%= simple_form_for(@organization, :html => {:class => 'form-vertical' }) do |f| %>
		<ul class="thumbnails">
			<li class="thumbnail span6">
				<div class="form_part">
					<fieldset>
						<legend>
							Corporate
						</legend>
						<%= f.input :name %>
						<%= f.association :organization_type %>
						<%= f.association :district %>
					</fieldset>
				</div>
			</li>
			<li class="thumbnail span6">
				<div class="form_part">
					<fieldset>
						<legend>
							Contact
						</legend>
						<%= f.input :phone, :as => :tel %>
						<%= f.input :fax, :as => :tel %>
						<%= f.input :url, :as => :url %>
					</fieldset>
				</div>
			</li>

			<li class="thumbnail span6">
				<div class="form_part">
					<fieldset>
						<legend>
							Corporate Address
						</legend>
						<%= f.input :address1 %>
						<%= f.input :address2 %>
						<%= f.input :city %>
						<%= f.input :state %>
						<%= f.input :zip %>
					</fieldset>
				</div>
			</li>

		</ul>
		<% if ! @disabled %>
		<div class="form-actions">
			<%= f.button :submit %>
			<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	fix_thumbnail_margins(6);

	enable_date_pickers();

	make_same_height('.form_part');

	//make_same_height('.header_part');

</script>

