<div class="row-fluid">
	<%= simple_form_for(@organization, :html => {:class => 'form-vertical span12' }, :defaults => {:disabled => @disabled }) do |f| %>
	<div class="row-fluid">
		<ul class="thumbnails">
			<%= panel_tag('Corporate', {:icon => 'fa fa-book', :class => "span6 form_part"}) do %>
				<%= f.input :name %>
				<%= f.input :short_name %>
				<%= f.association :organization_type %>
				<%= f.association :district %>
				<%= f.input :external_id, :placeholder => "External id..." %>
			<% end %>
			<%= panel_tag('Contact', {:icon => 'fa fa-book', :class => "span6 form_part"}) do %>
				<%= f.input :phone, :as => :tel %>
				<%= f.input :fax, :as => :tel %>
				<%= f.input :address1 %>
				<%= f.input :address2 %>
				<%= f.input :city %>
				<%= f.input :state, :as => :select, :collection => Country['US'].states %>
				<%= f.input :zip %>
				<%= f.input :url, :as => :url %>
			<% end %>
		</ul>
	</div>
	<% if ! @disabled %>
	<div class="form-actions">
		<%= f.button :submit %>
		<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
	</div>
	<% end %>
	<% end %>
</div>
