- OrganizationType.all.each do |org_type|
  - if org_type.class_name.constantize.createable?
    .btn-group{:role => 'group', :style => 'margin-left: 0!important;'}
      = link_to new_organization_path(:organization_type_id => org_type.id), :role => 'button', :class => 'btn btn-default' do
        %i.fa.fa-plus.fa-fw
        = " New #{org_type}"
.btn-group{:role => 'group', :style => 'margin-left: 0!important;'}
  %button.btn.btn-default.dropdown-toggle{:data => {:toggle => 'dropdown'}, :aria => {:exapanded => 'false'}}
    Agency Type
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    %li
      = link_to "All types", organizations_path
    %li.divider
    - OrganizationType.all.each do |org_type|
      %li
        = link_to org_type.name, organizations_path(:organization_type_id => org_type.id)
