:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'B:AHs',
  :card_view => "false",
  :pagination => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :show_pagination_switch => 'true',
  :search => 'false',
  :show_columns => 'true',
  :show_export => 'true',
  :show_toggle => 'true',
  :resizable => 'true',
  :search => 'false'}}
  %thead
    %tr
      %th.left Organization
      %th.left Name
      %th.left.nowrap Type
      %th.left Address
      %th.left.nowrap Phone
      %th.left Ext
      %th.left.nowrap Fax
      %th.left Web Site

      %th.center

  %tbody
    - @organizations.each do |o|
      %tr.popup-details{:data => {:action_path => organization_path(o)}}
        %td= o.short_name
        %td= o.name
        %td= o.organization_type.name
        %td= format_as_address(o)
        %td= format_as_phone_number(o.phone)
        %td= o.phone_ext
        %td= format_as_phone_number(o.fax)
        %td= format_as_url(o.url)
        %td.center
          = popover_tag("", {:placement => 'auto left', :icon => 'fa-info-circle', :title => o.short_name, :content => render(:partial => 'organizations/table_summary', :locals => {:org => o}).html_safe})

:javascript

  $(document).ready(function() {

    $('[data-toggle="popover"]').popover();

  });

  $(window).resize(function() {
    $("##{table_dom_id}").bootstrapTable('resetView');
  });
