<div class="row">
	<div class="col-md-12">
		<table id="datatable" class="table table-condensed table-striped table-hover table-bordered">
			<thead>
				<th>Organization</th>
				<th>Type</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Web Site</th>
			</thead>
			<tbody>
				<% @organizations.each do |org| %>
				<tr data-action-path = '<%= organization_path(org) %>'>
					<td class="left"><%= org.name %></td>
					<td class="left"><%= org.organization_type.name %></td>
					<td class="left"><%= format_as_address(org) %></td>
					<td class="right nowrap"><%= format_as_phone_number(org.phone) %></td>
					<td class="left"><%= format_as_url(org.url) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= render 'shared/datatable_javascript' %>
