<div class="row">
	<% @organizations.each do |organization| %>
		<%= action_thumbnail_tag({:class => "col-md-3", :icon => organization.organization_type.display_icon_name, :title => organization.short_name, :path => organization_path(organization)}) do %>
			<%= content_tag "p" do %>
				<%= content_tag "strong", organization.name %>
			<% end %>
			<%= content_tag "address" do %>
				<%= format_as_address(organization) %>
				<abbr title="Phone">P:</abbr> <%= format_as_phone_number(organization.phone) %>
			<% end %>
		<% end %>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">

	$(document).ready(function() {
		transam.make_same_height('address');
	});
		
</script>
