<div class="row">
	<% @organizations.each do |organization| %>
		<%= action_thumbnail_tag({:class => "col-md-3", :icon => organization.organization_type.display_icon_name, :title => organization.name, :path => organization_path(organization)}) do %>
			<%= content_tag "p", organization.organization_type.name %>
			<%= content_tag "address" do %>
				<%= format_as_address(organization) %>
				<abbr title="Phone">P:</abbr> <%= format_as_phone_number(organization.phone) %>
			<% end %>
		<% end %>
	<% end %>
</div>

<%= render 'scripts' %>
