:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

- if show_actions == 1
  #table_actions.btn-group
    = render :partial => "organizations/index_actions"

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :toolbar => "#table_actions",
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_toggle => 'true',
  :cookie => 'true',
  :cookie_id_table => "organizationsid",
  :cookie_expire => "1y"}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} Id
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} External Id
      %th.left{:data => {:sortable => 'true'}} Acronym
      %th.left{:data => {:sortable => 'true'}} Name
      %th.left{:data => {:sortable => 'true'}} Organization Type
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} Organization Structure
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} Country
      %th.left{:data => {:sortable => 'true'}} Address 1
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} Address 2
      %th.left{:data => {:visible => 'false', :sortable => 'true'}} County
      %th.left{:data => {:sortable => 'true'}} City
      %th.left{:data => {:sortable => 'true'}} State
      %th.left{:data => {:sortable => 'true'}} Zip
      %th.left.nowrap{:data => {:sortable => 'true'}} Phone
      %th.left{:data => {:sortable => 'true'}} Ext.
      %th.left{:data => {:sortable => 'true'}} Website
      %th.left{:data => {:sortable => 'true'}} Status
  %tbody
    - organizations.each do |o|
      %tr
        %td= o.id
        %td= o.external_id
        %td= link_to o.short_name, organization_path(o), {:style => 'text-decoration: underline'}
        %td= o.name
        %td= o.organization_type
        %td= FtaAgencyType.find(o.fta_agency_type_id).to_s
        %td= o.country
        %td= o.address1
        %td= o.address2
        %td= o.county
        %td= o.city
        %td= o.state
        %td= o.zip
        %td= format_as_phone_number(o.phone)
        %td= o.phone_ext
        %td= format_as_url(o.url)
        %td= o.active ? 'Active' : 'Inactive'

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => organization_path("xxx")}
