<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<%= form_tag organizations_path, :id => 'organizations_filter_form', :method => "get", :class => 'navbar-form  navbar-left' do %>
					<div class="form-group">
						<span class="form-group-addon">Show</span>
						<%= select_tag(:filter, options_for_select(OrganizationType.all.collect{|a| [a.name, a.id]}, :selected => @filter), :prompt => 'All', :class => "form-control", :id => 'organization_filter_type') %>
					</div>
				<% end %>
				<ul class="nav navbar-nav">

					<li class="<%= get_nav_link_class('bpt_organizations', OrganizationsController::SESSION_VIEW_TYPE_VAR, OrganizationsController::VIEW_TYPE_LIST) %>">
						<%= link_to organizations_path(:view_type => OrganizationsController::VIEW_TYPE_LIST) do %>
						<i class="fa fa-th-large"></i> List View
						<% end %>
					</li>
					<li class="<%= get_nav_link_class('bpt_organizations', OrganizationsController::SESSION_VIEW_TYPE_VAR, OrganizationsController::VIEW_TYPE_TABLE) %>">
						<%= link_to organizations_path(:view_type => OrganizationsController::VIEW_TYPE_TABLE) do %>
						<i class="fa fa-list-alt"></i> Table View
						<% end %>
					</li>
					<li class="<%= get_nav_link_class('bpt_organizations', OrganizationsController::SESSION_VIEW_TYPE_VAR, OrganizationsController::VIEW_TYPE_MAP) %>">
						<%= link_to organizations_path(:view_type => OrganizationsController::VIEW_TYPE_MAP) do %>
						<i class="fa fa-globe"></i> Map View
						<% end %>
					</li>
				</ul>
				<%= form_tag organizations_path, :id => 'organizations_search_form', :method => "get", :role => "search", :class => 'navbar-form navbar-right' do %>
					<%= hidden_field_tag :filter, @filter %>
					<div class="input-group" style="width:200px;">
						<div class="input-group-btn search-panel">
				            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				            	<span id="search_concept"><%= @search_param.blank? ? "Filter By" : @search_param %></span> <span class="caret"></span>
				            </button>
				            <ul class="dropdown-menu" role="menu">
				              <li><a href="#equals">Equals</a></li>
				              <li><a href="#contains">Contains</a></li>
				              <li><a href="#starts_with">Starts With</a></li>
				              <li><a href="#ends_with">Ends With</a></li>
				            </ul>
			            </div>
        				<input type="hidden" name="search_param" value="<%= @search_param %>" id="search_param">
						<%= text_field_tag :search_text, @search_text, :class => "form-control", :placeholder => "Filter text...", :style => "width:200px;" %>
			            <span class="input-group-btn">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</span>
					</div>
				<% end %>
			</div>
		</nav>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

	// Add a listener on the asset type filter that submits the form when changed
	$('#organization_filter_type').change(function() {
		$('#organizations_filter_form').submit();
	});

</script>
