<%= sub_nav_tag({}) do %>
	<li>
		<%= link_to organizations_path do %> <i class="fa fa-building-o"></i> My Organizations
		<% end %>
	</li>
	<li>
		<%= link_to users_path do %>
		<i class="fa fa-group"></i> <%= "Users (#{@organization.users.count})"%>
		<% end %>
	</li>
	<li>
		<%= link_to map_organization_path(@organization) do %>
		<i class="fa fa-globe"></i> Map
		<% end %>
	</li>
<% end %>
