<div data-action-path = '<%= organization_path(organization) %>' %>
	<div class="well well-small">
		<div class="caption">
			<i class="fa fa-building-o fa-3x pull-left"></i> <h4><%= organization.name %></h4>
		</div>
		<%= content_tag "address" do %>
			<%= format_as_address(organization) %>
			<%= format_as_phone(organization.phone) %>
		<% end %>
	</div>    	
</div>
