.row
  .col-xs-12
    .col-xs-6
      %fieldset
        %legend.panel-legend Details
        = format_field("Type", org.organization_type.name )
        = format_field("Name", org.name )
        = format_field("Short Name", org.short_name )
        = format_field("External ID", org.external_id ) unless org.phone_ext.blank?
    .col-xs-6
      %fieldset
        %legend.panel-legend Contact
        = format_field("Address", format_as_address(org) )
        = format_field("Phone", format_as_phone_number(org.phone) )
        = format_field("Phone Ext", org.phone_ext ) unless org.phone_ext.blank?
        = format_field("Fax", format_as_phone_number(org.fax) ) unless org.phone_ext.blank?
