:css 
  .filter-details-panel .panel{
    height: 250px;
  }
  .filter-details-panel .panel-body {
    max-height: 200px;
    overflow: auto;
    height: 100%;
  }

.filter-details-panel.col-sm-4.col-md-3{data: {filter_id: @query_filter.try(:id), pairs_with_filter_id: @pairs_with_filter.try(:id),field_id: @query_field.id, category_id: @query_field.query_category_id}}
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        %i.fa.fa-filter
        = @query_field.label
        .pull-right
          %i.fa.fa-close.remove-filter-details{title: 'Remove filter'}
    .panel-body
      .row.col-sm-12
        - if lookup_context.template_exists?("#{@query_field.name}", "query_filters/filter_forms", true)
          = "query_filters/filter_forms/#{@query_field.name}"
          = render "query_filters/filter_forms/#{@query_field.name}"

        - else
          - if @query_field.filter_type.blank?
            = render 'query_filters/filter_forms/default'
          - else
            = render "query_filters/filter_forms/#{@query_field.filter_type}"

      
