<div class="row-fluid">
	<div class="span12">
		<ul class="thumbnails">
			<% @uploads.each do |upload| %>
				<%= action_thumbnail_tag({:class => 'span3 doc_thumbnail', :icon => "fa fa-upload", :title => upload.original_filename, :path => upload_path(upload)}) do %>
					<%= content_tag "address" do %>
					<% end %>
					<%= format_field("File Status", upload.file_status_type.name) %>
					<%= format_field("Num. rows processed", format_as_integer(upload.num_rows_processed)) %>
					<%= format_field("Num. rows added", format_as_integer(upload.num_rows_added)) %>
					<%= format_field("Num. rows skipped", format_as_integer(upload.num_rows_skipped)) %>
					<%= format_field("Num. rows replaced", format_as_integer(upload.num_rows_replaced)) %>
					<%= format_field("Num. rows failed", format_as_integer(upload.num_rows_failed)) %>
					<%= format_field("Total Processing Time", format_as_integer((upload.processing_completed_at - upload.processing_started_at)/60)) %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {

		transam.fix_thumbnail_margins(3, 'doc_thumbnail');
		transam.make_same_height('.doc_thumbnail');
	});

</script>
