<div class="row">
	<div class="col-md-12">
		<ul>
			<% @uploads.each do |upload| %>
				<div class="col-md-3">
					<%= action_thumbnail_tag({:class => 'doc_thumbnail', :icon => "fa fa-upload", :title => upload.original_filename, :path => upload_path(upload)}) do %>
						<dl class="dl-horizontal thumbnail-list">
							<dt>Content:</dt>
							<dd><%= upload.file_content_type %></dd>
							<dt>Status:</dt>
							<dd><%= upload.file_status_type %></dd>
							<dt>Loaded by:</dt>
							<dd><%= upload.user.name %></dd>
							<dt>Loaded on:</dt>
							<dd><%= format_as_date(upload.created_at) %></dd>
						</dl>
					<% end %>
				</div>
			<% end %>
		</ul>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {

		transam.fix_thumbnail_margins(3, 'doc_thumbnail');
		transam.make_same_height('.doc_thumbnail');
	});

</script>
