:ruby
  table_dom_id = SecureRandom.hex

%table.table.table-hover{:id => table_dom_id}
  %thead
    %th.left Agency
    %th.left File Name
    %th.right Content
    %th.right Loaded By
    %th.right Status
    %th.right Loaded On
  %tbody
    - @uploads.each do |f|
      %tr{:data => {:action_path => "#{upload_path(f)}"}}
        %td.left= f.organization.short_name
        %td.left= f.original_filename
        %td.right= f.file_content_type
        %td.right= f.user.name
        %td.right= f.file_status_type
        %td.right= format_as_date_time(f.created_at)

- if @uploads.count > current_user.num_table_rows
  = render :partial => 'shared/datatable_javascript', :locals => {:id => table_dom_id}
