= format_field("Name", upload.original_filename )
= format_field("Content", upload.file_content_type )
= format_field("Uploaded By", upload.user )
= format_field("Upload Time", format_as_date_time(upload.created_at) )
= format_field("Status", format_as_label(upload.file_status_type ))
