<div class="row">
	<%= simple_form_for(:template_proxy, :url => create_template_uploads_url, :id => 'template_form', :method => "post", :html => {:class => 'form-horizontal'}, :wrapper => :horizontal_form, :wrapper_mappings => {:check_boxes => :horizontal_radio_and_checkboxes}) do |f| %>
		<div class="col-md-6 col-md-offset-3">
			<%= dialog_tag('Select Template and Asset Type', {:icon => 'fa fa-upload', :class => "header_part"}) do %>	
				<%= f.input :file_content_type_id, :collection => FileContentType.all, :include_blank => false, :label => "File Content Type" %>
				<div id="asset_type_input">	
					<%= f.input :asset_types, :collection => @asset_types, :as => :check_boxes, :label => "Asset Types" %>	
				</div>
			<% end %>
			<div class="col-md-12">
				<%= f.button :submit, 'Download Template', :class => 'btn btn-primary' %>
				<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn btn-warning" %>
			</div>			
		</div>
	<% end %>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		// Hide the asset type div when the page is loaded
		$('#asset_type_input').hide();
		
		// Install a change handler to unhide the div if the user selects other than
		// the new inventory selector
		$('#template_proxy_file_content_type_id').change(function() {
			var val = this.value;
			if (val == 1) {
				// Hide the other input
				$('#asset_type_input').hide();
			} else {
				// Unhide id
				$('#asset_type_input').show();
			}
		});
	});
		
</script>
