<div class="row">
	<div class="col-md-12">
		<ul>
			<div class="col-md-8 col-md-offset-2">
				<%= dialog_tag('Select Template and Asset Type', {:icon => 'icon-upload', :class => "header_part"}) do %>	
					<%= simple_form_for(:template_proxy, :url => create_template_uploads_url, :id => 'template_form', :method => "post", :html => {:class => 'form-horizontal'}) do |f| %>
						<div class="col-md-9 col-md-offset-3">
							<%= f.input :file_content_type_id, :collection => FileContentType.all, :include_blank => false %>
							<div id="asset_type_input">	
								<%= f.input :asset_types, :collection => @asset_types, :as => :check_boxes %>	
							</div>
							<div class="form-actions panel-form-actions">
	    					<%= f.button :submit, 'Download Template', :class => 'btn' %>
								<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
							</div>		
						</div>		
					<% end %>
				<% end %>
			</div>
		</ul>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		// Hide the asset type div when the page is loaded
		$('#asset_type_input').hide();
		
		// Install a change handler to unhide the div if the user selects other than
		// the new inventory selector
		$('#template_proxy_file_content_type_id').change(function() {
			var val = this.value;
			if (val == 1) {
				// Hide the other input
				$('#asset_type_input').hide();
			} else {
				// Unhide id
				$('#asset_type_input').show();
			}
		});
	});
		
</script>
