= dialog_tag('Select Template and Asset Type', {:icon => 'fa fa-download', :class => "header-part"}) do
  = simple_form_for(:template_proxy,
    :url => create_template_uploads_url,                                                                                                                                                  :html => {:id => 'template_form', :class => 'form-vertical' },                                                                                                                        :wrapper => :vertical_form,                                                                                                                                                           :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

    - if current_user.organizations.count > 1
      .col-sm-6
        = f.input :organization_id, :collection => Organization.where(id: @organization_list), :label_method => 'coded_name', :required => true
    .col-sm-6
      = f.input :file_content_type_id, :collection => FileContentType.active, :include_blank => false, :label => "Template Type"
    .col-sm-6
      = f.input :asset_type_id, :collection => @asset_types, :label => "Asset Type", :include_blank => false
    .col-sm-6
      = f.button :submit, 'Create template', :class => 'btn btn-primary'
