<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= simple_form_for(@upload, :html => {:multipart => true, :class => 'form-horizontal' }) do |f| %>
			<ul>
				<%= dialog_tag('File', {:icon => 'fa fa-upload', :class => "header_part"}) do %>	
					<%= f.input :file, :label => 'Spreadsheet' %>
					<%= f.association :file_content_type, :label => 'Spreadsheet content' %>
					<%= f.input :force_update, :as => :boolean %>
					<div class="form-actions panel-form-actions">
						<%= f.button :submit %>
						<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
					</div>	
				<% end %>
			</ul>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	
	var max_file_size_mb = <%= Rails.application.config.max_upload_file_size %>;

	$(document).ready(function() {
		// Insert a change listener to validate the file size before uplaoding.
		$('#upload_file').change(function() {
			transam.validate_file_size(this, max_file_size_mb);
		});			
	});

		
</script>
