<div class="row-fluid">
	<div class="span12">
		<%= simple_form_for(@upload, :html => {:multipart => true, :class => 'form-horizontal' }) do |f| %>
		<ul class="thumbnails">
			<%= panel_tag('File', {:icon => 'fa fa-upload', :class => "span8 offset2"}) do %>		
				<%= f.association :organization, :label_method => 'coded_name' if current_user.has_role? :admin %>	
				<%= f.input :file, :label => 'Select your inventory spreadsheet...' %>
				<%= f.association :file_content_type, :label => 'Spreadsheet content...' %>
				<%= f.input :force_update %>
				<div class="form-actions panel-form-actions">
					<%= f.button :submit %>
					<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
				</div>				
			<% end %>
		</ul>
		 <% end %>
	</div>
</div>
