<%= render 'subnav' %>

<div class="row-fluid">
	<div class="span12">
		<ul class="thumbnails">
			<%= panel_tag('Spreadsheet', {:icon => "fa fa-upload", :class => "header_part span6"}) do %>
				<%= format_field("Name", @upload.original_filename ) %>
				<%= format_field("Content", @upload.file_content_type.name ) %>						
				<%= format_field("Force", format_as_boolean(@upload.force_update)) %>						
				<%= format_field("Uploaded by", @upload.user.name ) %>
				<%= format_field("Upload time", format_as_date_time(@upload.created_at) ) %>
				<%= format_field("Status", @upload.file_status_type.name ) %>
			<% end %>
			<%= panel_tag('Processing', {:icon => "fa fa-upload", :class => "header_part span6"}) do %>
				<%= format_field("Time Started", format_as_date_time(@upload.processing_started_at) ) %>
				<%= format_field("Time Complete", format_as_date_time(@upload.processing_completed_at) ) %>
				<%= format_field("Num rows processed", format_as_integer(@upload.num_rows_processed) ) %>
				<%= format_field("Num rows added", format_as_integer(@upload.num_rows_added) ) %>
				<%= format_field("Num rows skipped", format_as_integer(@upload.num_rows_skipped) ) %>
				<%= format_field("Num rows replaced", format_as_integer(@upload.num_rows_replaced) ) %>
				<%= format_field("Num rows failed", format_as_integer(@upload.num_rows_failed) ) %>
			<% end %>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<fieldset>
			<legend>Processing Log</legend>
			<div class="processing_log">
				<%= @upload.processing_log.html_safe unless @upload.processing_log.blank? %>
			</div>
		</fieldset>
	</div>
</div>

<%= render 'scripts' %>
