.row
  .col-sm-12.col-lg-3
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-6
            %h3.panel-title
              %i.fa.fa-clipboard
              = @activity
          .col-sm-6
            = render 'actions'
      .panel-body
        = render :partial => 'summary', :locals => {:activity => @activity}

  .col-sm-12.col-lg-9
    = render 'details'

= render 'scripts'
