%h1 Listing full_text_search_indices

%table
  %thead
    %tr
      %th Object key
      %th Search text
      %th
      %th
      %th
      
  %tbody
    - @full_text_search_indices.each do |full_text_search_index|
      %tr
        %td= full_text_search_index.object_key
        %td= full_text_search_index.search_text
        %td= link_to 'Show', full_text_search_index
        %td= link_to 'Edit', edit_full_text_search_index_path(full_text_search_index)
        %td= link_to 'Destroy', full_text_search_index, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Full text search index', new_full_text_search_index_path
