:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0

- if show_actions == 1
  #table_actions.btn-group
    = render :partial => "manufacturers/index_actions"

%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
  :pagination => 'true',
  :show_pagination_switch => 'true',
  :page_list => "[5, 10, 20, 50, 100, 200]",
  :page_size => current_user.num_table_rows,
  :search => 'false',
  :export_types => "['csv', 'txt', 'excel']",
  :show_export => 'true',
  :show_columns => 'true',
  :show_toggle => 'true'}}
  %thead
    %tr
      %th.left{:data => {:visible => 'false'}} Id
      %th.left{:data => {:sortable => 'true'}} Name
      %th.left{:data => {:sortable => 'true'}} Code
      %th.left{:data => {:sortable => 'true'}} Type
      %th.right{:data => {:sortable => 'true'}} Num Assets

  %tbody
    - @manufacturers.each do |m|
      %tr{:id => m.id, :class => 'action-path'}
        %td.left= m.id
        %td.left= m.name
        %td.left= m.code
        %td.left= m.filter
        %td.right= format_as_integer(m.asset_count(@organization))

:javascript

  $('##{table_dom_id}').on('post-body.bs.table', function() {
    $('.fixed-table-container').css('min-height', '300px')
  });

  $(window).resize(function() {
    $("##{table_dom_id}").bootstrapTable('resetView');
  });
