<div class="row">
	<div class="well well-small col-md-12">
		<div id='<%= "chart_#{@report.id}" %>'></div>
	</div>
</div>

<%= render 'generic_report_table' %>

<script type="text/javascript">


	google.load("visualization", "1", {
		packages : ["corechart"]
	});

	function <%= "chart_func_#{@report.id}" %>() {
		
		var div_id = '<%= "chart_#{@report.id}" %>';
		var chart_type = '<%= @report.chart_type %>';
 		var report_chart_options = <%= @report.chart_options %>;
		var chart_options = $.extend({}, report_chart_options, {height: 300}); 

		var chart_data = new google.visualization.DataTable();
		chart_data.addColumn('string', '<%= @data[:labels].first %>');
		<% @data[:labels].last(@data[:labels].length - 1).each do |col| %>
		chart_data.addColumn('number', '<%= col %>');
		<% end %>
		<% @data[:data].each do |row| %>
		chart_data.addRow(<%= raw row.to_json %>);
		<% end %>
		
		// Draw it
		transam.draw_chart(div_id, chart_type, chart_options, chart_data);		
	};
	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(<%= "chart_func_#{@report.id}" %>);

	// Handle the resize event and make sure the chart is redrawn for the new size
	window.onresize = function() {
		<%= "chart_func_#{@report.id}" %>();
	};

</script>

