<div class="row-fluid">
	<div class="well well-small span12">
		<div id='<%= "chart_#{report.id}" %>'></div>
	</div>
</div>

<%= unless @chart_only == false %>
	<div class="row-fluid">
		<div class="span12">
			<table class="table table-condensed table-striped table-hover table-bordered">
				<thead>
					<tr>
						<% @data[:labels].each do |col| %>
						<th><%= col %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<% @data[:data].each do |row| %>
					<tr>
						<% row.each do |col| %>
						<td><%= col %></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>

<script type="text/javascript">

	google.load("visualization", "1", {
		packages : ["corechart"]
	});

	var data = <%= @data.to_json %>
	
	var <%= "chart_data_#{report.id}" %> = new google.visualization.DataTable();
	<%= "chart_data_#{report.id}" %>.addColumn('string', '<%= @data[:labels].first %>');
	<% @data[:labels].last(@data[:labels].length - 1).each do |col| %>
	<%= "chart_data_#{report.id}" %>.addColumn('number', '<%= col %>');
	<% end %>
	<% @data[:data].each do |row| %>
	<%= "chart_data_#{report.id}" %>.addRow(<%= raw row.to_json %>);
	<% end %>
	var <%= "chart_options_#{report.id}" %> = {
			is3D : true,
			height : 300
		};

	$(document).ready(function() {
		transam.draw_chart('<%= "chart_#{report.id}" %>', 'pie', <%= "chart_options_#{report.id}" %>, <%= "chart_data_#{report.id}" %>);
	});
	
	// Handle the resize event and make sure the chart is redrawn for the new size
	window.onresize = function() {
		transam.draw_chart('<%= "chart_#{report.id}" %>', 'pie', <%= "chart_options_#{report.id}" %>, <%= "chart_data_#{report.id}" %>);
	};

</script>

