%table.table.table-hover
	%thead
		%tr
			%th.left.nowrap Issue Type
			%th.left.nowrap Reported On
			%th.left.nowrap Reported By
			%th.left.nowrap User Org
			%th.left.nowrap User Email
			%th.left.nowrap Browser Type
			%th.left Comment
		%tbody
			- @data.each do |issue|
				%tr
					%td.left= issue.issue_type
					%td.left= format_as_date_time(issue.created_at)
					%td.left= issue.creator
					%td.left= issue.creator.organization
					%td.left= issue.creator.email
					%td.left= issue.web_browser_type
					%td.left= issue.comments.html_safe
