%table.table.table-hover
	%thead
		%tr
			%th.left.nowrap Org
			%th.left.nowrap First Name
			%th.left.nowrap Last Name
			%th.right.nowrap Num Logins
			%th.right.nowrap Last Login
			%th.right.nowrap Acct Locked On
		%tbody
			- @data[:data].each do |user|
				%tr
					%td.left= user[0]
					%td.left= user[1]
					%td.left= user[2]
					%td.right= format_as_integer(user[3])
					%td.right= format_as_date_time(user[4])
					%td.right= format_as_date_time(user[5])
