.row
  .col-md-12
    .page-header
      %h1= @report.name

- if lookup_context.template_exists?("#{@report_view}_actions", 'reports', true)
  %nav.navbar.navbar-default
    .container-fluid
      .collapse.navbar-collapse
        = render :partial => "#{@report_view}_actions"

.row
  .col-md-12
    = render @report_view
