<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= app_title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
		<![endif]-->

      	<%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.4/leaflet.js" %>
      	<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.2&sensor=false" %>
      	<%= javascript_include_tag "https://www.google.com/jsapi" %>
		<%= javascript_include_tag "application" %>

		<!-- HTML5 shim, for IE8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->


		<%= csrf_meta_tags %>
	</head>
	<body>

		<!-- Header -->
		<nav class="navbar navbar-fixed-top navbar-inverse" style="z-index:1033" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to app_title, "/", :class => "navbar-brand" %>
				</div>
				<div class="navbar-header navbar-right">
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-user"></i> <%= current_user.name %>
								<b class="caret"></b>
							</a>
							<%= render '/shared/user_menu' %>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Main Nav -->
		<nav class="navbar center navbar-default navbar-fixed-top main-nav" style="margin-top:40px;">
			<div class="container-fluid">
				<%= render 'shared/nav' %>							
			</div>
		</nav>
		<!-- Begin page content -->
		<div id="view" class="container-fluid">
			<!-- Main Page Content -->
			<%= render 'shared/page_header' %>
			<%= render 'shared/messages' %>
			<%= yield %>
		</div>

		<div id="footer" class="footer">
			<%= render 'shared/footer' %>
		</div>
		<!-- push the java script to the bottom so the page loads faster -->
		<%= render 'shared/javascript' %>
	</body>
</html>
