<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= app_title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
		<![endif]-->

		<%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.4/leaflet.js" %>
		<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.2&sensor=false" %>
		<%= javascript_include_tag "https://www.google.com/jsapi" %>
		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
		<![endif]-->
	</head>
  
	<body>
		<!-- Wrap all page content here -->
		<div id="wrap">
			<div id="view" class="container-fluid clear-top" style="padding-top: 40px;">
				<!-- Header -->
				<div class="navbar navbar-fixed-top center">
					<div class="navbar-inner">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<%= link_to app_title, "/", :class => "brand" %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Begin page content -->
				<div class="container-fluid" style="margin-top:60px">
					<div class="row">
						<div class="col-md-12">
							<div class="hero-unit text-center">
								<%= yield %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%= render 'shared/footer' %>
		<!-- push the java script to the bottom so the page loads faster -->
		<%= render 'shared/javascript' %>

	</body>
</html>
