<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= app_title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

		<!-- HTML5 shim, for IE8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<%= csrf_meta_tags %>
	</head>

	<body>

		<!-- Header -->
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to app_title, "/", :class => "navbar-brand" %>
				</div>
			</div>
		</nav>
		<!-- Begin page content -->
		<div id="view" class="container-fluid">
			<div class="jumbotron text-center">
				<%= yield %>
			</div>
		</div>

		<div id="footer" class="footer">
			<%= render 'shared/footer' %>
		</div>
		<!-- push the java script to the bottom so the page loads faster -->
		<%= render 'shared/javascript' %>

	</body>
</html>
