<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= app_title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    "application", :media => "all" %>

		<%= javascript_include_tag "application" %>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Header -->
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to app_title, "/", :class => "navbar-brand" %>
				</div>
				<%= yield %>
			</div>
		</nav>
		<!-- Begin page content -->
		<div id="view" class="container-fluid" style="margin-top:-60px">
			<div class="row">
				<div class="col-md-12" style="margin-top:20px;">
					<% flash.each do |type, message| %>
						<% if type == :success || type == :alert %>
							<%= content_tag :div, message, :class => "alert fade in #{bootstrap_class_for(type)}" unless message.blank? %>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
				<%= image_tag "logo.png", :class => "image pull-left", :style => "margin-left:-50px;height:300px;width:300px;"%>
				<h1 class="text-center" style="margin-left:320px;"><%= app_title %></h1>
				<div class="text-center" style="margin-left:320px;padding-top:20px;">
					<%= credits %>
				</div>
				</div>
			</div>

			<div class="container">
				<%= render 'shared/marketing' %>
			</div>
		</div>

		<script type="text/javascript">

			$(document).ready(function() {
				transam.make_same_height('.content-body');
			});

		</script>

		<div id="footer" class="footer">
			<%= render 'shared/footer' %>
		</div>
		<!-- push the java script to the bottom so the page loads faster -->
		<%= render 'shared/javascript' %>
		
	</body>
</html>
