<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= app_title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style>
			.navbar {
			    margin: 0;
			    border-radius: 0;
			    border-width: 0 0 1px;
			}
			#view  {
				margin: 0;
				padding: 0;
			}
			.login-banner {
				position: relative;
				width: 100%;
				height: 50vw;
			}
			.login-banner img {
				width: 100%;
				height: auto;
			}
			h1.app-title {
				position: absolute;
				left: 0;
				top: 1rem;
				color: #fff;
				z-index: 100;
				background-color: #17406E;
				background-color: rgba(23,64,110,.8);
				font-size: 2em;
				margin: 0;
				padding: .5em 1em;
				width: 50vw;
				text-shadow: 0 0 8px rgba(0,0,0,.5)
			}
			.login-area {
				position: absolute;
				right: 0;
				top: 0;
				width: 50vw;
				height: 100%;
				background-color: #fff;
				background-color: rgba(255,255,255,.5);
				padding: 1rem;
			}
			.login-panel {
				position: static;
				width: 100%;
				min-width: auto;
				margin: 0;
			}
			@media screen and (min-width: 800px) {
				
				.login-area {
					width: 25vw;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: stretch;
					-ms-flex-align: stretch;
					align-items: stretch;
				}
				.login-banner img {
					position: absolute;
					left: 0;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					width: 100%;
					height: auto;
				}
				.login-banner {
					height: 240px;
					overflow: hidden;
				}
				h1.app-title {
					width: 75vw;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			}
		</style>
	
	</head>
	<body>

		<!-- Header -->
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="credits pull-right">
					<p class="navbar-text"><%= credits %></p>
				</div>
			</div>
		</nav>
		<!-- Begin page content -->
		<div id="view" class="container-fluid">
			<div class="login-banner">
				<h1 class="app-title"><%= app_title%></h1>

				<%= image_tag "transam_transit_banner.jpg", :class => 'img-responsive login-banner' %>

				<div class="login-area">
					<%= yield %>
				</div>
			</div>

			<div class="container">
				<%= render 'shared/marketing' %>
			</div>
		</div>

		<footer class="footer">
			<%= render 'shared/footer' %>
		</div>
	</body>
</html>


