<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= app_title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
		<![endif]-->

      	<%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.4/leaflet.js" %>
      	<%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.2&sensor=false" %>
      	<%= javascript_include_tag "https://www.google.com/jsapi" %>
		<%= javascript_include_tag "application" %>

		<!-- HTML5 shim, for IE8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->


		<%= csrf_meta_tags %>
	</head>
	<body>

		<!-- Header -->
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to app_title, "/", :class => "navbar-brand" %>
				</div>
				<%= yield %>
			</div>
		</nav>
		<!-- Begin page content -->
		<div id="view" class="container-fluid" style="margin-top:-60px">
			<div class="row">
				<div class="col-md-12" style="margin-top:20px;">
					<% flash.each do |type, message| %>
						<% if type == :success || type == :alert %>
							<%= content_tag :div, message, :class => "alert fade in #{bootstrap_class_for(type)}" unless message.blank? %>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
				<%= image_tag "logo.png", :class => "image pull-left", :style => "margin-left:-50px;height:300px;width:300px;"%>
				<h1 class="text-center" style="margin-left:320px;"><%= app_title %></h1>
				<div class="text-center" style="margin-left:320px;padding-top:20px;">
					<%= credits %>
				</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center">
						<span class="fa-stack fa-5x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
						</span>									
						<p class="lead">About TransAM</p>
						<p class="content-body">Yada yda yada, lorem ipsum etc.</p>
						<a class="btn btn-primary" href="#" role="button">Learn more &raquo;</a>
					</div>
					<div class="col-md-4 text-center">
						<span class="fa-stack fa-5x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
						</span>									
						<p class="lead">System Status</p>
						<p class="content-body"><i class="fa fa-thumbs-up"></i> System is up and running. There are no scheduled maintenance windows for this application.</p>
						<a class="btn btn-primary" href="#" role="button">Learn more &raquo;</a>
					</div>
					<div class="col-md-4 text-center">
						<span class="fa-stack fa-5x">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-info fa-stack-1x fa-inverse"></i>
						</span>									
						<p class="lead">Getting Help</p>
						<p class="content-body">Technical support is provided by PennDOT/BPT. For help call Kyle Excert at yyy to talk to someone...</p>
						<a class="btn btn-primary" href="#" role="button">Learn more &raquo;</a>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		
			$(document).ready(function() {
				transam.make_same_height('.content-body');
			});
		
		</script>

		<div id="footer" class="footer">
			<%= render 'shared/footer' %>
		</div>
		<!-- push the java script to the bottom so the page loads faster -->
		<%= render 'shared/javascript' %>


		
	</body>
</html>
