<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title><%= app_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
<!-- Wrap all page content here -->
<div id="wrap">

	<!-- Header -->
	<div class="navbar navbar-fixed-top center">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span5">
						<%= link_to app_title, "/", :class => "brand" %>
	    			</div>
	  			</div>
			</div>
		</div>
	</div>	
	<!-- Begin page content -->
	<div class="container-fluid">
		<div>
			<!-- Main Page Content -->
			<div class="row-fluid">
				<div class="span12">					
					<div class="row-fluid" style="margin-top:40px;">
						<div class="first-in-row span9">
							<div class="hero-unit shadow" style = "height:300px">
								<%= image_tag "logo.svg", :class => "image pull-left", :style => "height:300px"%>
								<h1 style="margin-left:320px;"><%= app_title %></h1>
								<div class="muted" style="margin-left:320px;padding-top:20px;"><%= credits %></div>								
							</div>
						</div>
						<div class="span3">
							<ul class="thumbnails">
								<%= yield %>
							</ul>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>

     <div id="push"></div>
</div>

<script type="text/javascript">

	$(window).load(function() {
		transam.make_same_height('.first-in-row');		
	});

</script>

<%= render 'shared/footer' %>
<!-- push the java script to the bottom so the page loads faster -->
<%= render 'shared/javascript' %>

</body>
</html>
