.btn-group.pull-right.panel-action
  %button.btn.btn-primary.btn-sm.dropdown-toggle{:data => {:toggle => 'dropdown'}}
    I want to  
    %span.caret
  %ul.dropdown-menu{:role => 'menu'}
    - if can? :update, @policy
      %li
        = link_to edit_policy_path(@policy) do
          %i.fa.fa-edit.fa-fw
          = " Modify this policy"
          
    - if can? :create, @policy
      %li.divider
      %li
        = link_to copy_policy_path(@policy) do
          %i.fa.fa-copy.fa-fw
          = " Make a copy"
        
    - if can? :delete, @policy
      %li.divider
      %li
        = link_to policy_path(@policy), :method => :delete, :data => {:confirm => "Are you sure?. The action cannot be undone!."}  do
          %i.fa.fa-trash-o.fa-fw
          = " Remove this policy"
          