.table-responsive
  %table.table.table-condensed
    %thead
      %tr
        %th.center Asset type
        %th.center Asset Subtype
        %th.center ESL (Mo)
        %th.center Repl. Cost
        %th.center Cost FY
        %th.center Replace New
        %th.center Replace Leased
        %th.center Lease Length (Mo)
        %th.center Rehab Service Month
        %th.center Rehab Cost
        %th.center Change in ESL (Mo)
        %th.center ESL Used (Mo)
        - if can? :update, @policy
          %th.center

    %tbody
      - rules.each do |rule|
        %tr
          %td.center= rule.asset_subtype
          %td.center.nowrap= format_as_integer(rule.min_service_life_months)
          %td.center.nowrap= format_as_currency(rule.replacement_cost)
          %td.center.nowrap= format_as_fiscal_year(rule.cost_fy_year)
          %td.center= format_as_boolean(rule.replace_with_new)
          %td.center= format_as_boolean(rule.replace_with_leased)
          %td.center= format_as_integer(rule.lease_length_months)
          %td.center= format_as_integer(rule.rehabilitation_service_month)
          %td.center.nowrap= format_as_currency(rule.rehabilitation_cost)
          %td.center= format_as_integer(rule.extended_service_life_months)
          %td.center= format_as_integer(rule.min_used_purchase_service_life_months)
          - if can? :update, @policy
            %td.center
              = link_to show_edit_form_policy_path(policy, :rule => rule.id, :type => 'asset_subtype'), :remote => true, :title => "Alter rule..." do
                %i.fa.fa-edit.fa-1-5x.text-success
