%table.table.table-condensed
  %thead
    %tr
      %th.center Asset type
      %th.center Asset Subtype
      %th.center Fuel Type
      %th.center ALI Code
      %th.center Max Service Life (Mo)
      %th.center Max Service Life (Mi)
      %th.center Repl. Cost
      %th.center Cost FY
      %th.center Replace New
      %th.center Replace Leased
      %th.center Replace ALI Code
      %th.center Replace Fuel Type
      %th.center Lease Length (Mo)
      %th.center Rehab Service Month
      %th.center Rehab Cost
      %th.center Rehab ALI Code
      %th.center Extnd Service Life (Mo)
      %th.center Extnd Service Life (Mi)
      %th.center Last Updated
      %th.center

    %tbody
      - @policy.policy_asset_subtype_rules.each_with_index do |rule, idx|
        %tr{:data => {:row => idx, :rule => rule.id, :type => 'asset_subtype'}}
          %td.center= rule.asset_subtype.asset_type
          %td.center= rule.asset_subtype
          %td.center= rule.fuel_type
          %td.center.nowrap= rule.ali_code
          %td.center.nowrap= format_as_integer(rule.max_service_life_months)
          %td.center.nowrap= format_as_integer(rule.max_service_life_miles)
          %td.center.nowrap= format_as_currency(rule.replacement_cost)
          %td.center.nowrap= format_as_fiscal_year(rule.cost_fy_year)
          %td.center= format_as_boolean(rule.replace_with_new)
          %td.center= format_as_boolean(rule.replace_with_leased)
          %td.center.nowrap= rule.replacement_ali_code
          %td.center= rule.replace_fuel_type
          %td.center= format_as_integer(rule.lease_length_months)
          %td.center= format_as_integer(rule.rehabilitation_service_month)
          %td.center.nowrap= format_as_currency(rule.rehabilitation_cost)
          %td.center.nowrap= rule.rehabilitation_ali_code
          %td.center= format_as_integer(rule.extended_service_life_months)
          %td.center= format_as_integer(rule.extended_service_life_miles)
          %td.center= format_as_date_time(rule.updated_at)
          %td.center
            = link_to "#", :remote => true, :title => "Alter rule..." do
              %i.fa.fa-edit.fa-1-5x.text-success.row-action
