= simple_form_for(@rule,
  :url => update_policy_rule_policy_path(@policy),
  :remote => true,
  :html => {:class => 'form-vertical', :autocomplete => 'off', :id => 'edit-form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  = f.input :id, :as => :hidden

  .row#type-selector.hidden
    .col-xs-12
      = f.association :asset_type, :collection => AssetType.active, :include_blank => false, input_html: { disabled: true }

  .row
    .col-xs-6
      = f.association :service_life_calculation_type, :include_blank => false

    .col-xs-6
      = f.association :replacement_cost_calculation_type, :include_blank => false

    .col-xs-4
      = f.input :annual_inflation_rate, :input_html => {:required => true, :min => 0, :max => 100}

    .col-xs-4
      = f.input :pcnt_residual_value, :input_html => {:required => true, :min => 0, :max => 100}

  .row
    = f.button :submit, "Submit", :class => 'btn btn-primary'
    %button.btn.btn-default{:data => {:dismiss => "modal"}} Cancel

:javascript

  // validate the form before submittal
  $('#edit-form').validate({
    submitHandler: function(form) {
      $('#rule-modal').modal('hide');
      // Show the spinner while the form request is being handled
      $("#spinner").show();
      $(form).ajaxSubmit();
    }
  });
