<% if @policy_item && @policy_item.errors.count > 0 %>
<%= render(:partial => 'shared/form_errors', :locals => {:obj => @policy_item}) %>
<% end%>
<div class="row-fluid">
	<div class="well well-small span12">
		<%= simple_form_for([@policy, @policy_item], :url => @url, :html => {:class => 'form-horizontal' }) do |f| %>
		<div class="row-fluid">
			<div class="span4">
				<%= f.association :asset_subtype, :label_method => "name", :input_html => {:class => "input-medium"} %>
			</div>
			<div class="span4">
				<%= f.association :sign_sheeting_type, :input_html => {:class => "input-medium"} %>
			</div>
			<div class="span4">
				<%= f.association :post_type, :input_html => {:class => "input-medium"} %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<%= f.input :life_years, :as => :string, :input_html => {:class => "input-small"} %>
			</div>
			<div class="span4">
				<%= f.input :replacement_cost_low, :wrapper => :prepend, :class => "inline" do %>
				<%= content_tag :span, "$", :class => "add-on" %>
				<%= f.input_field :replacement_cost_low, :value => number_with_precision(f.object.replacement_cost_low, :precision => 2), :class => "input-small" %>
				<% end %>
			</div>
			<div class="span4">
				<%= f.input :replacement_cost_high, :wrapper => :prepend, :class => "inline" do %>
				<%= content_tag :span, "$", :class => "add-on" %>
				<%= f.input_field :replacement_cost_high, :value => number_with_precision(f.object.replacement_cost_low, :precision => 2), :class => "input-small" %>
				<% end %>
			</div>
		</div>
		<div class="form-actions">
			<%= f.button :submit %>
			<%= submit_tag 'Cancel', :name => 'cancel', :class=>"btn" %>
			<%= link_to 'Remove rule', destroy_rule_policy_url(@policy, :policy_item_id => @policy_item), :confirm => 'Are you sure you want to remove this rule? This cannot be undone.', :method => :delete, :class => "btn pull-right" %>
		</div>

		<% end %>
	</div>
</div>
