%fieldset
  = format_field("Policy Owner", @policy.organization.name )
  = format_field("Effective Year", @policy.year )
  = format_field("Description", @policy.description )
  = format_field("Parent Policy", @policy.parent.name ) unless @policy.parent.blank?
  = format_field("Current", format_as_boolean(@policy.current) ) unless @policy.current == false
	
%fieldset
  %legend.panel-legend Calculators
  = format_field("Interest Rate", format_as_decimal(@policy.interest_rate, 3) )
  = format_field("Replacement Cost Calculation", @policy.cost_calculation_type.name, @policy.cost_calculation_type.description )
  = format_field("Service Life Calculation", @policy.service_life_calculation_type.name, @policy.service_life_calculation_type.description )
  = format_field("Condition Estimation Calculation", @policy.condition_estimation_type.name, @policy.condition_estimation_type.description )
  = format_field("Condition Threshold", format_as_decimal(@policy.condition_threshold))
  = format_field("Depreciation Calculation", @policy.depreciation_calculation_type.name, @policy.depreciation_calculation_type.description )
