.col-sm-6
  = format_field("Policy Owner", @policy.organization )
  = format_field("Description", @policy.description )
  = format_field("Parent Policy", link_to(@policy.parent.name, policy_path(@policy.parent)) ) unless @policy.parent.blank?
  = format_field("Current", format_as_boolean(@policy.active) )

.col-sm-6
  = format_field("Condition Estimation Calculation", @policy.condition_estimation_type.name, @policy.condition_estimation_type.description )
  = format_field("Condition Threshold", format_as_decimal(@policy.condition_threshold))
