<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
    <Alignment ss:Vertical="Bottom"/>
    <Borders/>
    <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
    <Interior/>
    <NumberFormat/>
    <Protection/>
    </Style>
    <Style ss:ID="s62">
      <NumberFormat ss:Format="&quot;$&quot;#,##0"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Policy">
    <Table>
      <Column ss:AutoFitWidth="1" ss:Width="81"/>
        <Row>
          <Cell><Data ss:Type="String">Policy Owner (Agency)</Data></Cell>
          <Cell><Data ss:Type="String">Description</Data></Cell>
          <Cell><Data ss:Type="String">Current</Data></Cell>
          <Cell><Data ss:Type="String">Condition Estimation Method</Data></Cell>
          <Cell><Data ss:Type="String">Condition Threshold</Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String"><%= @policy.organization %></Data></Cell>
          <Cell><Data ss:Type="String"><%= @policy.description %></Data></Cell>
          <Cell><Data ss:Type="String"><%= @policy.active ? 'Yes' : 'No' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= @policy.condition_estimation_type %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= format_as_decimal(@policy.condition_threshold) %></Data></Cell>
        </Row>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Asset Type Rules">
    <Table>
      <Column ss:AutoFitWidth="1" ss:Width="81"/>
        <Row>
          <Cell><Data ss:Type="String">Asset Type</Data></Cell>
          <Cell><Data ss:Type="String">Service Life Calculation Method</Data></Cell>
          <Cell><Data ss:Type="String">Replacement Cost Estimation Method</Data></Cell>
          <Cell><Data ss:Type="String">Annual Inflation Rate (%)</Data></Cell>
          <Cell><Data ss:Type="String">% Residual Value at End of Life</Data></Cell>
        </Row>
        <% @policy.policy_asset_type_rules.each do |rule| %>
          <Row>
            <Cell><Data ss:Type="String"><%= rule.asset_type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= rule.service_life_calculation_type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= rule.replacement_cost_calculation_type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= format_as_percentage(rule.annual_inflation_rate, 2) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= format_as_percentage(rule.pcnt_residual_value, 2) %></Data></Cell>
          </Row>
        <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Asset Subtype Rules">
    <Table>
      <Column ss:AutoFitWidth="1" ss:Width="81"/>
        <Row>
          <Cell ss:MergeAcross="1"><Data ss:Type="String">Asset Type</Data></Cell>
          <Cell ss:MergeAcross="7"><Data ss:Type="String">Replacement</Data></Cell>
          <Cell ss:MergeAcross="3"><Data ss:Type="String">Rehabilitation</Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String">Asset Type</Data></Cell>
          <Cell><Data ss:Type="String">Asset Subtype</Data></Cell>

          <Cell><Data ss:Type="String">Min Service Life</Data></Cell>
          <Cell><Data ss:Type="String">Replacement Cost</Data></Cell>
          <Cell><Data ss:Type="String">Cost Year</Data></Cell>
          <Cell><Data ss:Type="String">Replace With New</Data></Cell>
          <Cell><Data ss:Type="String">Replace With Leased</Data></Cell>
          <Cell><Data ss:Type="String">Min Used Purchase Life</Data></Cell>
          <Cell><Data ss:Type="String">Lease Length</Data></Cell>
          <Cell><Data ss:Type="String">Asset Subtype</Data></Cell>

          <Cell><Data ss:Type="String">Month Of Rehab</Data></Cell>
          <Cell><Data ss:Type="String">Avg. Labor Cost</Data></Cell>
          <Cell><Data ss:Type="String">Avg. Material Cost</Data></Cell>
          <Cell><Data ss:Type="String">Ext Months</Data></Cell>
        </Row>
        <% @policy.policy_asset_subtype_rules.each do |rule| %>
          <Row>
            <Cell><Data ss:Type="String"><%= rule.asset_subtype.asset_type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= rule.asset_subtype %></Data></Cell>

            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.min_service_life_months) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.replacement_cost) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.cost_fy_year) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= rule.replace_with_new? ? 'Y' : 'N' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= rule.replace_with_leased? ? 'Y' : 'N' %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.min_used_purchase_service_life_months) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.lease_length_months) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= rule.replace_asset_subtype %></Data></Cell>

            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.rehabilitation_service_month) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.rehabilitation_labor_cost) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.rehabilitation_parts_cost) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(rule.extended_service_life_months) %></Data></Cell>
          </Row>
        <% end %>
    </Table>
  </Worksheet>
</Workbook>
