:css
  .submit-action, .cancel-action {
    font-size: 2.5em;
    margin-top: 15px;
  }
  .row-action:hover {
    cursor: pointer;
  }
  #spinner {
    top: 250px;
    left: 50%;
    z-index: 1001;
    margin-left: -2em;
    position: absolute;
  }

  fieldset + fieldset {
      margin-top: 30px;
  }

.row
  .col-sm-12
    .page-header
      %h2 Asset Replacement/Rehabilitation Policy

  .col-sm-12
    %fieldset
      %legend Filters
      = form_tag policies_path, :id => 'filter_form', :method => "get", :class => 'navbar-form panel-action', style: 'padding-top: 1px' do
        .form-group
          = select_tag(:organization_id, options_for_select(Organization.distinct.joins('INNER JOIN policies ON policies.organization_id = organizations.id').where(id: @organization_list).map{|f| [f.coded_name,f.id]}, :selected => @policy.organization_id), :class => "form-control")
        .form-group
          = select_tag(:policy_id, options_for_select(Policy.where(organization_id: @policy.organization_id).order(active: :desc).map{|f| ["#{f.description} #{f.active ? '(Current)' : ''}",f.id]}, :selected => @policy.id), :class => "form-control")

        = button_tag :class => 'btn btn-default', :type => 'submit' do
          %i.fa.fa-filter

    %fieldset
      %legend Policy Rules
      .row
        .col-sm-12
          .btn-toolbar.pull-right{:style => 'margin-top: 7px;'}
            = render 'actions'
      .row
        = render 'summary'

  .col-sm-12
    #spinner
      = loader_panel_tag({:message => "Working...", :size => 3, :spinner => "refresh"})

  .col-sm-12#rules-container{style: 'padding-top: 30px;'}
    = render 'rules'

.modal.fade#rule-modal{:tabindex => -1, :role => 'dialog', :aria => {:hidden => true}}

:javascript

  var tab_key = 'policy_asset_types_tab_key';

  $(document).ready(function() {

    $('#spinner').hide();

    // Manage the tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      // save the latest tab
      var this_tab = $(this).attr('href');
      transam.set_ui_key_value(tab_key, this_tab);
    });

    reset_view();
  });

  function reset_view() {
    // Make the tabs responsive if the viewport gets smaller than the displayed tabs
    $('.responsive-tabs').tabdrop({
      text: '<i class="fa fa-align-justify"></i>'
    });

    // Activate the button actions
    enable_button_actions();

    show_last_tab();
  };

  function show_last_tab() {
    var last_tab = transam.get_ui_key_value(tab_key);
    if (last_tab) {
      $('a[href="'+last_tab+'"]').tab('show');
    } else {
      // Default to the first tab if no tab is stored
      $('a[data-toggle="tab"]:first').tab('show');
    }
  };

  // Adds handlers for the row actions
  function enable_button_actions() {
    // Enable click handlers for the row actions
    $('.button-action').on('click', function() {
      var url = $(this).data('url');
      // Show the spinner
      $("#spinner").show();
      $.ajax({
        url: url,
        success: function(result) {
          //console.log('Success');
          $('#spinner').hide();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          // If there is an error, remove the row
          //remove_form();
          alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
        }
      });
    });
  };

  $('#organization_id').change(function() {

    var url = '#{get_policies_organizations_path}';
        $.ajax({
          url: url,
          data: {organization_id: $(this).val()},
          success: function(result){
            $('#policy_id').empty();

            for(i = 0;i<result.length;i++){
              //add an option for each organizations available to the tempalte
              $('#policy_id').append(
                  $("<option></option>").attr("value", result[i][0]).text(result[i][1])
              );
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert("We are sorry but something went wrong. " + xhr.status + " " + thrownError);
          }
        });

  });
