= render(:partial => 'shared/form_errors', :locals => {:obj => @builder_proxy}) unless @builder_proxy.errors.empty?

#processing
  = render :partial => 'shared/running_process', :locals => {:message => @message}

#form
  .row
    .col-md-3
      = dialog_tag('Asset Updater', {:icon => 'fa fa-book', :class => "header_part"}) do
        = render 'updater_notes'
    .col-md-6
      = dialog_tag('Asset Updater Details', {:icon => 'fa fa-cogs', :class => "header_part"}) do
        = render 'updater_form'
    .col-md-3
      = dialog_tag('Instructions', {:icon => 'fa fa-info-circle', :class => "header_part"}) do
        = render 'updater_instructions'

:javascript

  // Document Ready
  $(document).ready(function(){
    // Hide the processing div and show the form
    $('#processing').hide();
    $('#form').show();

    // install a submit handler for the form
    $('form').submit(function() {
      $('#processing').show();
      $('#form').hide();
      return true;
    });

    // Fix the view
    transam.make_same_height('.header_part');
  });

